/* functions not covered by Adrian's base classes.
   I don't want to modify the original, since he'll make refinements.
*/
.bse_modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 3;
    overflow: visible;
    height: 100%;
    width: 100%;
}

#base_work {
    color: #FFF;
}

.buttons>span span.spinner {
  background: transparent url(/images/admin/ui/spinner.gif) no-repeat 100% 50%;
}

.bse_field_error {
  margin-top: 2em;
  margin-left: -25em;
  color: #F00;
}
