/* functions not covered by Adrian's base classes */
.bse_modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 3;
    overflow: visible;
    height: 100%;
    width: 100%;
}

#base_work {
    top: 5em;
    color: #FFF;
}
