<:wrap admin/base.tmpl title => "Image Clean":>

<h1>Image Clean</h1>

<p>This process will remove any orphan image objects and files from
the image directory.</p>

<p>If you keep unmanaged files in the managed images directory that
start with 8 or more digits, this process <strong>will remove those
files</strong>.</p>

<p>You may want to back up your database and content before using this
tool.</p>

<p><a href="<:= cfg.admin_url2("imageclean", "preview") | html :>">Start</a></p>
