<:wrap admin/base.tmpl title => "Image Clean":>

<h1>Image Clean</h1>

<p>This process will remove any orphan image objects and files from
the image directory.</p>

<p><a href="<:= cfg.admin_url2("imageclean", "preview") | html :>">Start</a></p>
