<:wrap admin/base.tmpl title => "Image Clean":>

<h1>Image Clean - Preview</h1>

<p>| <a href="<:= cfg.admin_url("menu") | html :>">Admin Menu</a>
|</p>

<form action="<:= cfg.admin_url2("imageclean") | html :>" method="post">
<div class="imageclean">
<:iterator begin messages:>
<:-.set msgbase = [ state, "msg:bse/admin/imageclean/", "NOMSGID" ][1] -:>
<:- .if state.type eq "stage" -:>
  <h1><:= request.catmsg(msgbase _ "stage/" _ state.stage) -:></h1>
<: .elsif state.type eq "substage" -:>
  <h2><:= request.htmlmsg(msgbase _ "substage/" _ state.stage _ "/" _ state.substage) |raw :></h2>
<: .elsif state.type eq "orphanimage" :>
  <div><input type="checkbox" name="image" value="<:= state.image.id :>" checked="checked" />
  <:= request.htmlmsg(msgbase _ "preview/image", [ state.image.id, state.image.image ]) |raw :></div>
<: .elsif state.type eq "orphanfile" :>
  <div><input type="checkbox" name="file" value="<:= state.file :>" checked="checked" />
  <:= request.htmlmsg(msgbase _ "preview/file", [ state.file ]) |raw:></div>
<: .elsif state.type eq "error" :>
<div class="message error"><:= state.error | html :></div>
<: .end if -:>
<:iterator end messages:>
<input type="submit" name="a_final" value="Clean up these files" />
</div>
</form>
