Dear <:user name1:>,

This email is sent to confirm your booking of a seminar by our
customer support process.

  Course   : <:seminar title:>
  Location : <:location description:>
  Date     : <:date session when_at:>
  Time     : <:date "%I:%M %P" session when_at:>
<:iterator begin options
:>  <:option desc:>: <:option value:>
<:iterator end options:>
