Dear <:user name1:>,

Your seminar booking has been modified:

  Course   : <:seminar title:>
  Location : <:location description:>
  Date     : <:date session when_at:>
  Time     : <:date "%I:%M %P" session when_at:>
<:iterator begin options
:>  <:option desc:>: <:option value:>
<:iterator end options:>
  