<:wrap base.tmpl title=>"Cancel Seminar Booking":>
<h1>Cancel Seminar Booking</h1>
<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:> 
<form action="/cgi-bin/nuser.pl/user/cancelbooking" method="post">
<input type="hidden" name="id" value="<:booking id:>" />
<:ifCgi r:><input type="hidden" name="r" value="<:cgi r:>" /><:or:><:eif:>
<table>
  <tr>
    <th>Seminar:</th>
    <td><a href="<:seminar link:>"><:seminar title:></a></td>
  </tr>
  <tr>
    <th>Location:</th>
    <td><a href="/cgi-bin/shop.pl?a_location=1&amp;location_id=<:location id:>"><:location description:></a></td>
  </tr>
  <tr>
    <th>Date:</th>
    <td><:date session when_at:></td>
  </tr>
  <tr>
    <th>Time:</th>
    <td><:date "%I:%M %P" session when_at:></td>
  </tr>
<:iterator begin options:>
  <tr>
   <th><:option desc:>:</th>
   <td><:option display:></td>
  </tr>
<:iterator end options:>
  <tr>
    <td colspan="3"><input type="submit" value="Cancel Booking" /></td>
  </tr>
</table>
</form>
