<:wrap base.tmpl:> 
<:include include/usermenu.tmpl:>
<p><:ifUser 
  name1:><:user name1:><:or:><:user userId:><:eif:>'s Wishlist</p>
<p>Copy and paste <a href="<:dyntarget user wishlist user [user userId]:>">this link</a> to give others access to your wishlist.</p>
<:if Wishlist:>
<table>
<:iterator begin wishlist:>
<tr>
  <td><:dthumbimage wishlistentry search search,1:></td>
  <td><a href="<:url wishlistentry:>"><:wishlistentry title:></a></td>
  <td><a href="<:dyntarget nuser wishlistdel product_id [wishlistentry id]:>">Remove</a>
      <:ifFirstWishlistentry:><:or:><a href="<:dyntarget nuser wishlistup product_id [wishlistentry id]:>">Up</a> <a href="<:dyntarget nuser wishlisttop product_id [wishlistentry id]:>">Top</a><:eif:>
      <:ifLastWishlistentry:><:or:><a href="<:dyntarget nuser wishlistdown product_id [wishlistentry id]:>">Down</a> <a href="<:dyntarget nuser wishlistbottom product_id [wishlistentry id]:>">Bottom</a><:eif:>
  </td>
</tr>
<:iterator end wishlist:>
</table>
<:or Wishlist:>
<p>Your wishlist is empty.</p>
<:eif Wishlist:>