<:wrap base.tmpl:>
<div align=center>
  <table width="350">
    <tr> 
      <th colspan="2" align="center"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="3"><b>Blacklisting</b></font></p>
      </th>
    </tr>
    <tr> 
      <td colspan="2"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">The email 
          address <b><:email:></b> is now black listed.</font></p>
      </td>
    </tr>
  </table>
</div>