<:wrap base.tmpl:>
<div align=center><table width="80%">
<tr>
  <th colspan="2" align="center">
    <p><b>Email Confirmation</b></p>
  </th>
</tr>
<tr>
  <td colspan="2">
    <p>The email address <b><:user email:></b> is has been confirmed 
    for receiving newsletters.</p>

    <p>NOTE: if you change your email address you will need to confirm
    it again.</p>
  </td>
</tr>
</table>
</div>