<:wrap base.tmpl:>
<div align=center>
  <table width="350">
    <tr> 
      <th colspan="2" align="center"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="3"><b>Confirmation 
          Sent</b></font></p>
      </th>
    </tr>
    <tr> 
      <td colspan="2"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">A confirmation 
          email message has been sent to your email address, <b><:user email:></b>.</font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Once you 
          follow the confirmation link included in that email any future newsletters 
          that you have subscribed to will be sent to your address.</font></p>

	  <p><font face="Verdana, Arial, Helvetica, sans-serif"
	  size="2">This message also includes a link you can use to go
	  back and change your details</font></p>
      </td>
    </tr>
  </table>
</div>