<:wrap base.tmpl:>
<div align=center>
  <table width="350">
    <tr> 
      <th colspan="2" align="center"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="3"><b>Email 
          Confirmation</b></font></p>
      </th>
    </tr>
    <tr> 
      <td colspan="2"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">The email 
          address <b><:user email:></b> has been confirmed for receiving newsletters.</font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">NOTE: if 
          you change your email address you will need to confirm it again.</font></p>
      </td>
    </tr>
  </table>
</div>