You, or someone at IP address <:remote_addr:> has attempted to subscribe
this email address to one or more newsletters at <:cfg site name:>.

To prevent someone subscribing this email address without your permission
we send this confirmation request.

<:cfg site name:> will send a maximum of three confirmation requests, 
and will send no request within 48 hours of any previous request.

If you do indeed want to subscribe to the newsletters you selected 
from your User Options at <:cfg site name:>, open the following link in
your web browser:

  <:cfg site url:>/cgi-bin/user.pl?confirm=<:user confirmSecret:>&u=<:user id:>

If you never want to receive any email from <:site cfg name:> you can
add your email address to our email blacklist by opening the following
link in your web browser:

  <:cfg site url:>/cgi-bin/user.pl?blacklist==<:user email |u:>

