<:wrap base.tmpl:>
<div align=center>
  <table width="300">
    <tr> 
      <th colspan="2" align="center"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="3"><b>User 
          Logon</b></font></p>
      </th>
    </tr>
    <:if User:> 
    <tr> 
      <td nowrap><font face="Verdana, Arial, Helvetica, sans-serif" size="2">You 
        are already logged in!</font></td>
      <td align="right"> 
        <form action="/cgi-bin/user.pl" method="post">
          <input type="submit" name="logoff" value="Logoff" />
        </form>
      </td>
    </tr>
    <:or User:> <:if Message:> 
    <tr> 
      <td colspan="2" align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><:message:></font></b></td>
    </tr>
    <:or Message:><:eif Message:> 
    <form action="/cgi-bin/user.pl" method="post">
      <:if Cgi r:> 
      <input type="hidden" name="r" value="<:cgi r:>">
      <:or Cgi:><:eif Cgi:> 
      <tr> 
        <th align="left" nowrap><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Logon 
          Name:</font></b></th>
        <td style="white-space: nowrap;"> 
          <input type="text" name="userid" value="<:old userid:>" size="40" /><:error_img userid:>
        </td>
      </tr>
      <tr> 
        <th align="left" nowrap><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Password:</font></b></th>
        <td style="white-space: nowrap;"> 
          <input type="password" name="password" value="" size="40" /><:error_img password:>
        </td>
      </tr>
      <tr> 
        <td>&nbsp; </td>
        <td align="right">
          <input type="submit" name="logon" value="Logon" />
        </td>
      </tr>
      <tr> 
        <td colspan="2" align="right"> 
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr> 
              <td align="left" nowrap><br>
                <a href="/cgi-bin/user.pl?show_lost_password=1"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Lost 
                your password?</font></a></td>
              <td align="right" nowrap><br>
                <a href="/cgi-bin/user.pl?show_register=1<:ifCgi r:>&r=<:cgi r |u:><:or:><:eif:>"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Not 
                yet registered?</font></a></td>
            </tr>
            <:eif User:> 
          </table>
        </td>
      </tr>
    </form>
  </table>
</div>