<:wrap base.tmpl:>
<div align=center><table width="50%">
  <tr>
    <th colspan="2" align="center">
      <p><b>User Logon</b></p>
    </th>
  </tr>
  <tr>
    <td align="left"><a href="/cgi-bin/user.pl?show_lost_password=1">Lost password?</a></td>
    <td align="right"><a href="/cgi-bin/user.pl?show_register=1<:ifCgi r:>&r=<:cgi r |u:><:or:><:eif:>">Register</a></td>
  </tr>
<:if User:>
  <tr>
   <td>You are already logged in</td>
   <td><form action="/cgi-bin/user.pl" method="post">
        <input type="submit" name="logoff" value="Log off" />
       </form></td>
  </tr>
<:or User:><:eif User:>
<:if Message:>
<tr>
  <td colspan="2" align="center"><b><:message:></b></td>
</tr>
<:or Message:><:eif Message:>
<form action="/cgi-bin/user.pl" method="post">
<:if Cgi r:>
<input type="hidden" name="r" value="<:cgi r:>">
<:or Cgi:><:eif Cgi:>
<tr>
  <td>Logon Name</td>
  <td><input type="text" name="userid" value="" /></td>
</tr>
<tr>
  <td>Password:</td>
  <td><input type="password" name="password" value="" /></td>
</tr>
<tr>
   <td colspan="2" align="right"><input type="submit" name="logon" value="Logon" /></td>
</tr>
</form>
</table>
</div>