<:wrap base.tmpl:>
<div align=center>
  <table width="250">
    <tr> 
      <th colspan="2" align="center"> 
        <p><b><font face="Verdana, Arial, Helvetica, sans-serif" size="3">Lost 
          Password</font></b></p>
      </th>
    </tr>
    <form action="/cgi-bin/user.pl" method="post">
      <tr> 
        <td colspan="2"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
          Please enter your Logon Name. Your password will be emailed to the address 
          you entered when you registered. </font></td>
      </tr>
      <tr> 
        <th align="left" nowrap><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Logon 
          Name:</font></b></th>
        <td width="100%"> 
          <input type="text" name="userid" value="" size="40" />
        </td>
      </tr>
      <tr> 
        <td colspan="2" align="right"> 
          <input type="submit" name="lost_password" value="Mail Password" />
        </td>
      </tr>
    </form>
  </table>
</div>