Hello <:user userId:>,

Someone, possibly you, from <:host:> asked 
<:site:> to send you a copy of your password.

If it wasn't you, you can ignore this email, since it was only sent to
you.

If it was you, your password is:

  <:user password:>

Regards
The happy crew at <:site:>