Hello <:user userId:>,

We have received a request from <:host:> asking 
<:site:> to send you a reminder of your password.

If you did not make this request, please be reassured that your password is 
only forwarded to your registered email address for security reasons.  
No-one else can access it.

Your password is:

  <:user password:>

Any questions should be directed to: <:adminEmail:>

Regards
The happy crew at <:site:>