<:wrap base.tmpl:>
<div align=center><table>
<tr>
  <th colspan="2" align="center">
    <p><b>Lost Password</b></p>
  </th>
</tr>
<form action="/cgi-bin/user.pl" method="post">
<tr>
  <td colspan="2">
   Please enter your userid.  Your password will be emailed to the address you entered when you registered.
  </td>
</tr>
<tr>
  <td>Logon Name</td>
  <td><input type="text" name="userid" value="" /></td>
</tr>
<tr>
   <td colspan="2" align="right"><input type="submit" name="lost_password" value="Mail Password" /></td>
</tr>
</form>
</table>
</div>