<:wrap base.tmpl:>
<div align=center>
  <table width="250">
    <tr> 
      <th colspan="2" align="center"> 
        <p><b><font face="Verdana, Arial, Helvetica, sans-serif" size="3"><:if Cfg "site users" nopassword:><:or Cfg:>Lost 
          Password<:eif Cfg:></font></b></p>
      </th>
    </tr>
    <form action="/cgi-bin/user.pl" method="post">
<:if Cfg "site users" nopassword:>
      <tr> 
        <td colspan="2"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
          Please enter your email address as you entered it within our system.  The link to access your account details will be sent to that address.</font></td>
      </tr>
<:or Cfg:>
      <tr> 
        <td colspan="2"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
          Please enter your Logon Name.  You will be sent a URL you can use to change your password. </font></td>
      </tr>
<:eif Cfg:>
<:ifMessage:>
      <tr> 
        <td colspan="2" align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
          <b><:message:></b> </font></td>
      </tr><:or:><:eif:>
      <tr> 
        <th align="left" nowrap><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><:if Cfg "site users" nopassword:>Email 
          Address<:or Cfg:>Logon 
          Name<:eif Cfg:>:</font></b></th>
        <td width="100%"> 
          <input type="text" name="userid" value="<:old userid:>" size="40" /><:error_img userid:>
        </td>
      </tr>
      <tr> 
        <td colspan="2" align="right"> 
          <input type="submit" name="lost_password" value="<:if Cfg "site users" nopassword:>Mail Options Link<:or Cfg:>Next<:eif Cfg:>" />
        </td>
      </tr>
    </form>
  </table>
</div>