Hello <:user userId:>,

<:if Cfg "site users" nopassword
:>We have received a request from <:host:> asking 
<:site:> to send you a reminder of the link used to access your
subscriptions.

If you did not make this request, please be reassured that your link is 
only forwarded to your registered email address for security reasons.  
No-one else can access it.

The link to access your options is:

  <:cfg site url:>/cgi-bin/user.pl?show_opts=<:user password:>&u=<:user id:>

<:or Cfg:>We have received a request from <:host:> indicating that
you've forgotten or lost your password.

To take the next step in recovering your account, visit:

<:cfg site secureurl:>/cgi-bin/user.pl/lost/<:user lost_id:>

<:eif Cfg:>Any questions should be directed to: <:adminEmail:>

Regards
The happy crew at <:site:>