<:wrap base.tmpl:>
<div align=center>
  <table width="350">
    <tr> 
      <th align="center"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="3"><b><:ifCfg "site users" nopassword:>Lost Options Link<:or:>Lost 
          Password<:eif:></b></font></p>
      </th>
    </tr>
<:if Cfg "site users" nopassword:>
    <tr> 
      <td align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        Your options link has been emailed to <b><:emailuser email:></b>. </font></td>
    </tr>
<:or Cfg:>
    <tr> 
      <td align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        Your password has been emailed to <b><:emailuser email:></b>. </font></td>
    </tr>
    <tr> 
      <td align="center"> <br>
        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"><a href="<:script:>">Return 
        to Logon page</a> </font></td>
    </tr>
<:eif Cfg:>
  </table>
</div>