<:wrap base.tmpl:>
<div align=center>
  <table width="350">
    <tr> 
      <th colspan="2" align="center"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="3"><b>Not Authenticated</b></font></p>
      </th>
    </tr>
    <tr> 
      <td colspan="2"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" 
	size="2">Please use the link included in your confirmation email to 
	access your personal details.</font></p>

	<p><font face="Verdana, Arial, Helvetica, sans-serif"
	size="2">If you haven't yet registered you can <a
	href="<:script:>?show_register=1">register</a>, or if you've
	lost the email containing your options link, <a
	href="<:script:>?show_lost_password=1">ask us to send it
	again</a>.</font></p>

      </td>
    </tr>
  </table>
</div>