<:wrap base.tmpl:>
<div align=center class="useroptions"> 
<:if Cfg "site users" nopassword:><:or Cfg:>
<:if Partial_logon:><:or Partial_logon:>
  <table border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td> 
        <form name="yourorders" method="post" action="<:script:>">
          <input type="submit" name="Submit" value="View your account" class="user-buttons" />
          <input type="hidden" name="userpage" value="1" />
        </form>
      </td>
      <:ifCfg shop enabled:><td> 
        <form name="ff" method="post" action="/cgi-bin/shop.pl">
          <input type="submit" name="cart" value="View shopping cart" class="user-buttons" />
        </form>
      </td><:or:><:eif:>
    </tr>
  </table>
  <br />
<:eif Partial_logon:>
<:eif Cfg:>
  <table width="250">
    <tr> 
      <th colspan="2" height="20" class="thead"> 
        <p>User Options - Delivery</p>
      </th>
    </tr>
<:if Partial_logon:><:or Partial_logon:>
    <tr> 
      <td colspan="2" align="center"> 
        <p><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Hello <:ifUser name1:><:user name1:> <:user name2:><:or:><:user 
          userId:><:eif:></font></b></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#999999">Last logged in: <:date user previousLogon:><br>
          Registered since: <:date user whenRegistered:></font><br>
          <br>
        </p>
        </td>
    </tr>
<:eif Partial_logon:>
    <:if Message:> 
    <tr> 
      <td colspan="2" align="center"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><b>Error: 
          <:message:></b></font></p>
      </td>
    </tr>
    <:or Message:><:eif Message:> 
    </tr>
      <tr> 
        <td colspan="2" height="20" align="center"><br>
          <br>
          <a href="<:script:>?show_opts=1">Return to Main Options</a></td>
      </tr>
    <form action="/cgi-bin/user.pl" method="post">
    <input type="hidden" name="_t" value="delivery" />
    <:if Cfg "site users" nopassword:>
    <input type="hidden" name="u" value="<:user id:>" />
    <input type="hidden" name="p" value="<:user password:>" />
    <input type="hidden" name="r" value="<:script:>?show_opts=<:user password:>&amp;u=<:user id:>&_t=saved" />
    <:or Cfg:><:eif Cfg:>
<:if Cfg "site users" nopassword:><:or Cfg:>
      <tr> 
        <th>Logon Name:</th>
        <td width="100%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><:user 
          userId:></font></td>
      </tr>
<:eif Cfg:>
      <tr> 
        <th>First Name:</th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="delivFirstName" value="<:last delivFirstName:>" size="40" maxlength="127" /><:error_img delivFirstName:>
        </td>
      </tr>
      <tr> 
        <th>Last Name:</th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="delivLastName" value="<:last delivLastName:>" size="40" maxlength="127" /><:error_img delivLastName:>
        </td>
      </tr>
      <tr> 
        <th>Organization:</th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="delivOrganization" value="<:last delivOrganization:>" size="40" maxlength="127" /><:error_img delivOrganization:>
        </td>
      </tr>
      <tr> 
        <th>Street:</th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="delivStreet" value="<:last delivStreet:>" size="40" maxlength="127" /><:error_img delivStreet:>
        </td>
      </tr>
      <tr> 
        <th></th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="delivStreet2" value="<:last delivStreet2:>" size="40" maxlength="127" /><:error_img delivStreet2:>
        </td>
      </tr>
      <tr> 
        <th>Suburb:</th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="delivSuburb" value="<:last delivSuburb:>" size="40" maxlength="127" /><:error_img delivSuburb:>
        </td>
      </tr>
      <tr> 
        <th>State:</th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="delivState" value="<:last delivState:>" size="40" maxlength="127" /><:error_img delivState:>
        </td>
      </tr>
      <tr> 
        <th>Post Code:</th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="delivPostCode" value="<:last delivPostCode:>" size="40" maxlength="127" /><:error_img delivPostCode:>
        </td>
      </tr>
      <tr> 
        <th>Country:</th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="delivCountry" value="<:last delivCountry:>" size="40" maxlength="127" /><:error_img delivCountry:>
        </td>
      </tr>
      <tr> 
        <th>Telephone:</th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="delivTelephone" value="<:last delivTelephone:>" size="40" maxlength="127" /><:error_img delivTelephone:>
        </td>
      </tr>
      <tr> 
        <th>Mobile:</th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="delivMobile" value="<:last delivMobile:>" size="40" maxlength="127" /><:error_img delivMobile:>
        </td>
      </tr>
      <tr> 
        <th>Facsimile:</th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="delivFacsimile" value="<:last delivFacsimile:>" size="40" maxlength="127" /><:error_img delivFacsimile:>
        </td>
      </tr>
      <tr> 
        <th>Email:</th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="delivEmail" value="<:last delivEmail:>" size="40" maxlength="127" /><:error_img delivEmail:>
        </td>
      </tr>
      <tr> 
        <td colspan="2" align="right"> 
          <input type="submit" name="saveopts" value="Save Options" class="user-buttons" />
        </td>
      </tr>
    </form>
  </table>
</div>
