<:wrap base.tmpl:>
<div align="center" class="useroptions"> 
<:if Cfg "site users" nopassword:><:or Cfg:>
<:if Partial_logon:><:or Partial_logon:>
  <table border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td> 
        <form name="yourorders" action="<:script:>">
          <input type="submit" name="Submit" value="View your account" class="user-buttons" />
          <input type="hidden" name="userpage" value="1" />
        </form>
      </td>
      <:ifCfg shop enabled:><td> 
        <form name="ff" action="/cgi-bin/shop.pl">
          <input type="submit" name="cart" value="View shopping cart" class="user-buttons" />
        </form>
      </td><:or:><:eif:>
    </tr>
  </table>
  <br />
<:eif Partial_logon:>
<:eif Cfg:>
  <table width="250">
    <tr> 
      <th colspan="2" height="20" class="thead"> 
        <p>User 
          Options</p>
      </th>
    </tr>
<:if Partial_logon:>
    <tr> 
      <td colspan="2" align="center"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><b>Not all registration was received, please update your registration as below:</b></font></p>
      </td>
    </tr>
<:or Partial_logon:>
    <tr> 
      <td colspan="2" align="center"> 
        <p><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Hello <:ifUser name1:><:user name1:> <:user name2:><:or:><:user 
          userId:><:eif:></font></b></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#999999">Last logged in: <:date user previousLogon:><br>
          Registered since: <:date user whenRegistered:></font><br>
          <br>
        </p>
        </td>
    </tr>
<:eif Partial_logon:>
    <:if Message:> 
    <tr> 
      <td colspan="2" align="center"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><b>
          <:message:></b></font></p>
      </td>
    </tr>
    <:or Message:><:eif Message:> 
<:if Imagetemplates:>
    <tr> 
      <td colspan="2" height="20" align="center"> 
        <a href="<:script:>?show_opts=1&_t=images">Manage Logos</a>
<:ifSubscribedTo affiliatepage:>| <a href="<:script:>?show_opts=1&_t=affiliate">Manage Affiliate Page</a><:or:><:eif:>
      </td>
    </tr>
<:or Imagetemplates:><:eif Imagetemplates:>
    <form action="/cgi-bin/user.pl" method="post">
    <input type="hidden" name="saveSubscriptions" value="1" />
    <:if Cfg "site users" nopassword:>
    <input type="hidden" name="u" value="<:user id:>" />
    <input type="hidden" name="p" value="<:user password:>" />
    <input type="hidden" name="r" value="<:script:>?show_opts=<:user password:>&amp;u=<:user id:>&_t=saved" />
    <:or Cfg:><:eif Cfg:>
<:if Cfg "site users" nopassword:><:or Cfg:>
      <tr> 
        <th nowrap="nowrap" align="left"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Logon 
          Name:</font></b></th>
        <td width="100%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><:user 
          userId:></font></td>
      </tr>
<:eif Cfg:>
      <tr> 
        <th nowrap="nowrap" align="left"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Email 
          Address:</font></b></th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="email" value="<:last email:>" size="40" maxlength="127" /><:error_img email:>
        </td>
      </tr>
<:if Cfg "site users" nopassword:>
      <tr> 
        <th nowrap="nowrap" align="left"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Confirm Email:</font></b></th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="confirmemail" value="<:last confirmemail:>" size="40" maxlength="127" /><:error_img confirmemail:>
        </td>
      </tr>
<:or Cfg:><:eif Cfg:>      
      <!--//<tr> 
        <th nowrap="nowrap" align="left"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Keep 
          Details:</font></b></th>
        <td width="100%"><input type="hidden" name="saveKeepAddress" value="1" /><input type="checkbox" name="keepAddress" value="1"<:ifLast keepAddress:> checked<:or:><:eif:> /></td>
      </tr> //-->
      <:if Subscriptions:> 
      <tr> 
        <td nowrap="nowrap" valign="top"> 
          <table width="100%" border="0" cellspacing="0" cellpadding="0" height="20">
            <tr> 
              <th nowrap="nowrap" align="left"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Subscription:</font></b></th>
            </tr>
          </table>
        </td>
        <td width="100%"> 
          <table border="0" cellspacing="0" cellpadding="0">
            <:iterator begin subscriptions:> 
            <tr height="20"> 
              <td> <input type="checkbox" name="subscription" value="<:subscription id:>"<:ifSubscribed:> 
                checked<:or:><:eif:> /></td>
              <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><:subscription 
                name:></font></td>
              <td>&nbsp;&nbsp;<a href="#" onClick="javascript:window.open('<:siteUrl:><:script:>?subinfo=1&id=<:subscription id:>', 'subscription_info','width=350,height=200,location=no,status=no,menubar=no,scrollbars=yes'); return 0"><img src="/images/info.gif" width="16" height="16" border="0" /></a></td>
            </tr>
            <:iterator end subscriptions:> 
          </table>
          <:if AnySubs:> <:if User confirmed:><:or User:> 
          <div><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><b>Note:</b> 
            you haven't confirmed your subscriptions. You will not receive any 
            subscriptions until you go to the URL provided in the confirmation 
            email sent to your email address.</font></div>
          <:eif User:> <:or AnySubs:> <:if User confirmed:> 
          <!-- possible note that subscriptions will be enabled immediately -->
          <:or User:> 
          <div><font face="Verdana, Arial, Helvetica, sans-serif" size="2">If 
            you select any newsletters, they will not be sent until you confirm 
            your subscription. If you change your email address you will need 
            to reconfirm your subscription.</font></div>
          <:eif User:> <:eif AnySubs:> 
          <p> 	<input type="hidden" name="saveTextOnlyMail" value="1" /><input type="checkbox" name="textOnlyMail" value="1"<:ifLast textOnlyMail:> 
            checked<:or:><:eif:> /> <font face="Verdana, Arial, Helvetica, sans-serif" size="2">Text 
            only E-mail messages</font></p>
        </td>
      </tr>
      <:or Subscriptions:><:eif Subscriptions:> 
      <tr> 
        <th nowrap="nowrap" align="left"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">First 
          Name:</font></b></th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="name1" value="<:last name1:>" size="40" maxlength="127" /><:error_img name1:>
        </td>
      </tr>
      <tr> 
        <th nowrap="nowrap" align="left"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Last 
          Name:</font></b></th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="name2" value="<:last name2:>" size="40" maxlength="127" /><:error_img name2:>
        </td>
      </tr>
      <tr> 
        <th nowrap="nowrap" align="left"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Title:</font></b></th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="title" value="<:last title:>" size="40" maxlength="127" /><:error_img title:>
        </td>
      </tr>
      <tr> 
        <th nowrap="nowrap" align="left"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Organisation:</font></b></th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="organization" value="<:last organization:>" size="40" maxlength="127" /><:error_img organization:>
        </td>
      </tr>
      <tr> 
        <th nowrap="nowrap" align="left"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Street:</font></b></th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="address" value="<:last address:>" size="40" maxlength="127" /><:error_img address:>
        </td>
      </tr>
      <tr> 
        <th nowrap="nowrap" align="left"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"></font></b></th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="delivStreet2" value="<:last delivStreet2:>" size="40" maxlength="127" /><:error_img delivStreet2:>
        </td>
      </tr>
      <tr> 
        <th nowrap="nowrap" align="left"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Suburb:</font></b></th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="city" value="<:last city:>" size="40" maxlength="127" /><:error_img city:>
        </td>
      </tr>
      <tr> 
        <th nowrap="nowrap" align="left"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">State:</font></b></th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="state" value="<:last state:>" size="8" maxlength="40" /><:error_img state:>
        </td>
      </tr>
      <tr> 
        <th nowrap="nowrap" align="left"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Post 
          Code:</font></b></th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="postcode" value="<:last postcode:>" size="8" maxlength="40" /><:error_img postcode:>
        </td>
      </tr>
      <tr> 
        <th nowrap="nowrap" align="left"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Country:</font></b></th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="country" value="<:last country:>" size="32" maxlength="127" /><:error_img country:>
        </td>
      </tr>
      <tr> 
        <th nowrap="nowrap" align="left"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Phone:</font></b></th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="telephone" value="<:last telephone:>" size="32" maxlength="80" /><:error_img telephone:>
        </td>
      </tr>
      <tr> 
        <th nowrap="nowrap" align="left"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Mobile:</font></b></th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="delivMobile" value="<:last delivMobile:>" size="32" maxlength="80" /><:error_img delivMobile:>
        </td>
      </tr>
      <tr> 
        <th nowrap="nowrap" align="left"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Facsimile:</font></b></th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="facsimile" value="<:last facsimile:>" size="32" maxlength="80" /><:error_img facsimile:>
        </td>
      </tr>
<:ifCfg affiliate prompt_name 0:>
      <tr> 
        <th nowrap="nowrap" align="left"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Affiliate Name:</font></b></th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="affiliate_name" value="<:last affiliate_name:>" size="40" maxlength="40" /><:error_img affiliate_name:>
        </td>
      </tr>
<:or:><:eif:>
<:if Cfg "site users" billing_on_main_opts 1:>
      <tr> 
        <td colspan="2" height="20"><br>
          <br>
          Billing contact information:</td>
      </tr>
      <tr> 
        <th>First Name:</th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="billFirstName" value="<:last billFirstName:>" size="40" maxlength="127" /><:error_img billFirstName:>
        </td>
      </tr>
      <tr> 
        <th>Last Name:</th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="billLastName" value="<:last billLastName:>" size="40" maxlength="127" /><:error_img billLastName:>
        </td>
      </tr>
      <tr> 
        <th>Street:</th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="billStreet" value="<:last billStreet:>" size="40" maxlength="127" /><:error_img billStreet:>
        </td>
      </tr>
      <tr> 
        <th>Suburb:</th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="billSuburb" value="<:last billSuburb:>" size="40" maxlength="127" /><:error_img billSuburb:>
        </td>
      </tr>
      <tr> 
        <th>State:</th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="billState" value="<:last billState:>" size="40" maxlength="127" /><:error_img billState:>
        </td>
      </tr>
      <tr> 
        <th>Post Code:</th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="billPostCode" value="<:last billPostCode:>" size="40" maxlength="127" /><:error_img billPostCode:>
        </td>
      </tr>
      <tr> 
        <th>Country:</th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="billCountry" value="<:last billCountry:>" size="40" maxlength="127" /><:error_img billCountry:>
        </td>
      </tr>
      <tr> 
        <th>Telephone:</th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="billTelephone" value="<:last billTelephone:>" size="40" maxlength="127" /><:error_img billTelephone:>
        </td>
      </tr>
      <tr> 
        <th>Mobile:</th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="billMobile" value="<:last billMobile:>" size="40" maxlength="80" /><:error_img billMobile:>
        </td>
      </tr>
      <tr> 
        <th>Facsimile:</th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="billFacsimile" value="<:last billFacsimile:>" size="40" maxlength="127" /><:error_img billFacsimile:>
        </td>
      </tr>
      <tr> 
        <th>Email:</th>
        <td width="100%" nowrap="nowrap"> 
          <input type="text" name="billEmail" value="<:last billEmail:>" size="40" maxlength="127" /><:error_img billEmail:>
        </td>
      </tr>
<:or Cfg:>
      <tr> 
        <td colspan="2" height="20" align="center"><br>
          <br>
          <a href="<:script:>?show_opts=1&_t=billing">Manage Billing Contact Information</a></td>
      </tr>
<:eif Cfg:>
<:if Cfg "site users" nopassword:><:or Cfg:>
      <tr> 
        <td colspan="2" align="left" height="20"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><br>
          <br>
          To change your password please enter your old password, and your new 
          password</font></td>
      </tr>
      <tr> 
        <th nowrap="nowrap" align="left"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Old 
          Password:</font></b></th>
        <td width="100%"> 
          <input type="password" name="old_password" size="40" maxlength="40" />
        </td>
      </tr>
      <tr> 
        <th nowrap="nowrap" align="left"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">New 
          Password:</font></b></th>
        <td width="100%"> 
          <input type="password" name="password" value="" size="40" maxlength="40" />
        </td>
      </tr>
      <tr> 
        <th nowrap="nowrap" align="left"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Confirm 
          Password:</font></b></th>
        <td width="100%"> 
          <input type="password" name="confirm_password" value="" size="40" maxlength="40" />
        </td>
      </tr>
<:eif Cfg:>
      <tr> 
        <td colspan="2" align="right"> 
          <input type="submit" name="saveopts" value="Save Options" class="user-buttons" />
        </td>
      </tr>
    </form>
  </table>
</div>
