<:wrap base.tmpl:>
<div align=center><table width="80%">
<tr>
  <th colspan="2" align="center">
    <p><b>Email Confirmations</b></p>
  </th>
</tr>
<tr>
  <td colspan="2">
    <p>Three confirmation messages have already been sent to 
    <b><:user email:></b>, or some similar email address.</p>

    <p>To prevent this system from being abused through continuously
    sending confirmation email messages to some user, it will not send 
    more than three confirmation mesages to a given email address.</p>

    <p>If you have been blocked from subscribing to this site by this 
    policy, we can only suggest that you create a
    <a href="http://www.hotmail.com">Hotmail</a> or 
    <a href="http://mail.yahoo.com">Yahoo Mail</a> account and 
    subscribe that account instead.</p>
  </td>
</tr>
<tr>
  <td colspan="2" align="center">
    <a href="<:script:>?show_opts=1">Return to User Options page</a>
  </td>
</tr>
</table>
</div>