<:wrap base.tmpl:>
<div align=center><table width="80%">
<tr>
  <th colspan="2" align="center">
    <p><b>Email Confirmations</b></p>
  </th>
</tr>
<tr>
  <td colspan="2">

    <p>A confirmation email message has been sent to <b><:user
    email:></b> or some similar email within the last 48 hours.</p>

    <p>If you simply subscribed to some extra newsletters, don't
    worry, once you follow the URL in the confirmation message all of
    your selected subscriptions will become active.</p>

    <p>To prevent this system from being abused, it will not send a 
    confirmation email to a given email address twice within 48 hours.</p>

    <p>If you don't receive the confirmation email within 48 hours of
    selection some newsletter subscriptions, resubmit the <a
    href="<:script:>?show_opts=1">User Options</a> page, and another
    confirmation email will be sent.</p>
  </td>
</tr>
<tr>
  <td colspan="2" align="center">
    <a href="<:script:>?show_opts=1">Return to User Options page</a>
  </td>
</tr>
</table>
</div>