<:wrap base.tmpl:>
<div align=center>
  <table width="350">
    <tr> 
      <th colspan="2" align="center"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="3"><b>Email 
          Confirmations</b></font></p>
      </th>
    </tr>
    <tr> 
      <td colspan="2"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">A confirmation 
          email message has been sent to <b><:user email:></b> or some similar 
          email within the last 48 hours.</font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">If you 
          simply subscribed to some extra newsletters, don't worry, once you follow 
          the URL in the confirmation message all of your selected subscriptions 
          will become active.</font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">To prevent 
          this system from being abused, it will not send a confirmation email 
          to a given email address twice within 48 hours.</font></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">If you 
          don't receive the confirmation email within 48 hours of selection some 
          newsletter subscriptions, resubmit the <a
    href="<:script:>?show_opts=1">User Options</a> page, and another confirmation 
          email will be sent.</font></p>
      </td>
    </tr>
    <tr> 
      <td colspan="2" align="center"> <br>
        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"><a href="<:script:>?show_opts=1">Return 
        to User Profile page</a> </font></td>
    </tr>
  </table>
</div>