<:wrap base.tmpl:>
<div align=center><table width="80%">
<tr>
  <th colspan="2" align="center">
    <p><b>Email Confirmations</b></p>
  </th>
</tr>
<tr>
  <td colspan="2">
    <p>A confirmation email has been sent to <b><:user email:></b> or 
    some similar email within the last 48 hours.</p>

    <p>To prevent this system from being abused, it will not send a 
    confirmation email to a given email address twice within 48 hours.</p>

    <p>Please try again later.</p>
  </td>
</tr>
<tr>
  <td colspan="2" align="center">
    <a href="<:script:>?show_opts=1">Return to User Options page</a>
  </td>
</tr>
</table>
</div>