<:wrap base.tmpl:>
<div align=center>
  <table width="350">
    <tr> 
      <th colspan="2" align="center"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="3"><b>Unsubscribed</b></font></p>
      </th>
    </tr>
    <tr> 
      <td colspan="2"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">You have 
          been unsubscribed from the <:subscription name:> newsletter.</font></p>
      </td>
    </tr>
    <tr> 
      <td colspan="2" align="center"> <br>
        <font face="Verdana, Arial, Helvetica, sans-serif" size="2"><a href="<:script:>">Return 
        to Logon page</a> </font></td>
    </tr>
  </table>
</div>