<:wrap base.tmpl:> 
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Hello <:user userId:>, 
  this section contains your personal account details. From here you can manage 
  your newsletter subscriptions, monitor the current status or purchase history 
  of your orders from our on-line store. You may even change your personal details, 
  like password, email and shipping addresses etc.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">To modify your 
  account options, like subscribing to one of our available newsletters, please 
  proceed to edit your &quot;<a href="<:script:>?show_opts=1">User Profile</a>&quot; 
  and make your changes eg: select a newsletter from the available list and then 
  click &quot;Save Options&quot;.</font></p>
<div align="center"> 
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <form name="userprofile" method="post" action="<:script:>">
          <input type="submit" name="Submit" value="Edit user profile" class="user-buttons">
          <input type="hidden" name="show_opts" value="1">
        </form>
      </td>
      <td>
        <form name="ff" method="post" action="/cgi-bin/shop.pl">
          <input type="submit" name="cart" value="View shopping cart" class="user-buttons">
        </form>
      </td>
    </tr>
  </table>
  <br>
  <table width="100%" cellpadding="0" cellspacing="1">
    <:if Message:> 
    <tr> 
      <th  align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><:message:></font></b></th>
    </tr>
    <:or Message:><:eif Message:> 
    <tr> 
      <th align="center" height="20"><font face="Verdana, Arial, Helvetica, sans-serif" size="3">Your 
        Orders</font></th>
    </tr>
    <tr>
      <td align="center"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Hello <:user 
          userId:><br>
          Last logged in: <:date user previousLogon:></font><br>
          <br>
        </p>
        </td>
    </tr>
    <:if Orders:>
<:iterator begin orders:>
    <tr>
      <td bgcolor="#CCCCCC"> 
        <table width="100%" cellpadding="3" cellspacing="1">
          <tr> 
            <th align="center" nowrap width="25%" bgcolor="#666666"><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#CCCCCC">Order 
              No:</font><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"> 
              <:order id:></font></th>
            <th align="center" width="25%" nowrap bgcolor="#666666"><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#CCCCCC">Date:</font><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"> 
              <:date order orderDate:></font></th>
            <th align="center" width="25%" nowrap bgcolor="<:ifOrder filled:>#CC0033<:or:>#66CC00<:eif:>"><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="<:ifOrder filled:>#CCCCCC<:or:>#000000<:eif:>">Status:</font><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"> 
              <:ifOrder filled:>Complete<:or:>Processing<:eif:></font></th>
            <th align="center" width="25%" nowrap bgcolor="#FF7F00"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Total:</font><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"> 
              $<:money order total:></font></th>
          </tr>
        </table>
    <:if Items:> 
 
        <table width="100%" cellpadding="3" cellspacing="1">
          <tr bgcolor="#EEEEEE"> 
            <th width="100%" align="left"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Product</font></th>
            <th><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Quantity</font></th>
            <th><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Unit</font></th>
          </tr>
          <:iterator begin items:> 
          <tr bgcolor="#FFFFFF"> 
            <td width="100%"><a href="<:product link:>"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><:product 
              summary:></font></a></td>
            <td align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><:item units:></font></td>
            <td align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">$<:money item price:></font></td>
          </tr>
<:iterator end items:>
        </table>

          <:if Prodfiles:> 
        <table width="100%" cellpadding="3" cellspacing="1">
          <tr bgcolor="#CCCCCC"> 
            <th colspan="4"><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#666666"><:if 
              Order filled:>Files available<:or Order:><:ifEq [cfg downloads must_be_filled] 
              "yes":>Files available when order status is &#145;Complete&#146;<:or:>Files<:eif:><:eif 
              Order:></font></th>
          </tr>

          <tr bgcolor="#EEEEEE"> 
            <th width="50%" align="left"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Description</font></th>
            <th nowrap width="50%" align="left" colspan="2"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">File</font></th>
            <th><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Size</font></th>
          </tr>
<:iterator begin items:>
          <:iterator begin prodfiles:> 
          <tr bgcolor="#FFFFFF"> 
            <td width="50%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><:prodfile 
              description:></font></td>
            <td nowrap width="50%"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><:if 
              FileAvail:><a href="/cgi-bin/user.pl?download=1&file=<:prodfile id:>&order=<:order id:>&item=<:item id:>"><:prodfile 
              displayName:></a><:or FileAvail:><:prodfile displayName:><:eif FileAvail:></font></td>
            <td><:if FileAvail:><a href="/cgi-bin/user.pl?download=1&file=<:prodfile id:>&order=<:order id:>&item=<:item id:>"><img src="/images/filestatus/download.gif" width="15" height="15" alt="Download now" title="Download now" border="0"></a><:or FileAvail:><img src="/images/filestatus/locked.gif" width="15" height="15" alt="Locked" title="Locked"><:eif FileAvail:></td>
            <td align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><:kb 
              prodfile sizeInBytes:></font></td>
          </tr>
          <:iterator end prodfiles:><:iterator end items:> 
        </table>
<:or Prodfiles:><:eif Prodfiles:>  
<:or Items:><:eif Items:>
        </td>
    </tr>
<:iterator separator orders:> 
    <tr> 
      <td >&nbsp; </td>
    </tr>
<:iterator end orders:> <:or Orders:> 
    <tr> 
      <td  align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">You 
        haven't made any orders yet.</font></td>
    </tr>
    <:eif Orders:> 
  </table>
  
</div>
