<:wrap base.tmpl:> 
<:include include/usermenu.tmpl:>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Hello <:ifUser 
  name1:><:user name1:><:or:><:user userId:><:eif:>, this section contains your 
  personal account details. From here you can <:ifCfg subscriptions enabled:> manage 
  your newsletter subscriptions,<:or:><:eif:><:ifCfg shop enabled:> monitor the current status 
  or purchase history of your orders from our on-line store<:or:><:eif:><:ifOr [cfg shop enabled] [cfg subscriptions enabled]:> and<:or:><:eif:> modify 
  your personal details, for example, your password, email and mailing addresses 
  etc.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">To modify your 
  account options, <:ifCfg subscriptions enabled:>like subscribing to one of our available newsletters,<:or:><:eif:> please 
  proceed to edit your &#8220;<a href="<:script:>?show_opts=1">User Profile</a>&#8221; 
  and make your changes <:ifCfg subscriptions enabled:>eg: select a newsletter from the available list<:or:><:eif:> then 
  select &#8220;Save Options&#8221;.</font></p>
<div align="center"> 
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <form name="userprofile" action="<:script:>">
          <input type="submit" name="Submit" value="Edit user profile" class="user-buttons">
          <input type="hidden" name="show_opts" value="1">
        </form>
      </td>
      <:ifCfg shop enabled:><td>
        <form name="ff" action="/cgi-bin/shop.pl">
          <input type="submit" name="cart" value="View shopping cart" class="user-buttons">
        </form>
      </td><:or:><:eif:>
    </tr>
  </table>
  <br>
   
<:.if request.message:><p class="message"><:.call "messages":></p> <:.end if:> 
  <table width="100%" cellpadding="0" cellspacing="1">
    <tr> 
      <th align="center" height="20"><font face="Verdana, Arial, Helvetica, sans-serif" size="3">Your 
        Account</font></th>
    </tr>
    <tr> 
      <td align="center"> <p><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Hello 
          <:ifUser name1:><:user name1:> <:user name2:><:or:><:user userId:><:eif:></font></b></p>
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#999999">Last 
          logged in: <:date user previousLogon:><br>
          Registered since: <:date user whenRegistered:></font><br>
          <br>
        </p></td>
    </tr>
  </table>
  
<:if Subscriptions:>  
<table>
<tr><th><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Name</font></th><th><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Expires</font></th></tr>
<:iterator begin subscriptions:>
<tr><td><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><:subscription title:></font></td><td><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><:date subscription ends_at:></font></td></tr>
<:iterator end subscriptions:>
</table>
<:or Subscriptions:><:eif Subscriptions:>
</div>
<:include include/custom/userpage_custom.tmpl optional:><:include include/userpage_custom.tmpl optional:>