<:article title:>

<:body:>

--------------------------------------------------------------------

You are receiving this message because you subscribed from 
<:cfg site url:>. To receive this newsletter you would 
have had to register, select the newsletter, and then click on an
encoded link in a confirmation email that was sent to this address.

If you don't want to receive this newsletter anymore you can
unsubscribe from this newsletter:

<:cfg site url:>/cgi-bin/user.pl?unsub=<:user confirmSecret:>&u=<:user id:>&s=<:sub id:>

or unsubscribe from all <:cfg site url:> newsletters:

<:cfg site url:>/cgi-bin/user.pl?unsub=<:user confirmSecret:>&u=<:user id:>&s=all


