<:wrap base.tmpl:>
<form method="POST" action="/cgi-bin/interest.pl">
<:ifCgi product:><input type=hidden name=product value="<:cgi product |h:>"><:or:><:eif:>
<:ifCgi product_id:><input type=hidden name=product_id value="<:cgi product_id |h:>"><:or:><:eif:>
<div align=center>
    <table width="350">
      <tr> 
      <th colspan="2" align="center"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="3"><b><:msg:></b></font></p>
      </th>
    </tr>
    <tr>
      <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Email:</font></td>
      <td><input type=text name=email value=<:cgi email |h:>></td>
    </tr>
    <tr> 
        <td colspan="2" align="right"> 
          <input type=submit value="Register Interest">
      </td>
    </tr>
  </table>
</div>
</form>
