<:wrap base.tmpl:>
<div align=center>
  <table width="350">
    <tr> 
      <th colspan="2" align="center"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="3"><b>Confirmation</b></font></p>
      </th>
    </tr>
    <tr> 
      <td colspan="2"> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">The shop owner has been notified of your interest<:ifProduct:> in product '<:product |h:>'<:or:><:eif:>.</font></p>
	<p>When the product becomes available you will be contacted through <b><:email |h:>.</p>
      </td>
    </tr>
  </table>
</div>