<:wrap admin/base.tmpl title=>"Add Subscription":>
<h1>Add Subscription</h1>
<p>
| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> |
<:if UserCan bse_subs_list :>
<a href="<:script:>?a_list=1">List Subscriptions</a> |<:or UserCan:><:eif UserCan:>
<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:> 

<form action="<:adminurl subadmin:>" method="post" name="addsub">
<table class="editform editformsmall">
<tr>
  <th><label for="text_id">Identifier:</label></th>
  <td><input type="text" name="text_id" value="<:old text_id:>" id="text_id" accesskey="i" tabindex="10" /></td>
  <td class="help"><:error_img text_id:><:help addsubscr text_id:></td>
</tr>
<tr>
  <th><label for="title">Title:</label></th>
  <td><input type="text" name="title" value="<:old title:>" id="title" accesskey="t" tabindex="20" /></td>
  <td class="help"><:error_img title:><:help addsubscr title:></td>
</tr>
<tr>
  <th><label for="description">Description:</label></th>
  <td><input type="text" name="description" value="<:old description:>" id="description" accesskey="d" tabindex="30" /></td>
  <td class="help"><:error_img description:><:help addsubscr description:></td>
</tr>
<tr>
  <th><label for="max_lapsed">Max Lapsed</label>:</th>
  <td><input type="text" name="max_lapsed" value="<:old max_lapsed:>" accesskey="m" tabindex="40" id="max_lapsed" /></td>
  <td class="help"><:error_img max_lapsed:><:help addsubscr max_lapsed:></td>
</tr>
<tr>
  <td colspan="3" class="buttons"><input type="submit" name="a_add" value="Add Subscription" tabindex="1000" /></td>
</tr>
</table>
</form>