<:wrap admin/base.tmpl title=>"Edit Subscription":>
<h1>Edit Subscription</h1>
<p>
| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> |
<:if UserCan bse_subs_list :>
<a href="<:script:>?a_list=1">List Subscriptions</a> |<:or UserCan:><:eif UserCan:>
<:if And [ifUserCan bse_subscr_delete] [subscription is_removable]:>
<a href="<:adminurl2 subadmin detail subscription_id [subscription subscription_id] t delete:>">Delete</a>
<:eif:>
</p>
<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:> 

<form action="<:adminurl subadmin:>" method="post" name="editsub">
<input type="hidden" name="subscription_id" value="<:subscription subscription_id:>" />
<table class="editform editformsmall">
<tr>
  <th>Identifier:</th>
  <td><input type="text" name="text_id" value="<:old text_id subscription text_id:>" /></td>
  <td class="help"><:error_img text_id:><:help addsubscr text_id:></td>
</tr>
<tr>
  <th>Title:</th>
  <td><input type="text" name="title" value="<:old title subscription title:>" /></td>
  <td class="help"><:error_img title:><:help addsubscr title:></td>
</tr>
<tr>
  <th>Description:</th>
  <td><input type="text" name="description" value="<:old description subscription description:>" /></td>
  <td class="help"><:error_img description:><:help addsubscr description:></td>
</tr>
<tr>
  <th>Max Lapsed:</th>
  <td><input type="text" name="max_lapsed" value="<:old max_lapsed subscription max_lapsed:>" /></td>
  <td class="help"><:error_img max_lapsed:><:help addsubscr max_lapsed:></td>
</tr>
<tr>
  <td colspan="3" class="buttons"><input type="submit" name="a_save" value="Save Subscription" /></td>
</tr>
</table>
</form>