<:wrap admin/base.tmpl title=>"Admin Subscriptions":>
<h1>Admin Subscriptions</h1>
<p>
| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> |
<:if UserCan bse_subs_add :>
<a href="<:script:>?a_addform=1">Add Subscription</a> |<:or UserCan:><:eif UserCan:>
<:if UserCan bse_subs_update :>
<a href="<:script:>?a_update=1">Recalculate Expiry Dates</a> |<:or UserCan:><:eif UserCan:>
<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:> 

<p>This is for managing periodic subscriptions that a member can buy.
It has nothing to do with the <a
href="/cgi-bin/admin/subs.pl">newsletters system.</a></p>

<p>Page <:subscriptions_pagenum:> of <:subscriptions_pagecount:>
<:ifFirstSubscriptionsPage:>&lt;&lt;&lt;&lt; &lt;&lt;<:or:><a href="<:script:>?s=<:sortby:>&r=<:reverse:>&p=1&pp=<:subscriptions_perpage:>">&lt;&lt;&lt;&lt;</a> <a href="<:script:>?s=<:sortby:>&amp;r=<:reverse:>&amp;p=<:prevSubscriptionsPage:>&amp;pp=<:subscriptions_perpage:>">&lt;&lt;</a><:eif:>
<:iterator begin repeats [subscriptions_pagecount]:>
<:if Eq [repeat value] [subscriptions_pagenum]:><:repeat value:><:or Eq:><a href="<:script:>?s=<:sortby:>&amp;r=<:reverse:>&amp;p=<:repeat value:>&amp;pp=<:subscriptions_perpage:>"><:repeat value:></a><:eif Eq:>
<:iterator end repeats:>
<:ifLastSubscriptionsPage:>&gt;&gt; &gt;&gt;&gt;&gt;<:or:><a href="<:script:>?s=<:sortby:>&amp;r=<:reverse:>&amp;p=<:nextSubscriptionsPage:>&amp;pp=<:subscriptions_perpage:>">&gt;&gt;</a> <a href="<:script:>?s=<:sortby:>&amp;r=<:reverse:>&amp;p=<:subscriptions_pagecount:>&amp;pp=<:subscriptions_perpage:>">&gt;&gt;&gt;&gt;</a><:eif:>
</p>
<form method="post" action="<:script:>">
  <table class="editform">
    <tr> 
      <th><a href="<:script:>?<:sorthelp text_id:>&amp;p=<:subscriptions_pagenum:>&amp;pp=<:subscriptions_perpage:>" accesskey="i">Id</a></th>
      <th> <a href="<:script:>?<:sorthelp title:>&amp;p=<:subscriptions_pagenum:>&amp;pp=<:subscriptions_perpage:>" accesskey="t">Title</a></th>
      <th> <a href="<:script:>?<:sorthelp description:>&amp;p=<:subscriptions_pagenum:>&amp;pp=<:subscriptions_perpage:>" accesskey="d">Description</a></th>
      <th> <a href="<:script:>?<:sorthelp max_lapsed:>&amp;p=<:subscriptions_pagenum:>&amp;pp=<:subscriptions_perpage:>" accesskey="m">Max Lapse</a></th>
      <th>&nbsp;</th>
    </tr>
    <:if Subscriptions:> <: iterator begin subscriptions :> 
    <tr> 
      <td> <a href="<:adminurl subadmin a_edit t subscription_id [isubscription subscription_id]:>"><:isubscription text_id:></a></td>
      <td><:isubscription title:></td>
      <td><:isubscription description:></td>
      <td><:isubscription max_lapsed:></td>
      <td>
	<a href="<:adminurl subadmin a_edit t subscription_id [isubscription subscription_id]:>">Edit</a> 
	<a href="<:adminurl subadmin a_detail t subscription_id [isubscription subscription_id]:>">Details</a>
	<:ifRemovable:><a href="<:adminurl subadmin a_detail t subscription_id [isubscription subscription_id] t delete:>">Delete</a><:or:><:eif:></td>
          </tr>
          <: iterator end subscriptions :> 
          <:or Subscriptions:> 
          <tr> 
            <td colspan="5" class="tablenote">Your system has no subscriptions.</td>
          </tr>
          <:eif Subscriptions:> 
        </table>
</form>

