This template is used for generating a drop menu.
<:embed start:>
<option value="<:url article:>">------ <:article title:></option><:if Children:> <:iterator begin children:>
<:embed child menu/menu4.tmpl:><:iterator end children:> <:or Children:><:eif Children:> 
<:embed end:> 