<div><a class="bse_video_popup" href="#" onclick="return bse_show_video(<:file id:>, <:meta width:>, <:meta height:>, '<:src:>');"><img src="/cgi-bin/user.pl/file_metadata/<:file id:>/ph_editor_data" width="<:meta ph_editor_width:>" height="<:meta ph_editor_height:>" /></a></div>