<table width="100%" border="0" id="sidebar_cart" class="sidebar_cart">
<:if Dyncart:>
<tr>
  <th>Product</th><th>Units</th><th>Price</th><th>Ext.</th></tr>
</tr>
<:iterator begin dyncart:>
<tr>
  <td><a href="<:dyncartitem link:>"><:dynreplace [dyncartitem title] "((?:&[^;]*;|[^&]){15}).*" $1...:></a></td>
  <td class="cartunits"><:dyncartitem units:></td>
  <td class="cartprice"><:money dyncartitem retailPrice:></td>
  <td class="cartprice"><:money dyncartitem extended:></td>
</tr>
<:iterator end dyncart:>
<tr>
  <td colspan="3">Subtotal (<:dyncarttotalunits:> items):</td>
  <td class="cartprice"><:money dyncarttotalcost:></td>
</tr>
<:or Dyncart:>
<tr><td class="emptycart">Your cart is empty</td></tr>
<:eif Dyncart:>
</table>