a {  color: #333366; font-weight: bold}
a:hover {  color: #6666CC}
a:visited {  color: #333366}
li {  font: 10px Verdana, Arial, Helvetica, sans-serif}
h1 {  font-size: 18px; margin-left: -1.5em}
h2 {  font-size: 16px; margin-left: -1em; padding-top: 1em; color: #333333; font-family: Arial, Helvetica, sans-serif; font-weight: bold}
form {  display: inline}
li {  padding-bottom: 10px;}
td.sep {  background: #339; font-size: 0.1em}
input.float { position: absolute; right: 1em}
body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; margin-left: 4em; background-color: #CCCCCC}
td {  font: 10px Verdana, Arial, Helvetica, sans-serif}
p {  font: 10px Verdana, Arial, Helvetica, sans-serif}
select {  font-family: "MS Sans Serif", Verdana, sans-serif; font-size: 12px}
input {  font-family: "MS Sans Serif", Verdana, sans-serif; font-size: 12px}
textarea {  font-family: "MS Sans Serif", Verdana, sans-serif; font-size: 12px}
th {  font-size: 10px; font-weight: bold; background-color: #999999; color: #FFFFFF}
.table {  background-color: #666666}
h3 {  font-size: 14px}
h4 {  font-size: 12px}
.version { font-size: 10px }
input.inline { border-style: none; }
tr.inline_form { background-color: #8080C0 }
 