a {  color: #333366; font-weight: bold}
a:hover {  color: #6666CC}
a:visited {  color: #333366}
li {  font: 10px Verdana, Arial, Helvetica, sans-serif}
h1 {  font-size: 18px; margin-left: -1.5em}
h2 {  font-size: 16px; margin-left: -1em; padding-top: 1em; color: #333333; font-family: Arial, Helvetica, sans-serif; font-weight: bold}
form {  display: inline}
li {  padding-bottom: 10px;}
td.sep {  background: #339; font-size: 0.1em}
input.float { position: absolute; right: 1em}
body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; margin-left: 4em; background-color: #CCCCCC}
td {  font: 10px Verdana, Arial, Helvetica, sans-serif}
p {  font: 10px Verdana, Arial, Helvetica, sans-serif}
select {  font-family: "MS Sans Serif", Verdana, sans-serif; font-size: 12px}
input {  font-family: "MS Sans Serif", Verdana, sans-serif; font-size: 12px}
textarea {  font-family: "MS Sans Serif", Verdana, sans-serif; font-size: 12px}
th {  font-size: 10px; font-weight: bold; background-color: #999999; color: #FFFFFF}
.table {  background-color: #666666}
h3 {  font-size: 14px}
h4 {  font-size: 12px}
.version { font-size: 10px }
input.inline { border-style: none; }
tr.inline_form { background-color: #8080C0 }

.bse_arrows img {
  border: none;
  vertical-align: bottom;
  width: 17px;
  height: 13px;
}

.prodopt { 
  border: 1px solid #000;
  margin: 5px;
}

.prodoptmenu {
  font-size: 120%;
  font-weight: bold;
  background-color: #EEE;
  padding: 3px;
  overflow: auto;
  border-bottom: 1px solid #000;
}

/* only indicate it's moveable if it is
 */
.prodopt.moveable .prodoptmenu {
  cursor: n-resize;
}

/* make the span with the option name a little wider to make click to
   edit a bit easier */
#productoptions .prodoptmenu span {
  padding: 0 5px;
}

#productoptions .prodoptmenuoptions {
  font-size: 82%;
  float: right;
  padding-left: 2px;
}

.prodopt .valueentry {
  width: 100%;
  /*padding: 4px 20px 4px 20px;*/
  padding: 4px 0px;
  background-color: #ccc;
  overflow: auto;
  clear: both;
}

#productoptions .valueentry span {
  padding: 0 3px;
  margin: 0 20px;
}

#productoptions .valueentrymenu { 
  float: right;
}

.prodopt .valueentry.odd {
  background-color: #DDD;
}

#productoptions form.addvalue input.add_field { 
  margin-left: 20px;
  margin-right: 2px;
  width: 50%;
  background-color: #DDD;
  border: 1px solid #888;
}

#productoptions form.addvalue input.add_submit { 
  border: 1px solid #888;
}

#productoptions .addvalueform {
  padding: 2px 0;
}

.editform {
  border: 1px solid #000;
  border-collapse: collapse;
  vertical-align: baseline;
  width: 100%;
}

table.editformsmall {
  width: 50%;
}

table.editformtiny { 
  width: auto;
}

table.editform td, table.editform th {
  padding: 4px;
  border: 1px solid #000;
}

table.editform th {
  color: #FFF;
  background-color: #999;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}

table.editform td {
  color: #000;
  background-color: #FFF;
}

table.editform td.help,
table.editform td.check  {
  white-space: nowrap;
  width: 20px;
}

table.editform td textarea {
  width: 95%;
}

table.editform td input.wide {
  width: 95%;
}

table.editform td.check { 
  text-align: center;
}

table.editform td.buttons { 
  text-align: right;
}

div.menu { 
  margin-bottom: 1em;
}

.prodopt input.editor_field {
  border: 1px solid #444;
  width: 50%;
  margin-left: 20px;
  margin-right: 2px;
  background-color: #DDD;
}

.prodopt input.editor_ok_button,
.prodopt input.editor_cancel_button {
  border: 1px solid #444;
}

.inplaceeditor-saving {
  padding-right: 20px;
  background: url(/images/admin/busy.gif) bottom right no-repeat;
}

#sitedragdrop li { 
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 2px;
}

#sitedragdrop ul {
  padding-top: 6px;
  padding-bottom: 0px;
}

#filelist div.fileentry {
  border: 1px solid #000;
}

#filelist div.fileentry .title { 
  background-color: #fff;
  border-bottom: 1px solid black;
}

#fileaccesslog .col_size { 
  text-align: right;
}

#fileaccesslog a:link,
#fileaccesslog a:visited,
#fileaccesslog a:active { 
  font-weight: normal;
}

table#backtasklist tr.running td { 
  background-color: #E0E0FF;
}

table#backtasklist tr.failed td { 
  background-color: #FFE0E0;
}
