a {  color: #333366; font-weight: bold}
a:hover {  color: #6666CC}
a:visited {  color: #333366}
/*li {  font: 10px Verdana, Arial, Helvetica, sans-serif}*/
h1 {  font-size: 18px; margin-left: -1.5em}
h2 {  font-size: 16px; margin-left: -1em; padding-top: 1em; color: #333333; font-family: Arial, Helvetica, sans-serif; font-weight: bold}
form {  display: inline}
li {  padding-top: 3px;padding-bottom: 7px;}
td.sep {  background: #339; font-size: 0.1em}
input.float { position: absolute; right: 1em}
body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin-left: 4em; background-color: #CCCCFF}
td {  font: 12px Verdana, Arial, Helvetica, sans-serif}
p {  font: 12px Verdana, Arial, Helvetica, sans-serif}
select {  font-family: "MS Sans Serif", Verdana, sans-serif; font-size: 12px}
input {  font-family: "MS Sans Serif", Verdana, sans-serif; font-size: 12px}
textarea {  font-family: "MS Sans Serif", Verdana, sans-serif; font-size: 12px}
th {  font-size: 12px; font-weight: bold; background-color: #606080; color: #FFFFFF}
.table {  background-color: #666666}
h3 {  font-size: 14px}
h4 {  font-size: 12px}
.version { font-size: 10px }

input.inline { width: 90%; }

.bse_arrows img {
  border: none;
  vertical-align: bottom;
  width: 17px;
  height: 13px;
}

.prodopt { 
  border: 1px solid #000;
  margin: 5px;
}

.prodoptmenu {
  font-size: 120%;
  font-weight: bold;
  background-color: #EEE;
  padding: 3px;
  overflow: auto;
  border-bottom: 1px solid #000;
}

/* only indicate it's moveable if it is
 */
.prodopt.moveable .prodoptmenu {
  cursor: n-resize;
}

/* make the span with the option name a little wider to make click to
   edit a bit easier */
#productoptions .prodoptmenu span {
  padding: 0 5px;
}

#productoptions .prodoptmenuoptions {
  font-size: 82%;
  float: right;
  padding-left: 2px;
}

.prodopt .valueentry {
  width: 100%;
  /*padding: 4px 20px 4px 20px;*/
  padding: 4px 0px;
  background-color: #ccc;
  overflow: auto;
  clear: both;
}

#productoptions .valueentry span {
  padding: 0 3px;
  margin: 0 20px;
}

#productoptions .valueentrymenu { 
  float: right;
}

.prodopt .valueentry.odd {
  background-color: #DDD;
}

#productoptions form.addvalue input.add_field { 
  margin-left: 20px;
  margin-right: 2px;
  width: 50%;
  background-color: #DDD;
  border: 1px solid #888;
}

#productoptions form.addvalue input.add_submit { 
  border: 1px solid #888;
}

#productoptions .addvalueform {
  padding: 2px 0;
}

table { 
  border-collapse: collapse;
  vertical-align: baseline;
}

.editform {
  width: 100%;
}

table.editformsmall {
  width: 50%;
}

table.editformtiny { 
  width: auto;
}

table.editform td.tablenote {
  text-align: center;
}

table td, table th {
  padding: 4px;
  border: 1px solid #000;
}

table th {
  color: #FFF;
  background-color: #606080;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  vertical-align: baseline;
}

table td {
  color: #000;
  background-color: #FFF;
}

table tr.bad td {
  background-color: #FF8080;
}

table tr.odd td {
  background-color: #E0E0FF;
}

table td.help,
table td.check  {
  white-space: nowrap;
  vertical-align: baseline;
  /*width: 20px;*/
}

img.bse_helpicon {
  border: none;
}

table td textarea {
  width: 95%;
}

table td input.wide {
  width: 95%;
}

table td.check { 
  text-align: center;
}

table td.buttons { 
  text-align: right;
}

div.menu { 
  margin-bottom: 1em;
}

table.menu td, table.menu th {
  width: 33%;
}

.prodopt input.editor_field {
  border: 1px solid #444;
  width: 50%;
  margin-left: 20px;
  margin-right: 2px;
  background-color: #DDD;
}

.prodopt input.editor_ok_button,
.prodopt input.editor_cancel_button {
  border: 1px solid #444;
}

.inplaceeditor-saving {
  padding-right: 20px;
  background: url(/images/admin/busy.gif) bottom right no-repeat;
}

#sitedragdrop li { 
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 2px;
}

#sitedragdrop ul {
  padding-top: 6px;
  padding-bottom: 0px;
}

#filelist div.fileentry {
  border: 1px solid #000;
}

#filelist div.fileentry .title { 
  background-color: #fff;
  border-bottom: 1px solid black;
}

#fileaccesslog .col_size { 
  text-align: right;
}

#fileaccesslog a:link,
#fileaccesslog a:visited,
#fileaccesslog a:active { 
  font-weight: normal;
}

table#backtasklist tr.running td { 
  background-color: #E0E0FF;
}

table#backtasklist tr.failed td { 
  background-color: #FFE0E0;
}

img.bse_image_thumb { 
  border: none;
}

#filelist .file_info_trigger {
  padding-left: 2px;
  position: relative;
  float: right;
  font-weight: bold;
}

#filelist .file_info { display: none }

#filelist .file_info_trigger:hover .file_info {
  display: block;
  position: absolute;
  width: 300px;
  left: -50px;
  border: 1px solid #888;
  background-color: #fff;
  z-index: 10;
  padding: 2px;
}

#filelist .file_display_trigger {
  padding-left: 2px;
  position: relative;
  float: right;
  font-weight: bold;
}

#filelist .file_display { display: none }

#filelist .file_display_trigger:hover .file_display {
  display: block;
  position: absolute;
  width: 300px;
  left: -50px;
  border: 1px solid #888;
  background-color: #fff;
  z-index: 10;
  padding: 2px;
  text-align: center;
}

.help_display { display: none }

.help_display_trigger { 
  position: relative;
}

.help_display_trigger:hover .help_display { 
  display: block;
  position: absolute;
  width: 200px;
  left: 0px;
  border: 1px solid #888;
  background-color: #fff;
  z-index: 10;
  padding: 2px;
  text-align: left;
  font-weight: normal;
}

#bse_video_stage { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  background-image: url(/images/50.png);
  display: none;
}

#bse_video_frame { 
  position: absolute;
  border: 1px solid #000;
  left: 50%;
  top: 20%;
}

#bse_video_close { 
  display: block;
  position: absolute;
  right: 50%;
  top: 20%;
  margin-top: -20px;
}

#bse_video_close img { 
  border: 0px;
}

.bse_video_popup img {
  border: 1px solid #CCC;
}

.meta_string { width: 95%; }
.meta_real { width: 10em; }
.meta_integer { width: 5em; }

#message,
.message {
  font-weight: bold;
  font-size: 120%;
  margin: 0.5em 0px 0.5em 0px;
}

#message.error,
.message.error {
  color: red;
}

span.alert {
  padding-left: 18px;
  background: url(/images/admin/alert.png) center left no-repeat;
  color: red;
  font-weight: bold;
}

.wind
{
  border: 1px solid #888;
  position: absolute;
  margin-left: -200px;
  left: 50%;
  width: 400px;
  top: 150px;
  display: none;
  background: #fff;
  }

.wind.wider
{
  margin-left: -410px;
  width: 820px;
  }

.wind .head 
{
  color: white;
  font-weight: bold;
  background-color: #00F;
  padding: 2px 1px;
  }

#windowclose 
{
  display: none;
  }

.wind .head #windowclose 
{
  display: block;
  float: right;
  font-weight: bold;
  background-color: #888;
  }

#menu_wrapper .column {
  float: left;
  width: 20em;
  margin: 5px;
  background-color: #FFF;
}

#menu_wrapper .title {
  font-weight: bold;
  text-align: left;
  padding: 5px;
  font-size: 120%;
}

#menu_wrapper .column li {
  list-style: none;
  margin-top: 5px;
  /*margin-bottom: 5px;*/
}

#menu_wrapper .column>ul ul {
  padding-left: 1em;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#menu_wrapper .column>ul {
  padding-left: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

/*#menu_wrapper .column>ul>li {
  margin-top: 10px;
}*/

#menu_wrapper .column li a:link,
#menu_wrapper .column li a:visited {
  display: block;
  border: 1px dotted #8080FF;
  padding: 5px;
  text-decoration: none;
  background-color: #CCCCFF;
  color: #000;
}

#menu_wrapper .column li a:hover {
  background-color: #8080FF;
}

#menu_wrapper li>ul.submenu { 
  display: none;
}

#menu_wrapper li:hover>ul.submenu { 
  display: block;
  position: absolute;
  background: #FFF;
  width: 17em;
  padding-right: 1em;
  border: 1px solid #8080ff;
}

#auditlog .col_when_at,
#auditlog .col_who,
#auditlog .col_object,
#auditlog .col_level,
#auditlog .col_actor,
#auditlog .col_object { 
  white-space: nowrap;
}

#auditlog .audit_crit td,
#auditlog .audit_emerg td,
#auditlog .audit_alert td {
  background-color: #FFA0A0;
}

#auditlog .audit_error td {
  background-color: #FFE0E0;
}

#auditlog a.filter,
#auditentry a.filter { 
  padding: 0px 2px;
  background-color: #C0FFC0;
  text-decoration: none;
  border: 1px dotted #080;
}

#auditlog a.unfilter { 
  padding: 0px 2px;
  background-color: #FFC0C0;
  text-decoration: none;
  border: 1px dotted #800;
}

#auditentry .dump {
  white-space: pre-wrap;
}

/* list of page numbers for paginated displays
   use <span> for the current page
 */
div.pagelist {
  margin: 6px 0px;
}
.pagelist a,
.pagelist span {
  padding: 2px 5px;
  text-decoration: none;
  color: #000;
}

.pagelist a {
  background-color: #FFF;
  border: 1px dotted #88F;
}

.pagelist a:hover,
.pagelist a:active,
.pagelist a:focus {
  /*text-decoration: underline;*/
  background-color: #CCF;
  border: 1px solid #444;
}

.pagelist span {
  background-color: #606080;
  border: 1px solid #000;
  color: #FFF;
  font-weight: bold;
}

.children .col_title { width: 30%; }
.children .col_summary { width: 50%; }
.children .col_listed { text-align: center; }
.children .col_modify,
.children .col_move {
  white-space: nowrap;
}

.filelist .col_size,
.filelist .col_download,
.filelist .col_forsale,
.filelist .col_requireuser { 
  text-align: center;
}

.images .col_thumbnail {
  text-align: center;
  vertical-align: middle;
}

.images .col_move,
.images .col_modify {
  vertical-align: baseline;
  white-space: nowrap;
}

.images .col_field {
  width: 50%;
}

table.siteusers {
  width: 100%;
}

table.siteusers td.col_name1,
table.siteusers td.col_name2 { 
  width: 33%;
  vertical-align: baseline;
}

table.siteusers td.col_id {
  text-align: center;
  width: 5%;
  white-space: nowrap;
}

table.siteusers td.col_userid {
  width: 20%;
}

table.productlist {
  width: 100%;
}

table.productlist .col_id {
  text-align: center;
}

table.productlist .col_name {
  width: 100%;
}

table.productlist td.col_release,
table.productlist td.col_expire,
table.productlist td.col_modify { 
  white-space: nowrap;
}

table.productlist td.col_retail,
table.productlist td.col_wsale,
table.productlist td.col_gst { 
  white-space: nowrap;
  text-align: right;
}

table.stepkids td.col_id {
  text-align: center;
  white-space: nowrap;
}

table.stepkids th.col_id {
  width: 3ex;
}

table.stepkids td.col_title {
  width: 90%;
}

table.stepkids td.col_release,
table.stepkids td.col_expire,
table.stepkids td.col_tools,
table.stepkids td.col_move {
  white-space: nowrap;
}


table.orderlist td.col_id {
  text-align: center;
  white-space: nowrap;
}

table.orderlist td.col_name {
  width: 100%;
}

table.orderlist td.col_date,
table.orderlist td.col_tools {
  white-space: nowrap;
}

table.orderlist td.col_total {
  text-align: right;
  white-space: nowrap;
}

table.orderdetail td.col_description {
  width: 100%;
}

table.orderdetail td.col_units,
table.orderdetail td.col_unitprice,
table.orderdetail td.col_extension,
table.orderdetail td.col_unit_wsale,
table.orderdetail td.col_ext_wsale,
table.orderdetail td.col_unit_gst,
table.orderdetail td.col_ext_gst {
  white-space: nowrap;
  text-align: right;
}

table.orderdetail th {
  white-space: nowrap;
}

table.orderdetail td.total {
  font-weight: bold;
}

table.orderdetail_head td.col_head,
table.orderdetail_head th.col_head  {
  width: 10%;
}
table.orderdetail_head td.col_value {
  width: 38%;
}

table.orderdetail td.col_contact {
  font-weight: bold;
  text-align: right;
}

table.sessionrollcall td.col_present { width: 10%; }
table.sessionrollcall td.col_logon { width: 30%; }
table.sessionrollcall td.col_name { width: 30%; }
table.sessionrollcall td.col_email { width: 30%; }

span.accesskeyx {
  text-decoration: underline;
}

.newsletters td.col_name { width: 30%; }
.newsletters td.col_title { width: 30%; }
.newsletters td.col_frequency { width: 10%; }
.newsletters td.col_visible {
  width: 5%;
  text-align: center;
}
.newsletters td.col_last {
  width: 10%;
  white-space: nowrap;
  text-align: center;
}
.newsletters td.col_num {
  width: 5%;
  text-align: center;
}
.newsletters td.col_tools {
  width: 10%;
  white-space: nowrap;
}

.sembookings .col_id {
  white-space: nowrap;
  text-align: center;
}

.sembookings .col_date,
.sembookings .col_time {
  white-space: nowrap;
}

.sembookings .col_seminar,
.sembookings .col_location {
  width: 45%;
}

span.bse_capswarning {
  position: absolute;
  padding: 2px;
  color: #F00;
  background-color: #FFF;
  font-weight: bold;
  border: 1px solid #F00;
}

fieldset div {
  display: table-row;
}

fieldset span {
  display: table-cell;
}
fieldset label {
  display: table-cell;
  padding-right: 0.5em;
}