body {  text-decoration: none}
a {  text-decoration: none}
a:hover {  text-decoration: underline; color: #6767CC}
select {  font-family: "MS Sans Serif", Verdana, sans-serif; font-size: 12px}
input {  font-family: "MS Sans Serif", Verdana, sans-serif; font-size: 12px}
textarea {  font-family: "MS Sans Serif", Verdana, sans-serif; font-size: 12px}
.mini-admin { font-family: "MS Sans Serif", Verdana, sans-serif; font-size: 10px}
