body, td, th {  text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
a {  text-decoration: none}
.title { font-weight: bold; font-size: 14px; padding-left: 1.5em; }
.tryadvanced {  font-size: 8px; }
a:hover {  text-decoration: underline; color: #FF7F00}
select {  font-family: "MS Sans Serif", Verdana, sans-serif; font-size: 12px}
input {  font-family: "MS Sans Serif", Verdana, sans-serif; font-size: 12px}
textarea {  font-family: "MS Sans Serif", Verdana, sans-serif; font-size: 12px}
.mini-admin { font-family: "MS Sans Serif", Verdana, sans-serif; font-size: 10px}
.user-buttons { font-family: "MS Sans Serif", Verdana, sans-serif; font-size: 12px ; border: 2px #FF7F00 groove; background-color: #FFFFFF}
.useroptions th { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small; font-weight: bold; white-space: nowrap; text-align: left }
.useroptions td { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small }
.useroptions .thead { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: large; font-weight: bold; white-space: nowrap; text-align: center }
.sidebar_cart { font-family: sans-serif; font-size: 9px }
.cartunits { text-align: right }
.cartprice { text-align: right }
.searchresultimage { float: right }
.sidewishlist { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; }
.sidewishlisthead{ font-size: 13px; font-weight: bold; white-space: nowrap; text-align: left }
.sidewishlistitem { font-size: 11px; padding-left: 10px; }
.message { font-weight: bold; }
.usermenu { background-color: #FF7F00; font-weight: bold; color: white; font-size: 12px; text-align: center; padding-bottom: 3px; padding-top: 3px; }
.usermenu a { color: white; }
.usermenu a:hover { color: #000000; text-decoration: none; }
.usermenu a:before { content: " <" }
.usermenu a:after { content: "> " }
.message { 
  color: #F00;
  text-align: center; 
  padding: 5px 0 5px 0;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FEE;
  width: 40em;
}

.copyright { font-size: 6px; text-align: right; }

form th { text-align: right; }
form td.submit { text-align: right; }

#nav td { background-color: #CCCCCC }
#nav a:link, #nav a:visited { font-weight: bold; padding-left: 0.5em; }
#nav table table a:link { padding-left: 1em; }
.body { 
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.body img.bse_image_left { 
  float: left;
  border: 0px;
  margin: 10px 10px 10px 0px;
}

.body img.bse_image_right {
  float: right;
  border: 0px;
  margin: 10px 0px 10px 10px;
}

.body img.bse_image_popup_base {
  border: 0px;
  margin: 5px 0px;
  vertical-align: middle;
}

.body .bse_flash_right { 
  border: 0px;
  margin: 5px;
  float: right;
}

.body .bse_flash_left { 
  border: 0px;
  margin: 5px;
  float: left;
}

