<:wrap admin/base.tmpl title => "Shop: Edit Coupon Code", bodyid => "coupon_edit":>
<h1>Shop: Edit Coupon <span><:= coupon.code -:></span></h1>
<p>| <a href="<:= cfg.admin_url("menu") :>">Admin Menu</a> |
<:.if request.user_can("bse_shop_coupon_list") -:>
<a href="<:= cfg.admin_url2("shopadmin", "coupon_list") :>">Return to coupon list</a> |
<:.end if-:>
</p>
<:.call "messages"-:>
<:.set object = coupon -:>
<form action="<:= cfg.admin_url("shopadmin") :>" method="post" id="coupon_form">
  <:csrfp admin_bse_coupon_edit hidden:>
  <input type="hidden" name="id" value="<:= coupon.id :>">
  <fieldset>
    <legend>Coupon Details</legend>
    <:.call "field", "name":"code", "autofocus":1 :>
    <:.call "field", "name":"description" :>
    <:.call "field", "name":"release" :>
    <:.call "field", "name":"expiry" :>
    <:.call "field", "name":"classid" :>
    <:.set classid = cgi.param("classid") ? [ cgi.param("classid") ][0] : coupon.classid -:>
    <:.set config = coupon.config_obj -:>
    <:.for bh in behaviours -:>
      <:.set fs = bh.behaviour.config_fields -:>
      <:.set ordered_f = fs.keys.sort(@{a,b: fs[a].order <=> fs[b].order }) -:>
      <:.set attr = { "data-behaviour": bh.id } -:>
      <:.set inputattr = { } -:>
      <:.if classid ne bh.id -:>
        <:% attr.set("style", "display: none") -:>
        <:% inputattr.set("disabled", "disabled") -:>
      <:.end if -:>
      <:.for f in ordered_f -:>
        <:.call "field", name:f, fields: fs, options: { htmlattr: attr, inputattr: inputattr }, object: config -:>
      <:.end for -:>
    <:.end for -:>
    <:.call "field", "name":"campaign" :>
  </fieldset>
  <:.call "fieldset", "name":"tiers" :>
  <p class="buttons">
    <input type="submit" name="a_coupon_save" value="Save Coupon">
  </p>
</form>
<script type="text/javascript" src="/js/admin_coupons.js"></script>
