<:wrap admin/xbase.tmpl title => "Message Catalog", js=>"admin_messages.js", showtitle => 1, css => "admin_messages.css", api => 1, jstools=>1:>
<p>| <a href="/cgi-bin/admin/menu.pl">Admin Menu</a>
| <a href="#" id="close_all">Close all</a>
| <a href="#" id="open_all">Open all</a>
|
<ul id="message_catalog">
<li>Loading...</li>
</ul>
<div id="message_detail" class="wind wider">
  <div class="head">(filled in at runtime)</div>
  <div id="message_detail_list"></div>
</div