<html>
  <head>
    <title><:article title:></title>
  </head>
  <body>
    <h1><:title:></h1>
    <:body :>

    <hr /> 

    <p><font size="-1">You are receiving this message because you
    subscribed from <a href="<:cfg site url:>"><:cfg site url:></a>.
    To receive this newsletter you would have had to register, select
    the newsletter, and then click on an encoded link in a
    confirmation email that was sent to this address.</font></p>

    <p><font size="-1">If you don't want to receive this newsletter 
    anymore you can <a href="<:cfg site url:>/cgi-bin/user.pl?unsub=<:user confirmSecret:>&u=<:user id:>&s=<:sub id:>">Unsubscribe from this newsletter</a> or<a href="<:cfg site url:>/cgi-bin/user.pl?unsub=<:user confirmSecret:>&u=<:user id:>&s=all">Unsubscribe from all <:cfg site url:> newsletters.</a> </font></p>

  </body>
</html>