<:wrap admin/base.tmpl title=>"Reports - BSE":>
<h1>Report: <:report name:></h1>
<p>| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> | <a href="/cgi-bin/admin/report.pl">Reports List</a> | <:ifReport has_params:><a href="/cgi-bin/admin/report.pl?s_prompt=1&r=<:report id:>">Arguments</a> | <:or:><:eif:>
<a href="<:adminurl2 report show r [report id] type csv:>&amp;<:repparams url:>">CSV</a> |
</p>

<:if Sort_select others:>
<form action="<:script:>">
  <:repparams hidden:>
  <input type="hidden" name="r" value="<:report id:>" />
  <:sort_select select:><input type="submit" name="a_show" value="Re-order" />
</form>
<:or Sort_select:><:eif Sort_select:>
<table>
  <tr>
    <:iterator begin level1_names:>
    <th <:ifSort - sortable:>onclick="window.location='<:sort - url:>'"<:or:><:eif:>>
      <:sort:>
    </th>
    <:iterator end level1_names:>
    <:if Report has_level1_links:><th>(links)</th><:or Report:><:eif Report:>
  </tr>
<:if Level1:>
<:iterator begin level1:>
  <tr>
    <:iterator begin level1_cols:>
      <td><:level1_col value:></td>
    <:iterator end level1_cols:>
  <:if Level1_links:>
   <td>
     <:iterator begin level1_links:><:level1_link link:> <:iterator end level1_links:>
   </td>
  <:or Level1_links:><:eif Level1_links:>
  </tr>
<:iterator end level1:>
<:or Level1:>
  <tr><td colspan="<:add [level1_name_count] 1 :>">No rows returned</td></tr>
<:eif Level1:>
</table>
