<:wrap admin/base.tmpl title => "Delete Newsletter" :>
<h1>Delete Newsletter</h1>

<:ifMessage:><p class="message"><:message:></p><:or:><:eif:>

<p>| <a href="/admin/">Admin menu</a> | <a href="<:script:>">Newsletter List</a> 
  |</p>

<form action="<:script:>" method="post">
  <input type="hidden" name="id" value="<:subscription id:>" />
  <table class="editform editformtiny"> 
    <tr> 
      <th>Name:</th>
      <td><:subscription name:></td>
      <td class="help"><:help subs name:> <:ifError name:><img src="/images/admin/error.gif" width="16" height="16" alt="<:error name:>" /><:or:><:eif:></td>
    </tr>
    <tr> 
      <th>Title:</th>
      <td><:subscription title:></td>
      <td class="help"><:help subs title:> <:ifError title:><img src="/images/admin/error.gif" width="16" height="16" alt="<:error title:>" /><:or:><:eif:></td>
    </tr>
    <tr> 
      <th>Description:</th>
      <td> 
	<:bodytext subscription description:>
      </td>
      <td class="help"><:help subs description:> </td>
    </tr>
    <tr> 
      <th>Frequency:</th>
      <td><:subscription frequency:></td>
      <td class="help"><:help subs frequency:> </td>
    </tr>
    <tr>
      <td colspan="3" class="buttons">
	<input type="submit" name="delete" value="Delete Newsletter" />
	<input type="submit" name="list" value="Back to List">
      </td>
    </tr>
  </table>
</form>

