<:wrap admin/base.tmpl title => [cond [ifNew] "Add Newsletter" [cat "Edit Newsletter: " [subscription name]] ]:>
<h1><:ifNew:>Add Newsletter<:or:>Edit Newsletter: <:subscription name:><:eif:></h1>

<:ifMessage:><p class="message"><:message:></p><:or:><:eif:>

<p>| <a href="/admin/">Admin menu</a> | <a href="<:script:>">Newsletter List</a> 
  |</p>

<form action="<:script:>" method="post">
<input type="hidden" name="id" value="<:subscription id:>" />
<table class="editform editformsmall">
  <tr> 
    <th>Name:</th>
    <td> 
      <input type="text" name="name" value="<:old name:>" size="40" />
    </td>
    <td class="help"><:help subs name:> <:ifError name:><img src="/images/admin/error.gif" width="16" height="16" alt="<:error name:>" /><:or:><:eif:></td>
  </tr>
  <tr> 
    <th>Title:</th>
    <td> 
      <input type="text" name="title" value="<:old title:>" size="40" />
    </td>
    <td class="help"><:help subs title:> <:ifError title:><img src="/images/admin/error.gif" width="16" height="16" alt="<:error title:>" /><:or:><:eif:></td>
  </tr>
  <tr> 
    <th>Description:</th>
    <td> 
      <textarea name="description" cols="60" rows="10"><:old description:></textarea>
    </td>
    <td class="help"><:help subs description:> <:ifError description:><img src="/images/admin/error.gif" width="16" height="16" alt="<:error description:>" /><:or:><:eif:></td>
  </tr>
  <tr> 
    <th>Frequency:</th>
    <td> 
      <input type="text" name="frequency" value="<:old frequency:>" size="40" />
    </td>
    <td class="help"><:help subs frequency:> <:ifError frequency:><img src="/images/admin/error.gif" width="16" height="16" alt="<:error frequency:>" /><:or:><:eif:></td>
  </tr>
  <tr> 
    <th>HTML template:</th>
    <td><:template html_template htmlemail 1:> </td>
    <td class="help"><:help subs html_template:> <:ifError html_template:><img src="/images/admin/error.gif" width="16" height="16" alt="<:error html_template:>" /><:or:><:eif:></td>
  </tr>
  <tr> 
    <th>Text template:</th>
    <td><:template text_template textemail:> </td>
    <td class="help"><:help subs text_template:> <:ifError text_template:><img src="/images/admin/error.gif" width="16" height="16" alt="<:error text_template:>" /><:or:><:eif:></td>
  </tr>
  <tr> 
    <th align="left" nowrap>Visible:</th>
    <td><input type="checkbox" name="visible" value="1"<:ifOld visible:> 
               checked="checked"<:or:><:eif:> /> Make this subscription available</td>
    <td class="help"><:help subs visible:></td>
  </tr>
  <tr> 
    <th colspan="2">Archiving </th>
    <td class="help"><:help subs archiving:></td>
  </tr>
  <tr> 
    <th>Archive:</th>
    <td><input type="checkbox" name="archive" value="1"<:ifOld archive:> 
              checked="checked"<:or:><:eif:> /> Archive this subscription</td>
    <td class="help"><:help subs archive:> </td>
  </tr>
  <tr> 
    <th>Keywords:</th>
    <td> 
      <input type="text" name="keyword" value="<:old keyword:>" size="40" />
    </td>
    <td class="help"><:help subs keyword:></td>
  </tr>
  <tr> 
    <th>Article template:</th>
    <td><:template article_template:> </td>
    <td class="help"><:help subs template:> <:ifError article_template:><img src="/images/admin/error.gif" width="16" height="16" alt="<:error article_template:>" /><:or:><:eif:></td>
  </tr>
  <tr> 
    <th>Archive parent:</th>
    <td><:parent:> </td>
    <td class="help"><:help subs parent:> <:ifError parentId:><img src="/images/admin/error.gif" width="16" height="16" alt="<:error parentId:>" /><:or:><:eif:></td>
  </tr>
  <tr>
    <td colspan="3" class="buttons">
      <:ifNew:><input type="submit" name="addsave" value="Add Newsletter" /><:or:><input type="submit" name="editsave" value="Save Newsletter" /><:eif:>
    </td>
  </tr>
</table>
</form>

