<:wrap admin/base.tmpl title => [cat "Send Newsletter: " [subscription name]]:>
<h1>Send Newsletter: <:subscription name:></h1>

<:ifMessage:><p class="message"><:message:></p><:or:><:eif:> 

<p>| <a href="/admin/" target="_top">Admin menu</a> | <a href="<:script:>" target="_top">Newsletter 
  List</a> |</p>

<form action="<:script:>" method="post" name="sub" target="preview">
  <input type="hidden" name="id" value="<:subscription id:>" />
  <table>
    <tr> 
      <th>Title/Subject:</th>
      <td> 
        <input type="text" name="title" value="<:old title:>" size="40" />
      </td>
      <td class="help"><:help subssend title:> <:ifError title:><img src="/images/admin/error.gif" width="16" height="16" alt="<:error title:>" /><:or:><:eif:></td>
    </tr>
    <tr> 
      <th>Body:</th>
      <td> 
        <textarea name="body" cols="60" rows="10"><:old body:></textarea>
      </td>
      <td class="help"><:help subssend body:> <:ifError body:><img src="/images/admin/error.gif" width="16" height="16" alt="<:error body:>" /><:or:><:eif:></td>
    </tr>
    <:if Cfg subscriptions override:> 
    <tr> 
      <th>HTML template:</th>
      <td><:template html_template htmlemail 1:> </td>
      <td><:help subssend html_template:> <:ifError html_template:><img src="/images/admin/error.gif" width="16" height="16" alt="<:error html_template:>" /><:or:><:eif:></td>
    </tr>
    <tr> 
      <th>Text template:</th>
      <td><:template text_template textemail:> </td>
      <td class="help"><:help subssend text_template:> <:ifError text_template:><img src="/images/admin/error.gif" width="16" height="16" alt="<:error text_template:>" /><:or:><:eif:></td>
    </tr>
    <tr> 
      <th colspan="2">Archiving </th>
      <td class="help"><:help subssend archiving:></td>
    </tr>
    <tr> 
      <th>Archive:</th>
      <td> 
        <input type="hidden" name="have_archive_check" value="1" /><input type="checkbox" name="archive" value="1" 
              <:ifOld archive:> checked="checked"<:or:><:eif:> /> Archive this subscription</td>
      <td class="help"><:help subssend archive:> </td>
    </tr>
    <tr> 
      <th>Keywords:</th>
      <td> 
        <input type="text" name="keyword" value="<:old keyword:>" size="40" />
      </td>
      <td class="help"><:help subssend keyword:></td>
    </tr>
    <tr> 
      <th>Article template:</th>
      <td><:template article_template:> </td>
      <td class="help"><:help subssend template:> <:ifError article_template:><img src="/images/admin/error.gif" width="16" height="16" alt="<:error article_template:>" /><:or:><:eif:></td>
    </tr>
    <tr> 
      <th>Archive parent:</th>
      <td><:parent:> </td>
      <td class="help"><:help subssend parent:> <:ifError parentId:><img src="/images/admin/error.gif" width="16" height="16" alt="<:error parentId:>" /><:or:><:eif:></td>
    </tr>
    <:or Cfg:><:eif Cfg:> 
    <:if Cfg subscriptions testing 1:> 
    <tr> 
      <th colspan="2">Testing </th>
      <td class="help"><:help subssend testing:></td>
    </tr>
    <tr> 
      <th>Test Name:</th>
      <td><input type="text" name="testname" value="<:cfg subscriptions testname "":>" size="40" /></td>
      <td class="help"><:help subssend testname:> </td>
    </tr>
    <tr> 
      <th>Test Email:</th>
      <td> 
        <input type="text" name="testemail" value="<:cfg subscriptions testemail "":>" size="40" />
      </td>
      <td class="help"><:help subssend testemail:></td>
    </tr>
    <tr> 
      <th>Test Text Only:</th>
      <td><input type="checkbox" name="testtextonly" <:ifCfg subscriptions testtextonly 0:>checked = "checked"<:or:><:eif:> />Set for text only test message</td>
      <td><:help subssend testtextonly:></td>
    </tr>
<:include admin/subs/send_filters.tmpl optional:>
    <:or Cfg:><:eif Cfg:> 
    <tr>
      <td colspan="3" class="buttons">
	<:ifRecipient_count:><input type="submit" name="send" value="Send Subscription" /> <:help subssend send:> <:or:><:eif:>
        <:ifCfg subscriptions testing 1:> <input type="submit" name="send_test" value="Send Test" /> <:help subssend sendtest:> <:or:><:eif:>
        <input type="submit" name="html_preview" value="HTML Preview" />
        <:help subssend html_preview:> 
        <input type="submit" name="text_preview" value="Text Preview" />
        <:help subssend text_preview:> 
<:ifFilters:>
        <input type="submit" name="filter_preview" value="Filter Preview" />
        <:help subssend filter_preview:> 
<:or:><:eif:>
      </td>
    </tr>
  </table>
</form>
