<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

  <title>Administration - Send Subscription</title>

  <link rel="stylesheet" type="text/css" href="/css/admin.css" />

</head>
<body>

<h1><:cfg site name:> Send Subscription</h1>

<:ifMessage:><p><b><:message:></b></p>
<:or:><:eif:> 
<p>| <a href="/admin/" target="_top">Admin menu</a> | <a href="<:script:>" target="_top">Subscriptions 
  List</a> |</p>

<form action="<:script:>" method="POST" name="sub" target="preview"><input type="hidden" name="id" value="<:subscription id:>">
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#000000" class="table">
    <tr>
      <td>
        <table cellpadding="6" border="0" cellspacing="1">
          <tr bgcolor="#FFFFFF"> 
            <th align="left" nowrap>Title/Subject:</th>
            <td> 
              <input type="text" name="title" value="<:old title:>" size="40" />
            </td>
            <td><:help subssend title:> <:ifError title:><img src="/images/admin/error.gif" width="16" height="16" alt="<:error title:>" /><:or:><:eif:></td>
          </tr>
          <tr bgcolor="#FFFFFF"> 
            <th align="left" valign="top" nowrap>Body:</th>
            <td valign="top"> 
              <textarea name="body" cols="60" rows="10" wrap="virtual"><:old body:></textarea>
            </td>
            <td valign="top"><:help subssend body:> <:ifError body:><img src="/images/admin/error.gif" width="16" height="16" alt="<:error body:>" /><:or:><:eif:></td>
          </tr>
          <:if Cfg subscriptions override:> 
          <tr bgcolor="#FFFFFF"> 
            <th align="left" nowrap>HTML template:</th>
            <td><:template html_template htmlemail 1:> </td>
            <td><:help subssend html_template:> <:ifError html_template:><img src="/images/admin/error.gif" width="16" height="16" alt="<:error html_template:>" /><:or:><:eif:></td>
          </tr>
          <tr bgcolor="#FFFFFF"> 
            <th align="left" nowrap>Text template:</th>
            <td><:template text_template textemail:> </td>
            <td><:help subssend text_template:> <:ifError text_template:><img src="/images/admin/error.gif" width="16" height="16" alt="<:error text_template:>" /><:or:><:eif:></td>
          </tr>
          <tr bgcolor="#FFFFFF"> 
            <th colspan="2">Archiving </th>
            <td><:help subssend archiving:></td>
          </tr>
          <tr bgcolor="#FFFFFF"> 
            <th align="left" nowrap>Archive:</th>
            <td> 
              <input type="hidden" name="have_archive_check" value="1"><input type="checkbox" name="archive" value="1" 
              <:ifOld archive:> checked<:or:><:eif:> /> Archive this subscription</td>
            <td><:help subssend archive:> </td>
          </tr>
          <tr bgcolor="#FFFFFF"> 
            <th align="left" nowrap>Keywords:</th>
            <td> 
              <input type="text" name="keyword" value="<:old keyword:>" size="40" />
            </td>
            <td><:help subssend keyword:></td>
          </tr>
          <tr bgcolor="#FFFFFF"> 
            <th align="left" nowrap>Article template:</th>
            <td><:template article_template:> </td>
            <td><:help subssend template:> <:ifError article_template:><img src="/images/admin/error.gif" width="16" height="16" alt="<:error article_template:>" /><:or:><:eif:></td>
          </tr>
          <tr bgcolor="#FFFFFF"> 
            <th align="left" nowrap>Archive parent:</th>
            <td><:parent:> </td>
            <td><:help subssend parent:> <:ifError parentId:><img src="/images/admin/error.gif" width="16" height="16" alt="<:error parentId:>" /><:or:><:eif:></td>
          </tr>
          <:or Cfg:><:eif Cfg:> 
          <:if Cfg subscriptions testing 1:> 
          <tr bgcolor="#FFFFFF"> 
            <th colspan="2">Testing </th>
            <td><:help subssend testing:></td>
          </tr>
          <tr bgcolor="#FFFFFF"> 
            <th align="left" nowrap>Test Name:</th>
            <td> 
              <input type="text" name="testname" value="<:cfg subscriptions testname "":>" size="40" /></td>
            <td><:help subssend testname:> </td>
          </tr>
          <tr bgcolor="#FFFFFF"> 
            <th align="left" nowrap>Test Email:</th>
            <td> 
              <input type="text" name="testemail" value="<:cfg subscriptions testemail "":>" size="40" />
            </td>
            <td><:help subssend testemail:></td>
          </tr>
          <tr bgcolor="#FFFFFF"> 
            <th align="left" nowrap>Test Text Only:</th>
            <td><input type="checkbox" name="testtextonly" <:ifCfg subscriptions testtextonly 0:>checked<:or:><:eif:> />Set for text only test message
            </td>
            <td><:help subssend testtextonly:></td>
          <:or Cfg:><:eif Cfg:> 
        </table>
</td>
</tr>
</table>
<p>
    <input type="submit" name="send" value="Send Subscription">
    <:help subssend send:> 
    <:ifCfg subscriptions testing 1:> <input type="submit" name="send_test" value="Send Test">
    <:help subssend sendtest:> <:or:><:eif:>
    <input type="submit" name="html_preview" value="HTML Preview">
    <:help subssend html_preview:> 
    <input type="submit" name="text_preview" value="Text Preview">
    <:help subssend text_preview:> </p>
</form>

<p><font size="-1">BSE Release <:release:></font></p>
</body>
</html>
