<?xml version="1.0" encoding="<:cfg html charset iso8859-1:>"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Administration - Send Newsletter</title>
  </head>
  <frameset rows="50%,*">
    <frame src="<:script:>?send_form=1&amp;id=<:sub id:>" name="form" />
    <frame src="<:script:>?html_preview=1&amp;id=<:sub id:>&amp;body=" name="preview" />
    <noframes>
      <p>Sorry, you need a frames capable browser to send a
      newsletter.</p>
      <p>The top frame is used for composition and the bottom for
      previews.</p>
    </noframes>
  </frameset>
</html>