<html>
  <head>
    <title>Administration - Send Subscription</title>
  </head>
  <frameset rows="50%,*">
    <frame src="<:script:>?send_form=1&id=<:sub id:>" />
    <frame src="<:script:>?html_preview=1&id=<:sub id:>&body=" />
    <noframes>
      <p>Sorry, you need a frames capable browser to send a
      subscription.</p>
      <p>The top frame is used for composition and the bottom for
      previews.</p>
    </noframes>
  </frameset>
</html>