          <tr> 
            <th>Keywords:</th>
            <td> 
              <:ifFieldPerm keyword:><input type="text" name="keyword" maxlength="255" size="60" value="<: old keyword default keyword :>" />
              (comma separated)<:or:><: article threshold :><:eif:></td>
            <td class="help"><:help edit keywords:> <:error_img keyword:></td>
          </tr>
	  <tr>
	    <th>Tags</th>
	    <td>
	      <input type="hidden" name="_save_tags" value="1" />
	      <div id="tags">
	      <:iterator begin tags:>
	      <div class="tag"><input type="text" name="tags" value="<:tag name:>" /></div>
	      <:iterator end tags:>
	      <div class="tag"><input type="text" name="tags" value="" /></div>
	      </div>
	    </td>
	    <td class="help"><:help edit tags:><:error_img tags:></td>
	  </tr>
          <tr> 
            <th>Always Dynamic:</th>
            <td> 
              <:ifFieldPerm force_dynamic:><input type="hidden" name="save_force_dynamic" value="1" /><input type="checkbox" name="force_dynamic" value="1" <:if Article force_dynamic :>checked="checked"<:or Article:><:eif Article:> />
              <:or:><:ifArticle force_dynamic :>Yes<:or Article:>No<:eif Article:><:eif:></td>
            <td class="help"><:help edit keywords:> <:error_img keyword:></td>
          </tr>
          <tr> 
            <th>Category:</th>
            <td> 
              <:if FieldPerm category:><:category:><:or FieldPerm:><: article category :><:eif FieldPerm:></td>
            <td class="help"><:help edit category:> <:error_img category:></td>
          </tr>
