<p>| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> | 
<a href="<:script:>?id=-1">Sections</a> | 
<a href="<:script:>?id=-1&amp;_t=img">Global Images</a> | 
<a href="<:script:>?id=-1&amp;_t=file">Global Files</a> |
<a href="<:script:>?id=-1&amp;a_tags=1">Tags</a> |
<a href="<:script:>?id=-1&amp;a_tagcats=1">Tag Categories</a> |
</p>
