<:wrap base.tmpl:>
<:iterator begin images all:>
<:image:>

<div style="align: center"><:thumbimage gallery -:><br />
<:thumbimage gallery - width:> x <:thumbimage gallery - height:></div>
<:iterator end images:>

<p>
<:thumbimage gallery 1:>
<:thumbimage gallery capsule:>
</p>

<p>
<:iterator begin gimages:>
<:gthumbimage gallery -:>
<:iterator end gimages:>
</p>
<:gthumbimage gallery dnangel:>

sthumb <:sthumbimage 9 gallery capsule:>