<:embed start:><:ifAdmin:> 
<table cellpadding="4" cellspacing="0" border="0">
  <tr> 
    <td> 
      <form action="/cgi-bin/admin/add.pl">
        <input type=hidden name=id value="<:article id:>">
        <input class="mini-admin" type=submit value="Edit Sidebar" name="submit">
      </form>
    </td>
    <td> 
      <form action="/cgi-bin/admin/add.pl">
        <input class="mini-admin" type=submit value="Add Panel" name="submit2">
        <input type=hidden name=parentid value="<:article id:>">
      </form>
    </td>
  </tr>
</table>
<:or:><:eif:><:iterator begin children:><:moveDown:><:moveUp:><:embed child:> 
<:iterator separator children:> <br clear="all">
<:iterator end children:>
<:embed end:>
