<:wrap base.tmpl:> <:admin:> 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td width="80%" height="24">&nbsp;&nbsp;<font face="Arial, Helvetica, sans-serif" size="4" color="#FF7F00"><b><:title:></b></font></td>
    <td height="24">&nbsp;<a href="/cgi-bin/printable.pl?id=<:article id:>"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2" color="#999999">printable 
      version</font></a></td>
  </tr>
  <tr> 
    <td colspan="2" height="1" bgcolor="#999999"><img src="/images/trans_pixel.gif" width="24" height="1" border="0"></td>
  </tr>
  <tr> 
    <td colspan="2"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="100"><img src="/images/trans_pixel.gif" width="100" height="10" border="0"></td>
          <td bgcolor="#999999" width="100%">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2">/ 
            <a href="<:ifAdmin:>/cgi-bin/admin/admin.pl?id=1<:or:>/<:eif:>"><font color="#FFFFFF">Home</font></a> 
            / <:iterator begin crumbs:> <a href="<:url crumbs:>"><font color="#FFFFFF"><:crumbs 
            title:></font></a> / <:iterator end crumbs:></font></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<:if Article body:> 
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><:body:></font></p>
<:or Article:><:eif Article:><:embed start:><:ifAdmin:> 
<table cellpadding="4" cellspacing="0" border="0">
  <tr> 
    <td> 
      <form action="/cgi-bin/admin/add.pl">
        <input type=hidden name=id value="<:article id:>">
        <input class="mini-admin" type=submit value="Edit Sidebar" name="submit">
      </form>
    </td>
    <td> 
      <form action="/cgi-bin/admin/add.pl">
        <input class="mini-admin" type=submit value="Add Panel" name="submit2">
        <input type=hidden name=parentid value="<:article id:>">
      </form>
    </td>
  </tr>
</table>
<:or:><:eif:><:iterator begin children:><:moveDown:><:moveUp:><:embed child:> 
<:iterator separator children:> <br clear="all">
<:iterator end children:> <:embed end:> <:if Files:> <br>
<table border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td> 
      <table border="0" cellspacing="0" cellpadding="4" bgcolor="#999999">
        <tr> 
          <th nowrap><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF">&nbsp;&nbsp;Related 
            file downloads&nbsp;&nbsp;</font></th>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td bgcolor="#999999"> 
      <table cellspacing="1" cellpadding="4">
        <tr bgcolor="#CCCCCC"> 
          <th><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Description</font></th>
          <th><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Filename</font></th>
          <th><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Size</font></th>
          <th><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Status</font></th>
        </tr>
        <:iterator begin files:> 
        <tr bgcolor="#FFFFFF"> 
          <td bgcolor="#FFFFFF"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><:file 
            description:></font></td>
          <td bgcolor="#FFFFFF"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><:if 
            File forSale:><:file displayName:><:or File:><a href="/cgi-bin/user.pl?download_file=1&file=<:file id:>"> 
            <:file displayName:></a><:eif File:></font></td>
          <td align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><:kb 
            file sizeInBytes:></font></td>
          <td nowrap align="center"> <:if 
            File forSale:><img src="/images/filestatus/locked.gif" width="15" height="15" alt="Locked" title="Locked"><img src="/images/filestatus/forSale.gif" width="15" height="15" alt="File must be purchased" title="File must be purchased"><:or File:><a href="/cgi-bin/user.pl?download_file=1&file=<:file id:>"><img src="/images/filestatus/download.gif" width="15" height="15" alt="Download now" title="Download now" border="0"></a><:ifFile requireUser:><img src="/images/filestatus/requireUser.gif" width="15" height="15" alt="For registered users only" title="For registered users only"><:or:><img src="/images/trans_pixel.gif" width="15" height="15" title="For registered users only"><:eif:><:eif File:></td>
        </tr>
        <:iterator end files:> 
      </table>
    </td>
  </tr>
</table>
<:or Files:><:eif Files:>