<:wrap base.tmpl:> <:embed start:><:admin:> 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="80%" height="24">&nbsp;&nbsp;<font face="Arial, Helvetica, sans-serif" size="4" color="#FF7F00"><b><:title:></b></font></td>
    <td height="24">&nbsp;</td>
  </tr>
  <tr> 
    <td bgcolor="#999999" colspan="2" height="1"><img src="/images/trans_pixel.gif" width="24" height="1" border="0"></td>
  </tr>
</table>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><:body:></font></p>
<p><a href="<:ifAdmin:>/cgi-bin/admin/admin.pl?id=1<:or:>/<:eif:>"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><b>Home</b></font></a></p>
<:iterator begin level1:> 
<p><a href="<:url level1:>"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><b><:level1 
  title:></b></font></a></p>
<:if Level2:> 
<ul>
  <:iterator begin level2:><:embed level2 lowmap.tmpl 2:><:iterator end level2:> 
</ul>
<:or Level2:><:eif Level2:> <:iterator end level1:> 
<p><a href="/cgi-bin/search.pl"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><b>Search</b></font></a></p>
<p><:embed end:> </p>
<p>&nbsp;</p>
