Your online form has been submitted.

<:if User:>A registered user submitted the form:
Logon: <:user userId:>
Email: <:user email:>
<:or User:>The user wasn't registered/logged on when they submitted the form.
<:eif User
:>
<:iterator begin fields:>
** <:field description:> **
<:ifField values:><:iterator begin values
:>  <:value id:>: <:value name:>
<:iterator end values
:><:or:>  <:field value:> <:if Eq [field htmltype] "file":>(attached file)<:or Eq:><:eif Eq:>
<:eif:><:iterator end fields:>
