<:wrap base.tmpl title=>"FORMTITLE":>
<form action="<:script:>" method="post" <:ifFormHasFileFields:>enctype="multipart/form-data"<:or:><:eif:>>
<input type="hidden" name="form" value="<:id:>" />
<:ifFormcfg spam_check_field:><input type="hidden" name="<:formcfg spam_check_field:>" value="" /><:or:><:eif:>
<:ifCgi r:><input type="hidden" name="r" value="<:cgi r:>" /><:or:><:eif:>
<:ifMsg:><p><b><:msg:></b></p><:or:><:eif:>
<table>
<:iterator begin fields:>
<tr>
  <th><:field description:>:</th>
  <td>
  <:switch:>
  <:case Eq [field htmltype] "textarea":>
  <textarea name="<:field name:>" <:ifField width:>cols="<:field width:>"<:or:><:eif:> <:ifField height:>rows="<:field height:>"<:or:><:eif:> wrap="virtual"><:old [field name] field default:></textarea>
  <:case Eq [field htmltype] "password":>
  <input type="password" name="<:field name:>" value="<:old [field name]:>" <:ifField width:>size="<:field width:>"<:or:><:eif:> />
  <:case Eq [field htmltype] "select":>
  <:values_select:>
  <:case Eq [field htmltype] "multiselect":>
  <select name="<:field name:>" multiple="multiple">
  <:iterator begin values:>
  <option value="<:value id:>"<:ifValueSet:> selected="selected"<:or:><:eif:>><:value name:></option>
  <:iterator end values:>
  </select>
  <:case Eq [field htmltype] "radio":>
  <:iterator begin values:>
  <input type="radio" name="<:field name:>" value="<:value id:>"<:ifValueSet:> checked="checked"<:or:><:eif:> />&nbsp;<:value name:>
  <:iterator separator values:>
  <br />
  <:iterator end values:>
  <:case Eq [field htmltype] "check":>
  <:iterator begin values:>
  <input type="checkbox" name="<:field name:>" value="<:value id:>"<:ifValueSet:> checked="checked"<:or:><:eif:> />&nbsp;<:value name:>
  <:iterator separator values:>
  <br />
  <:iterator end values:>
  <:case Eq [field htmltype] "file":>
  <input type="file" name="<:field name:>" value="" />
  <:case default:>
  <input type="text" name="<:field name:>" value="<:old [field name] field default:>" <:ifField width:>size="<:field width:>" <:or:><:eif:><:ifField maxlength:>maxlength="<:field maxlength:>"<:or:><:eif:> />
  <:endswitch:>
  <:ifField notes:><:field notes:><:or:><:eif:>
  </td>
  <td><:error_img [field name]:></td>
</tr>
<:iterator end fields:>
<:if Recaptcha:>
<tr>
<td></td>
<td><:recaptcha:></td>
</tr>
<:or Recaptcha:><:eif Recaptcha:>
<tr>
  <td colspan="2"><input type="submit" name="a_send" value="<:formcfg submit "Submit":>" /></td>
  <td></td>
</tr>
</table>
</form>