<:wrap base.tmpl:> <:embed start:><:ifAdmin:>
<table cellpadding="4" cellspacing="0" border="0">
  <tr> 
    <td> 
      <form action="/cgi-bin/admin/add.pl">
        <input type=hidden name=id value="<:article id:>">
        <input class="mini-admin" type=submit value="Edit Panel">
      </form>
    </td>
    <td> 
      <form action="/cgi-bin/admin/add.pl">
        <input class="mini-admin" type=submit value="Add Child">
        <input type=hidden name=parentid value="<:article id:>">
      </form>
    </td>
  </tr>
</table>
<:or:><:eif:><:if Cfg "site users" nopassword:>
<!-- This form is not used when you have the nopassword option enabled -->
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Please use the URL from your confirmation email to access your
details and subscription information.</font></p>
<div align="center"><form action="/cgi-bin/user.pl"><input type="submit" name="show_register" value="Register" class="user-buttons" /></form></div>
<:or Cfg:><:if Dynamic:>
<:if User:>
<form action="/cgi-bin/user.pl">
<table><tr><td align="left"><input type="submit" name="userpage" value="User profile" class="user-buttons" /></td><td align="right"><input type="submit" name="logoff" value="Logoff" class="user-buttons" /></td></tr></table></form>
<:or User:>
<form action="/cgi-bin/user.pl" method="post">
<table><tr><th><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Username:</font></th><td><input type="text" name="userid" size="10" /></td></tr>
<tr><th><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Password:</font></th><td><input type="password" name="password" size="10" /></td></tr>
<tr><td align="left"><input type="submit" name="logon" value="Logon" class="user-buttons" /></td><td align="right"><input type="submit" name="show_register" value="Register" class="user-buttons" /></td></tr></table></form>
<:eif User:>
<:or Dynamic:>
<div align="center">
<script language="JavaScript">
<!--
// extract the userid cookie, if any, and either present a logon form,
// or a logoff button
var cookies = document.cookie;
var start = cookies.indexOf("userid=");
var userid = '';
if (start != -1) {
  start += 7;
  var end = cookies.indexOf(';', start);
  if (end == -1) end = cookies.length;
  userid = cookies.substring(start, end);
}
if (userid != '') {
  document.write('<form action="/cgi-bin/user.pl">');
  document.write('<table><tr><td align="left"><input type="submit" name="userpage" value="User profile" class="user-buttons" /></td><td align="right"><input type="submit" name="logoff" value="Logoff" class="user-buttons" /></td></tr></table></form>');
}
else {
  document.write('<form action="/cgi-bin/user.pl" method="post">');
  document.write('<table><tr><th><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Username:</font></th><td><input type="text" name="userid" size="10" /></td></tr>');
  document.write('<tr><th><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Password:</font></th><td><input type="password" name="password" size="10" /></td></tr>');
  document.write('<tr><td align="left"><input type="submit" name="logon" value="Logon" class="user-buttons" /></td><td align="right"><input type="submit" name="show_register" value="Register" class="user-buttons" /></td></tr></table></form>');
}
//-->
</script>
</div>
<:eif Dynamic:><:eif Cfg:><:embed end:>
