<html><head><title>Add product - Shop administration</title>
<link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<h1>Shop Administration</h1>
<:ifMessage:> 
<p><b><:message:> </b></p>
<:or:><:eif:> 
<p>| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> | <a href="/cgi-bin/admin/shopadmin.pl">Manage catalogs</a> 
  | </p>
  <h2>Add New Product</h2>
<form action="<:script:>" enctype="multipart/form-data" method=POST>
  <input type="hidden" name="id" value="<:product id:>">
  <table border="0" cellspacing="0" cellpadding="0" bgcolor="#000000" class="table">
    <tr>
      <td>
        <table border=0 cellspacing="1" cellpadding="6">
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF">Title:</th>
            <td nowrap bgcolor="#FFFFFF"> 
              <input type="text" name="title" value="<:old title:>" size=60><:error_img title:>
            </td>
            <td nowrap bgcolor="#FFFFFF"><:help product title:></td>
          </tr>
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF">Summary:</th>
            <td nowrap bgcolor="#FFFFFF"> 
              <input type="text" name="summary" value="<:old summary:>" size=60><:error_img summary:>
            </td>
            <td nowrap bgcolor="#FFFFFF"><:help product summary:></td>
          </tr>
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF">Description:</th>
            <td nowrap bgcolor="#FFFFFF"> 
              <input type="text" name="description" value="<:old description:>" size=60><:error_img description:>
            </td>
            <td nowrap bgcolor="#FFFFFF"><:help product description:></td>
          </tr>
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF">Product Code:</th>
            <td nowrap bgcolor="#FFFFFF"> 
              <input type="text" name="product_code" value="<:old product_code:>" size="40"><:error_img product_code:>
            </td>
            <td nowrap bgcolor="#FFFFFF"><:help product product_code:></td>
          </tr>
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF">Catalog:</th>
            <td nowrap bgcolor="#FFFFFF"> <select name="parentid"><:list:></select><:error_img parentid:> </td>
            <td nowrap bgcolor="#FFFFFF"><:help product catalog:></td>
          </tr>
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF">Template:</th>
            <td nowrap bgcolor="#FFFFFF"><:templates:><:error_img template:></td>
            <td nowrap bgcolor="#FFFFFF"><:help product template:></td>
          </tr>
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF" valign="top"> Body:</th>
            <td nowrap bgcolor="#FFFFFF" valign="top"> 
              <textarea name="body" rows=15 cols=60 wrap=virtual><:old body:></textarea> <:error_img body:>
            </td>
            <td nowrap bgcolor="#FFFFFF" valign="top"><:help body body:></td>
          </tr>
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF">Lead time:</th>
            <td nowrap bgcolor="#FFFFFF"> 
              <input type="text" name="leadTime" value="<:old leadTime:>" size=5>
              days <:error_img leadTime:></td>
            <td nowrap bgcolor="#FFFFFF"><:help product leadtime:></td>
          </tr>
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF">Retail price:</th>
            <td nowrap bgcolor="#FFFFFF">$ 
              <input type="text" name="retailPrice" value="<:old retailPrice money product retailPrice:>" size=7>
              (0.00) <:error_img retailPrice:></td>
            <td nowrap bgcolor="#FFFFFF"><:help product retail:></td>
          </tr>
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF">Wholesale price:</th>
            <td nowrap bgcolor="#FFFFFF">$ 
              <input type="text" name="wholesalePrice" value="<:old wholesalePrice money product wholesalePrice:>" size=7>
              (0.00) <:error_img wholesalePrice:></td>
            <td nowrap bgcolor="#FFFFFF"><:help product wholesale:></td>
          </tr>
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF">GST:</th>
            <td nowrap bgcolor="#FFFFFF">$ 
              <input type="text" name="gst" value="<:old gst money product gst:>" size=7> <:error_img gst:>
              (0.00)</td>
            <td nowrap bgcolor="#FFFFFF"><:help product gst:></td>
          </tr>
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF">Release date:</th>
            <td nowrap bgcolor="#FFFFFF"> 
              <input type="text" name="release" value="<:date product release:>" size=11>
              (dd/mm/yyyy)</td>
            <td nowrap bgcolor="#FFFFFF"><:help product release:></td>
          </tr>
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF">Expiry date:</th>
            <td nowrap bgcolor="#FFFFFF"> 
              <input type="text" name="expire" value="<:date product expire:>" size=11>
              (dd/mm/yyyy)</td>
            <td nowrap bgcolor="#FFFFFF"><:help product expire:></td>
          </tr>
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF">Summary length:</th>
            <td nowrap bgcolor="#FFFFFF"> 
              <input type="text" name="summaryLength" size="10" maxlength="10" value="<:product summaryLength:>">
            </td>
            <td nowrap bgcolor="#FFFFFF"><:help product summary:></td>
          </tr>
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF">Display threshold:</th>
            <td nowrap bgcolor="#FFFFFF"> 
              <input type="text" name="threshold" size=10 maxlength=10 value="<:product threshold:>">
            </td>
            <td nowrap bgcolor="#FFFFFF"><:help product threshold:></td>
          </tr>
          <tr> 
            <th align="left" bgcolor="#FFFFFF">Options:</th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="options" value="<:product options:>" size=30>
              (<:alloptions:>) </td>
            <td bgcolor="#FFFFFF"><:help product options:></td>
          </tr>
          <tr> 
            <th nowrap bgcolor="#FFFFFF" align="left">Flags:</th>
            <td bgcolor="#FFFFFF" width="100%"><:iterator begin flags:><:if FieldPerm flags:><input type=checkbox name=flags value="<:flag id:>" <:ifFlagSet [flag id]:>checked<:or:><:eif:>><:or FieldPerm:><:ifFlagSet [flag id]:>Yes<:or:>No<:eif:><:eif FieldPerm:><:flag desc:><:iterator end flags:></td>
            <td bgcolor="#FFFFFF"><:help edit listed:></td>
          </tr>
<:include admin/product_custom.tmpl optional :>
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF" valign="top">Thumbnail image:</th>
            <td nowrap bgcolor="#FFFFFF"> 
              <input type="file" name="thumbnail">
            </td>
            <td nowrap bgcolor="#FFFFFF" valign="top"><:help product thumb:></td>
          </tr>
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF">Purchase subscribes to:</th>
            <td nowrap bgcolor="#FFFFFF"> 
	      <select name="subscription_id">
                <option value="-1">(nothing)</option>
<:iterator begin subscriptions:>
                <option value="<:subscription subscription_id:>"><:subscription title:></option>
<:iterator end subscriptions:>
	      </select> for <input type="text" name="subscription_period" value="<:old subscription_period" /><:error_img subscription_period:> months.
            </td>
            <td nowrap bgcolor="#FFFFFF"><:help product subscription_id:></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <p><font size="-1">*These fields cannot be modified once you save this form.</font></p>
  <input type=submit name="save" value="Save product">
</form>
<p><font size="-1">BSE Release <:release:></font></p>
</body>
</html>
