<:wrap admin/base.tmpl title => "Add new user":>
<h1>Add new user</h1>

<p>
| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> 
| <a href="<:script:>">User list</a>
| <a href="<:script:>?a_groups=1">Group list</a> |
</p>

<:.call "messages" :>

<form method="POST" action="<:script:>">

        <table>
          <tr> 
            <th>Logon: </th>
            <td> 
              <input type="text" name="logon" value="<:old logon:>" />
            </td>
            <td class="help"><:help adduser logon:> <:error_img logon:></td>
          </tr>
          <tr> 
            <th>Name: </th>
            <td> 
              <input type="text" name="name" value="<:old name:>" />
            </td>
            <td class="help"><:help adduser name:>  <:error_img name:></td>
          </tr>
          <tr> 
            <th> Password: </th>
            <td> 
              <input type="password" name="password" />
              </td>
            <td class="help"> <:help adduser password:>  <:error_img password:></td>
          </tr>
          <tr> 
            <th> Confirm: </th>
            <td> 
              <input type="password" name="confirm" />
            </td>
            <td><:help adduser confirm:> <:error_img confirm:> </td>
          </tr>
          <tr> 
            <td class="buttons" colspan="3"> 
              <input type="submit" name="a_adduser" value="  Add User  " />
            </td>
          </tr>
        </table>
</form>
