<:wrap admin/base.tmpl title=>"Image Wizard", js => "admin_edit.js" :>
<h1><:ifEq [article id] "-1":>Global<:or:><: articleType :><:eif:> Image Wizard</h1>
<:ifMessage:> 
<p><b><:message:> </b></p>
<:or:><:eif:>
<p>| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> | 
<:switch:>
<:case Match [article generator] "Product":><a href="/cgi-bin/admin/add.pl?id=<:article id:>">Edit
    product</a> | <a href="/cgi-bin/admin/shopadmin.pl">Manage catalogs</a>
<:case Eq [article id] [cfg articles shop]:><a href="/cgi-bin/admin/add.pl?id=<:article id:>">Edit shop</a>
<:case Eq [article id] "-1":><a href="/cgi-bin/admin/add.pl?id=<:article id:>">Edit sections</a>
<:case default:><a href="/cgi-bin/admin/add.pl?id=<:article id:>"><:ifMatch
    [article generator] "Catalog":>Edit catalog<:or:>Edit article<:eif:></a>
<:endswitch:>
|
<:if Thumbs:><a href="<:script:>?id=<:article id:>&amp;_t=img&amp;f_showfull=1">Full size images</a> |<:or Thumbs:><:ifCanThumbs:><a href="<:script:>?id=<:article id:>&amp;_t=img">With Thumbnails</a> |<:or:><:eif:><:eif Thumbs:>
</p>
<:if UserCan edit_images_add:article:>
<h2>Add new image</h2>

<form method="post" action="<:script:>" enctype="multipart/form-data" name="add">

<input type="hidden" name="level" value="<: level :>" />
<input type="hidden" name="id" value="<: article id :>" />
<input type="hidden" name="parentid" value="<: article parentid :>" />
<input type="hidden" name="imgtype" value="<: articleType :>" />
<input type="hidden" name="_t" value="img" />
<:csrfp admin_add_image hidden:>
        <table>
          <tr> 
            <th>Image file to add:</th>
            <td> 
              <input type="file" name="image" /> 
            </td>
            <td class="help"><:help image file:> <:error_img image:></td>
          </tr>
          <tr> 
            <th>Alt text for image:</th>
            <td> 
              <input type="text" name="altIn" value="<:old altIn:>" />
            </td>
            <td class="help"><:help image alt:> <:error_img altIn:></td>
          </tr>
          <tr> 
            <th>URL for image:</th>
            <td> 
              <input type="text" name="url" value="<:old url:>" />
            </td>
            <td class="help"><:help image url:> <:error_img url:></td>
          </tr>
          <tr> 
            <th>Identifier for image:</th>
            <td> 
              <input type="text" name="name" value="<:old name:>" />
            </td>
            <td class="help"><:help image name:> <:error_img name:></td>
          </tr>
  <tr>
    <th>Tags</th>
    <td>
      <input type="hidden" name="_save_tags" value="1" />
      <div id="tags">
      <:- .set tags = [ cgi.param("tags") ] :>
      <:- .if tags.size == 0 :>
        <:% tags.push("") :>
      <:- .end if :>
      <:.for tag in tags :>
        <div class="tag"><input type="text" name="tags" value="<:= tag :>" /><:.call "error_img_n", "field":"tags", "index":loop.index :></div>
      <:.end for:>
      </div>
    </td>
    <td class="help"><:help edit tags:></td>
  </tr>
          <tr> 
            <th>Storage:</th>
            <td> 
<select name="storage">
<option value="">(Auto)</option>
<:iterator begin image_stores:>
<option value="<:image_store name:>"><:image_store description:></option>
<:iterator end image_stores:>
</select>
            </td>
            <td class="help"><:help image storage:> <:error_img storage:></td>
          </tr>
          <tr> 
            <td  colspan="3" class="buttons"> 
              <input type="submit" name="addimg" value="Add Image" />
            </td>
          </tr>
        </table>
</form>
<:or UserCan:><:eif UserCan:>

<form method="post" action="<:script:>" enctype="multipart/form-data" name="manage">
<input type="hidden" name="level" value="<: level :>" />
<input type="hidden" name="id" value="<: article id :>" />
<input type="hidden" name="parentid" value="<: article parentid :>" />
<input type="hidden" name="imgtype" value="<: articleType :>" />
<input type="hidden" name="_t" value="img" />
<:csrfp admin_save_images hidden:>
  <h2>Manage images</h2>

        <table class="editform images">
          <:if Images:><:if Eq [article id] "-1":><:or Eq:><:if Cfg basic auto_images 1:><tr> 
            <th colspan="5">First Image Position</th>
          </tr>
		  <tr> 
            <td colspan="5"> 
<input type="radio" name="imagePos" value="tl" <: ifEq [article imagePos] "tl":>checked<:eif:> />Top Left &nbsp;
<input type="radio" name="imagePos" value="tr"  <: ifEq [article imagePos] "tr":>checked<:eif:> />Top Right &nbsp;
<input type="radio" name="imagePos" value="bl"  <: ifEq [article imagePos] "bl":>checked<:eif:> />Bottom Left &nbsp;
<input type="radio" name="imagePos" value="br"  <: ifEq [article imagePos] "br":>checked<:eif:> />Bottom Right
<input type="radio" name="imagePos" value="xx"  <: ifEq [article imagePos] "xx":>checked<:eif:> />Don't automatically insert images

<:help image position:>

	    </td>
          </tr><:eif Cfg:><:eif Eq:>
<:if Thumbs:>
          <tr> 
            <th>Image</th>
            <th colspan="2"> &nbsp;</th>
            <th class="col_modify"> Modify</th>
	    <th class="col_move"> Move</th>
          </tr>
<:iterator begin images:>
	<tr>
          <td rowspan="5" class="col_thumbnail"><a href="#" onclick="window.open('<:image src:>', 'fullimage', 'width=<:arithmetic [image width]+20:>,height=<:arithmetic [image height] + 30:>,location=no,status=no,menubar=no,scrollbars=yes'); return false;"><:thumbimage editor:></a></td>
	    <th>Alt text:</th>
            <td class="col_field"> 
              <:ifUserCan edit_images_save:article:><input type="text" name="alt<:image id:>" value="<: oldi [concatenate alt [image id] ] 0 image alt :>" size="32" /><:or:><: image alt :><:eif:>
            </td>
            <td class="col_modify" rowspan="5"> 
              <:ifUserCan edit_images_delete:article:><b><a href="<:script:>?id=<:article id:>&amp;removeimg_<: image id :>=1&amp;_t=img&amp;_csrfp=<:csrfp admin_remove_image:>" onClick="return window.confirm('Are you sure you want to delete this Image')">Delete</a></b><:or:><:eif:>
<:ifUserCan edit_images_save:article:><a href="<:script:>?a_edit_image=1&amp;id=<:article id:>&amp;image_id=<: image id :>">Edit</a><:or:><:eif:></td>
            <td class="col_move" rowspan="5"><:imgmove:></td>
	  </tr>
	  <tr>        
            <th>URL:</th>
            <td class="col_field"> 
              <:ifUserCan edit_images_save:article:><input type="text" name="url<:image id:>" value="<: oldi [concatenate url [image id] ] 0 image url :>" size="32" /><:or:><: image url :><:eif:>
            </td>
          </tr>
          <tr>
	    <th>Identifier:</th>
            <td class="col_field"> 
              <:ifUserCan edit_images_save:article:><input type="text" name="name<:image id:>" value="<: oldi [concatenate name [image id] ] 0 image name :>" size="32" /> <:error_img [concatenate "name" [image id] ]:><:or:><: image name :><:eif:>
            </td>
        </tr>
          <tr>
	    <th>Image file:</th>
            <td class="col_field"> 
              <:ifUserCan edit_images_save:article:><input type="file" name="image<:image id:>" size="32" /> <:error_img [concatenate "image" [image id] ]:><:or:><: image displayName :><:eif:>
            </td>
        </tr>
          <tr>
	    <th>Stored:</th>
            <td class="col_field"> 
              <:ifUserCan edit_images_save:article:><select name="storage<:image id:>">
<option value="">(Auto)</option>
<:iterator begin image_stores:>
<option value="<:image_store name:>" <:ifEq [oldi [concatenate storage [image id] ] 0 image storage] [image_store name]:>selected="selected"<:or:><:eif:>><:image_store description:></option>
<:iterator end image_stores:>
</select><:error_img [concatenate "storage" [image id] ]:><:or:><: image storage :><:eif:>
            </td>
        </tr>
<:iterator end images:>          
<:or Thumbs:>
          <tr> 
            <th colspan="5">Image</th>
          </tr>
          <: iterator begin images :> 
          <tr> 
            <td class="col_image" colspan="5"><:image:></td>
          </tr>
          <tr> 
            <th> Alt Text</th>
            <th class="col_url"> URL</th>
            <th> Identifier</th>
            <th class="col_modify"> Modify</th>
			<th class="col_move"> Move</th>
          </tr>
          <tr> 
            <td> 
              <:ifUserCan edit_images_save:article:><input type="text" name="alt<:image id:>" value="<: oldi [concatenate alt [image id] ] 0 image alt :>" size="32" /><:or:><: image alt :><:eif:>
            </td>
            <td class="col_url"> 
              <:ifUserCan edit_images_save:article:><input type="text" name="url<:image id:>" value="<: oldi [concatenate url [image id] ] 0 image url :>" size="32" /><:or:><: image url :><:eif:>
            </td>
            <td class="col_identifier"> 
              <:ifUserCan edit_images_save:article:><input type="text" name="name<:image id:>" value="<: oldi [concatenate name [image id] ] 0 image name :>" size="32" /> <:error_img [concatenate "name" [image id] ]:><:or:><: image name :><:eif:>
            </td>
            <td class="col_modify"> 
              <:ifUserCan edit_images_delete:article:><b><a href="<:script:>?id=<:article id:>&amp;removeimg_<: image id :>=1&amp;_t=img&amp;_csrfp=<:csrfp admin_remove_image:>" onClick="return window.confirm('Are you sure you want to delete this Image')">Delete</a></b><:or:><:eif:></td>
            <td class="col_move"><:imgmove:></td>
          </tr>
          <: iterator separator images :> 
          <tr> 
            <td colspan="5">&nbsp;</td>
          </tr>
          <: iterator end images :> 
<:eif Thumbs:>
<:ifUserCan edit_images_save:article:>
          <tr> 
            <td colspan="5" class="buttons"> 
              <input type="submit" name="process" value="Save changes" />
            </td>
	  </tr>
<:or:><:eif:>
		  <:or Images:><tr><td colspan="5" align="center" bgcolor="#FFFFFF"><:if Eq [article id] "-1":>There are no global images<:or Eq:>No images
		      are attached to this article<:eif Eq:></td>
          </tr><:eif Images:>
        </table>

  <p>
    <input type="submit" name="back" value=" &lt;&lt;  Back  " />
  </p>

</form>
