<!DOCTYPE html>
<html lang="<:= request.language | html -:>">
  <head>
    <title>BSE - <:param title:></title>
    <link rel="stylesheet" href="/css/admin.css" type="text/css" />
<:ifParam css:><link rel="stylesheet" href="/css/<:param css:>" type="text/css" /><:or:><:eif:>
<:ajax includes:>
<:ajax jquery:>
<script type="text/javascript" src="/js/bse.js"></script>
<script type="text/javascript" src="/js/admin.js"></script>
<script type="text/javascript" src="/js/swfobject.js"></script>
<:ifParam api:><script type="text/javascript" src="/js/bse_api.js"></script>
<:eif -:>
<:ifParam jstools:><script type="text/javascript" src="/js/admin_tools.js"></script>
<:eif -:>
<:ifParam js:><script type="text/javascript" src="/js/<:param js:>"></script>
<:eif -:>
  </head>
  <body<:ifParam bodyid:> id="<:param bodyid:>"<:eif:>>
<:ifParam showtitle:><h1><:param title:></h1><:eif-:>
<:wrap here:>
  <hr />
  <p class="version">BSE Release <:release:> - page generated <:today:></p>
  </body>
</html>
