 
<form name="" action="/cgi-bin/admin/add.pl" method="post">
  <p><input type=hidden name=id value="<:catalog id:>">
    <input type="submit" name="edit_catalog" value="Edit Catalog">
  </p>
</form>
<:if Products:> 
<h4>Products list</h4>
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#000000" width="100%" class="table">
  <tr>
    <td>
      <table border=0 cellpadding="6" cellspacing="1" width="100%">
        <tr> 
          <th bgcolor="#FFFFFF" nowrap>Id</th>
          <th bgcolor="#FFFFFF" width="100%">Name</th>
          <th bgcolor="#FFFFFF" nowrap>Release</th>
          <th bgcolor="#FFFFFF" nowrap>Expire</th>
          <th bgcolor="#FFFFFF" nowrap>Retail</th>
          <th bgcolor="#FFFFFF" nowrap>Wsale</th>
          <th bgcolor="#FFFFFF" nowrap>GST</th>
          <th bgcolor="#FFFFFF" nowrap>Modify</th>
          <th bgcolor="#FFFFFF">Note</th>
        </tr>
        <:iterator begin products:> 
        <tr bgcolor="#FFFFFF"> 
          <td align="center" nowrap><:product id:></td>
          <td width="100%"><a href="<:product admin:>"><:product title:></a></td>
          <td nowrap><:date release:></td>
          <td nowrap><:ifMatch [date expire] "31/12/9999":>Never<:or:><:date expire:><:eif:></td>
          <td align=right nowrap>$<:money retailPrice:></td>
          <td align=right nowrap>$<:money wholesalePrice:></td>
          <td align=right nowrap>$<:money gst:></td>
          <td nowrap><a href="/cgi-bin/admin/add.pl?id=<:product id:>">Edit</a> 
            <:if Product listed:> <a href="/cgi-bin/admin/add.pl?hide=1&amp;id=<:product id:>&amp;_csrfp=<:csrfp admin_save_article:>&amp;r=<:cfg site url:><:script:>">Hide</a> 
            <:or Product:> <a href="/cgi-bin/admin/add.pl?unhide=1&amp;id=<:product id:>&amp;_csrfp=<:csrfp admin_save_article:>&amp;r=<:cfg site url:><:script:>">Show</a> 
            <:eif Product:> <:move:> <:product customStr1:></td>
          <td><:hiddenNote:></td>
        </tr>
        <:iterator end products:> 
      </table>
    </td>
  </tr>
</table>
<:or Products:><:eif Products:>
<:ifUserCan edit_add_child:[catalog id] :><form action="/cgi-bin/admin/add.pl">
  <p><input type=hidden name=parentid value="<:catalog id:>"><input type=hidden name=type value="Product"><input type=submit name="add_product" value="Add Product"></p></form><:or:><:eif:>
<h4>Sub catalogs</h4>
<h4><:if Subcats :> <:iterator begin subcats:> </h4>
<ul>
  <h4><a name="cat<:subcat id:>"></a></h4>
  <h4>Catalog: <:subcat title:> <:movecat:></h4>
  <h4><:embed subcat catalog.tmpl:> </h4>
</ul>
<:iterator end subcats:>
<:or Subcats:><:eif Subcats:>
<:ifUserCan edit_add_child:[catalog id]:><form action="/cgi-bin/admin/add.pl"><input type=hidden name=type value="Catalog">
  <input type=hidden name=parentid value="<:catalog id:>"><input type=submit value="Add Sub-catalog"></form><:or:><:eif:>

