 
<form action="/cgi-bin/admin/add.pl" method="post">
  <p><input type=hidden name=id value="<:catalog id:>" />
    <input type="submit" name="edit_catalog" value="Edit Catalog" />
  </p>
</form>
<:if Products:> 
<h4>Products list</h4>
      <table class="productlist">
        <tr> 
          <th class="col_id">Id</th>
          <th class="col_name">Name</th>
          <th class="col_release">Release</th>
          <th class="col_expire">Expire</th>
          <th class="col_retail">Retail</th>
          <th class="col_wsale">Wsale</th>
          <th class="col_gst">GST</th>
          <th class="col_modify">Modify</th>
          <th class="col_note">Note</th>
        </tr>
        <:iterator begin products:> 
        <tr> 
          <td class="col_id"><:product id:></td>
          <td class="col_name"><a href="<:product admin:>"><:product title:></a></td>
          <td class="col_release"><:date release:></td>
          <td class="col-expire"><:ifMatch [date expire] "31/12/9999":>Never<:or:><:date expire:><:eif:></td>
          <td class="col_retail">$<:money retailPrice:></td>
          <td class="col_wsale">$<:money wholesalePrice:></td>
          <td class="col_gst">$<:money gst:></td>
          <td class="col_modify"><a href="/cgi-bin/admin/add.pl?id=<:product id:>">Edit</a> 
            <:if Product listed:> <a href="/cgi-bin/admin/add.pl?hide=1&amp;id=<:product id:>&amp;_csrfp=<:csrfp admin_save_article:>&amp;r=<:cfg site url:><:script:>">Hide</a> 
            <:or Product:> <a href="/cgi-bin/admin/add.pl?unhide=1&amp;id=<:product id:>&amp;_csrfp=<:csrfp admin_save_article:>&amp;r=<:cfg site url:><:script:>">Show</a> 
            <:eif Product:> <:move:></td>
          <td><:hiddenNote:></td>
        </tr>
        <:iterator end products:> 
      </table>
<:or Products:><:eif Products:>
<:ifUserCan edit_add_child:[catalog id] :><form action="/cgi-bin/admin/add.pl">
  <p><input type="hidden" name="parentid" value="<:catalog id:>" /><input type="hidden" name="type" value="Product" /><input type="submit" name="add_product" value="Add Product" /></p></form><:or:><:eif:>
<h4>Sub catalogs</h4>
<:if Subcats :> <:iterator begin subcats:>
<ul>
  <h4><a name="cat<:subcat id:>"></a></h4>
  <h4>Catalog: <:subcat title:> <:movecat:></h4>
  <h4><:embed subcat catalog.tmpl:> </h4>
</ul>
<:iterator end subcats:>
<:or Subcats:><:eif Subcats:>
<:ifUserCan edit_add_child:[catalog id]:><form action="/cgi-bin/admin/add.pl"><input type="hidden" name="type" value="Catalog" />
  <input type="hidden" name="parentid" value="<:catalog id:>" /><input type="submit" value="Add Sub-catalog" /></form><:or:><:eif:>

