<:wrap admin/base.tmpl title=>"Change Password":>
<h1>Change Password</h1>
<p>| <a href="/cgi-bin/admin/menu.pl">Admin Menu</a> |</p>
<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:> 

<form method="POST" action="<:script:>">
  <table border="0" cellspacing="0" cellpadding="0" bgcolor="#000000" class="table">
    <tr> 
      <td> 
        <table cellpadding="6" border="0" cellspacing="1">
          <tr> 
            <th bgcolor="#FFFFFF" align="left"> Old Password: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="password" name="oldpassword" />
              </td>
            <td bgcolor="#FFFFFF"> <:help changepw oldpassword:> <:error_img oldpassword:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left"> New Password: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="password" name="newpassword" />
              </td>
            <td bgcolor="#FFFFFF"> <:help changepw newpassword:> <:error_img newpassword:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left"> Confirm New Password: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="password" name="confirm" />
              </td>
            <td bgcolor="#FFFFFF"> <:help changepw confirm:> <:error_img confirm:></td>
          </tr>
          <tr> 
            <td bgcolor="#FFFFFF" colspan="3" align="right"> 
              <input type="submit" name="a_change" value="  Save Password  " />
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>
