<:wrap admin/base.tmpl title=>"Change Password":>
<h1>Change Password</h1>
<p>| <a href="/cgi-bin/admin/menu.pl">Admin Menu</a> |</p>
<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:> 

<form method="post" action="<:script:>">
        <table>
          <tr> 
            <th><label for="oldpassword">Old Password:</label></th>
            <td> 
              <input type="password" name="oldpassword" id="oldpassword" accesskey="o" tabindex="100" />
              </td>
            <td class="help"><:help changepw oldpassword:> <:error_img oldpassword:></td>
          </tr>
          <tr> 
            <th><label for="newpassword">New Password:</label> </th>
            <td> 
              <input type="password" name="newpassword" id="newpassword" accesskey="n" tabindex="110" />
              </td>
            <td class="help"> <:help changepw newpassword:> <:error_img newpassword:></td>
          </tr>
          <tr> 
            <th><label for="confirm">Confirm New Password:</label></th>
            <td> 
              <input type="password" name="confirm" id="confirm" accesskey="c" tabindex="120" />
              </td>
            <td class="help"> <:help changepw confirm:> <:error_img confirm:></td>
          </tr>
          <tr> 
            <td class="buttons" colspan="3"> 
              <input type="submit" name="a_change" value="  Save Password  " tabindex="200" />
            </td>
          </tr>
        </table>
</form>
