<:wrap admin/base.tmpl title=>"Manage Sections":>
<h1>Manage Sections</h1>
<:.call "messages" -:>
<:include admin/include/site_menu.tmpl:>
<:if Or [iadminuser_count] [iadmingroup_count]:>
      <form action="/cgi-bin/admin/adminusers.pl">
  <input type="hidden" name="id" value="<: article id:>" />
        <table>
          <tr>
            <th>Manage access:</th>
            <td>
              <select name=adminid>
<:iterator begin adminusers:>
<option value=<:iadminuser id:>>User <:iadminuser logon:>
<:iterator end adminusers:>
<:iterator begin admingroups:>
<option value=<:iadmingroup id:>>Group <:iadmingroup name:>
<:iterator end admingroups:>
              </select>
              <input type=submit name="a_showobjectart" value="Manage" />
      </td>
            <td class="help"><:help access manage:></td>
          </tr>
        </table>
      </form>
<br />
<:or Or:><:eif Or:>

<:if Children:> <a name="children"></a> 
      <table class="editform children">
        <tr> 
          <th class="col_title">Title</th>
          <th class="col_summary">Summary</th>
          <th class="col_listed">Listed</th>
          <th class="col_modify">Modify</th>
	  <th class="col_move">Move</th>
        </tr>
<:if UserCan edit_reorder_children:>
        <tr> 
          <td colspan="5">Sort  by: <a href="/cgi-bin/admin/reorder.pl?parentid=<:article id:>&amp;sort=title&amp;refreshto=/cgi-bin/admin/add.pl?id=<:article id:>">title</a> | <a href="/cgi-bin/admin/reorder.pl?parentid=<:article id:>&amp;sort=date&amp;refreshto=/cgi-bin/admin/add.pl?id=<:article id:>">date</a> | <a href="/cgi-bin/admin/reorder.pl?parentid=<:article id:>&amp;reverse=1&amp;refreshto=/cgi-bin/admin/add.pl?id=<:article id:>">reverse</a></td>
        </tr>
<:or UserCan:><:eif UserCan:>
        <:iterator begin children:> 
        <tr> 
          <td class="col_title"><a href="<:child admin:>"><:child title:></a></td>
          <td class="col_summary"><: summary child body :></td>
          <td class="col_listed"><: is child listed :></td>
          <td class="col_modify"> <a href="/cgi-bin/admin/add.pl?id=<:child id:>">Edit</a> 
            <:if UserCan edit_delete_article:child:><a href="/cgi-bin/admin/add.pl?id=<:child id:>&amp;remove=1&amp;_csrfp=<:csrfp admin_remove_article:>" onclick="return window.confirm('Are you sure you want to delete this Section')">Delete</a> <:or UserCan:><:eif UserCan:></td>
		   <td class="col_move"><:movechild:></td>
        </tr>
        <:iterator separator children:> <:iterator end children:> 
      </table>
<:or Children:>
<:eif Children:>
<:if HaveChildType:>
<:if New:>
<:or New:>
<form action="/cgi-bin/admin/add.pl" method="post">
<input type="hidden" name="parentid" value="<:article id:>" />
<p><input type="submit" value="Add <:childtype:>" /></p>
</form>
<:eif New:> <:or HaveChildType:> <:eif HaveChildType:>
