<html><head><title>Edit product - Shop administration</title>
  <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
<h1>Shop Administration</h1>
<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:> 
<p>| <a href="/admin/">Admin menu</a> | <a href="<:product admin:>">See product</a> 
  | <a href="/cgi-bin/admin/add.pl?id=<:product parentid:>">Edit parent</a> 
  | <a href="/cgi-bin/admin/shopadmin.pl">Manage catalogs</a><:if Product listed:> 
  | <a href="<:script:>?id=<:product id:>&delete_product=1">Hide product</a> <:or 
  Product:> | <a href="<:script:>?id=<:product id:>&undelete_product=1">Show product</a> 
  <:eif Product:>| <a href="/cgi-bin/admin/add.pl?id=<:product id:>&_t=steps">Manage 
  step parents</a> | <:ifProduct listed:><:or:>Hidden<:eif:></p>
  <h2>Edit Product</h2>
<:ifnew:><:or:>
<form action="/cgi-bin/admin/adminusers.pl"><input type=submit name="a_showobjectart" value="Manage access for"><input type=hidden name=id value="<: article id:>">
<select name=adminid>
<:iterator begin adminusers:>
<option value=<:iadminuser id:>>User <:iadminuser logon:>
<:iterator end adminusers:>
<:iterator begin admingroups:>
<option value=<:iadmingroup id:>>Group <:iadmingroup name:>
<:iterator end admingroups:>
</select>
</form><:eif:>
<form action="<:script:>" enctype="multipart/form-data" method="POST">
    <input type="hidden" name="id" value="<:product id:>">
  <table border="0" cellspacing="0" cellpadding="0" bgcolor="#000000" class="table">
    <tr>
      <td>
        <table border=0 cellpadding="6" cellspacing="1" width="100%">
          <tr> 
            <th align="left" bgcolor="#FFFFFF">Title:</th>
            <td bgcolor="#FFFFFF"><:product title:></td>
            <td nowrap bgcolor="#FFFFFF"><:help product title:></td>
          </tr>
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF">Summary:</th>
            <td nowrap bgcolor="#FFFFFF"><:product summary:></td>
            <td nowrap bgcolor="#FFFFFF"><:help product summary:></td>
          </tr>
          <tr> 
            <th align="left" bgcolor="#FFFFFF">Catalog:</th>
            <td bgcolor="#FFFFFF">
<select name="parentid"><:list:></select></td>
            <td nowrap bgcolor="#FFFFFF"><:help product catalog:></td>
          </tr>
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF">Template:</th>
            <td nowrap bgcolor="#FFFFFF"><:templates:></td>
            <td nowrap bgcolor="#FFFFFF"><:help product template:></td>
          </tr>
          <tr> 
            <th align="left" bgcolor="#FFFFFF" valign="top"> Body:</th>
            <td bgcolor="#FFFFFF"> 
              <textarea name=body rows=15 cols=60 wrap=virtual><:product body:></textarea>
            </td>
            <td nowrap bgcolor="#FFFFFF" valign="top"><:help body body:></td>
          </tr>
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF">Lead time:</th>
            <td nowrap bgcolor="#FFFFFF"> 
              <input type="text" name="leadTime" value="<:product leadTime:>" size=5>
              days</td>
            <td nowrap bgcolor="#FFFFFF"><:help product leadtime:></td>
          </tr>
          <tr> 
            <th align="left" bgcolor="#FFFFFF">Retail price:</th>
            <td bgcolor="#FFFFFF">$ 
              <input type="text" name="retailPrice" value="<:money product retailPrice:>" size=7>
              (0.00)</td>
            <td nowrap bgcolor="#FFFFFF"><:help product retail:></td>
          </tr>
          <tr> 
            <th align="left" bgcolor="#FFFFFF">Wholesale price:</th>
            <td bgcolor="#FFFFFF">$ 
              <input type="text" name="wholesalePrice" value="<:money product wholesalePrice:>" size=7>
              (0.00)</td>
            <td nowrap bgcolor="#FFFFFF"><:help product wholesale:></td>
          </tr>
          <tr> 
            <th align="left" bgcolor="#FFFFFF">GST:</th>
            <td bgcolor="#FFFFFF">$ 
              <input type="text" name="gst" value="<:money product gst:>" size=7>
              (0.00)</td>
            <td nowrap bgcolor="#FFFFFF"><:help product gst:></td>
          </tr>
          <tr> 
            <th align="left" bgcolor="#FFFFFF">Release date:</th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="release" value="<:date "%d/%m/%Y" product release:>" size=11>
              (dd/mm/yyyy)</td>
            <td nowrap bgcolor="#FFFFFF"><:help product release:></td>
          </tr>
          <tr> 
            <th align="left" bgcolor="#FFFFFF">Expiry date:</th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="expire" value="<:date "%d/%m/%Y" product expire:>" size=11>
              (dd/mm/yyyy)</td>
            <td nowrap bgcolor="#FFFFFF"><:help product expire:></td>
          </tr>
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF">Summary length:</th>
            <td nowrap bgcolor="#FFFFFF"> 
              <input type="text" name="summaryLength" size="10" maxlength="10" value="<:product summaryLength:>">
            </td>
            <td nowrap bgcolor="#FFFFFF"><:help product summary:></td>
          </tr>
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF">Display threshold:</th>
            <td nowrap bgcolor="#FFFFFF"> 
              <input type="text" name="threshold" size=10 maxlength=10 value="<:product threshold:>">
            </td>
            <td nowrap bgcolor="#FFFFFF"><:help product threshold:></td>
          </tr>
          <tr> 
            <th align="left" bgcolor="#FFFFFF">Options:</th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="options" value="<:product options:>" size=30>
              (<:alloptions:>) </td>
            <td bgcolor="#FFFFFF"><:help product options:></td>
          </tr>
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF" valign="top">Thumbnail image:</th>
            <td nowrap bgcolor="#FFFFFF"> 
              <input type="file" name="thumbnail">
              <:ifProduct thumbImage:><img src="/images/<:product thumbImage:>"> 
              <input type=checkbox name="remove_thumb">
              Remove<:or:><:eif:> </td>
            <td nowrap bgcolor="#FFFFFF" valign="top"><:help product thumb:></td>
          </tr>
          <tr> 
            <th nowrap align="left" bgcolor="#FFFFFF" valign="top"><a name="files"></a>Files:</th>
            <td nowrap bgcolor="#FFFFFF"> <:if Files:> 
              <table cellpadding="0" cellspacing="0" border="0" bgcolor="#333333">
                <tr> 
                  <td> 
                    <table cellpadding="5" cellspacing="1" border="0">
                      <tr bgcolor="#FFFFFF"> 
                        <th>Filename</th>
                        <th>Size</th>
                        <th>Type</th>
                        <th>D/l</th>
                        <th>Pay</th>
                        <th>User</th>
                      </tr>
                      <:iterator begin files:> 
                      <tr bgcolor="#FFFFFF"> 
                        <td><:file displayName:></td>
                        <td align="center"><:kb file sizeInBytes:></td>
                        <td><:file contentType:></td>
                        <td align=center><:ifFile download:>Yes<:or:>No<:eif:></td>
                        <td align=center><:ifFile forSale:>Yes<:or:>No<:eif:></td>
                        <td align=center><:ifFile requireUser:>Yes<:or:>No<:eif:></td>
                      </tr>
                      <:iterator end files:> 
                    </table>
                  </td>
                </tr>
              </table>
              <p><a href="<:script:>?filelist=1&id=<:article id:>"><b>Manage Files</b></a>
              </p>
              <:or Files:>
              <p>No files are attached to this article. <a href="<:script:>?filelist=1&id=<:article id:>"><b>Manage Files</b></a></p><:eif Files:>
            </td>
            <td nowrap bgcolor="#FFFFFF" valign="top"><:help product 
              files:></td>
          </tr>
          <tr> 
            <th valign="top" nowrap bgcolor="#FFFFFF" align="left"> Images: 
            </th>
            <td align="center" bgcolor="#FFFFFF"> <:if Images:> <:iterator begin 
              images:> <img src="/images/<: image image :>" alt="<:image alt :>" width= 
              <:image width:> height=<:image height:>> <:iterator separator images:> 
              <hr noshade size="1">
              <: iterator end images :>
              <p align="left"><a href="<:script:>?id=<:article id:>&showimages=1"><b>Manage Images</b></a></p>
	      <:or Images:><p align="left">No images are attached to this article.  <a href="<:script:>?id=<:article id:>&showimages=1"><b>Manage Images</b></a></p>
	      <:eif Images:>
            </td>
            <td valign="top" bgcolor="#FFFFFF"><:help product images:></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <p>
    <input type=submit name="save" value="Save changes">
  </p>
</form>

<p><font size="-1">BSE Release <:release:></font></p>
</body>
</html>
