<:wrap admin/xbase.tmpl title=>"[articleType] Options", showtitle=>1, menuitem=>prodopts, js=>"admin_prodopts.js":>
<:ifMessage:><div id="message"><:message:></div><:or:><:eif:>
<:include admin/product_menu.tmpl:>

<:if Dboptions:>
<h2>Product options</h2>
<:if UserCan bse_edit_prodopt_move:article:>
<div id="prodoptmenu">All options:
<a id="sortoptions" href="<:script:>?a_option_reorder=1&amp;_t=prodopts&amp;id=<:article id:>&amp;_csrfp=<:csrfp admin_move_option:>&amp;option_ids=<:arithmetic join ",", map $_->{id}, sort { lc $a->{name} cmp lc $b->{name} } Products->getByPkey([article id])->db_options:>">Sort</a>
<a id="reverseoptions" href="<:script:>?a_option_reorder=1&amp;_t=prodopts&amp;id=<:article id:>&amp;_csrfp=<:csrfp admin_move_option:>&amp;option_ids=<:arithmetic join ",", map $_->{id}, reverse Products->getByPkey([article id])->db_options:>">Reverse</a>
<img src="/images/admin/busy.gif" id="busy_img" style="visibility: hidden" />
</div>
<:or UserCan:><:eif UserCan:>
<div id="productoptions" <:ifUserCan bse_edit_prodopt_move:>class="moveable"<:or:><:eif:>>
<:iterator begin dboptions:>
<div id="prodopt<:dboption id:>" class="prodopt">
<div id="prodoptmenu<:dboption id:>" class="prodoptmenu">Option:<span id="prodoptname<:dboption id:>"><:dboption name:></span>
<div class="prodoptmenuoptions">
<:if UserCan bse_edit_prodopt_edit:article :>
<a id="editoption<:dboption id:>" href="<:script:>?id=<:article id:>&amp;a_edit_option=1&amp;option_id=<:dboption id:>">Edit</a>
<a href="<:script:>?id=<:article id:>&amp;a_delconf_option=1&amp;option_id=<:dboption id:>">Delete</a>
<a id="sortvals<:dboption id:>" href="<:script:>?id=<:article id:>&amp;a_option_value_reorder=1&amp;option_id=<:dboption id:>&amp;_csrfp=<:csrfp admin_move_option_value:>&amp;_t=prodopts&amp;value_ids=<:arithmetic join ',', map $_->{id}, sort { lc $a->{value} cmp lc $b->{value} } BSE::TB::ProductOptions->getByPkey([dboption id])->values:>">Sort</a>
<a id="reversevals<:dboption id:>" href="<:script:>?id=<:article id:>&amp;a_option_value_reorder=1&amp;option_id=<:dboption id:>&amp;_csrfp=<:csrfp admin_move_option_value:>&amp;_t=prodopts&amp;value_ids=<:arithmetic join ',', map $_->{id}, reverse BSE::TB::ProductOptions->getByPkey([dboption id])->values:>">Reverse</a>
<:or UserCan:><:eif UserCan:>
<:ifUserCan bse_edit_prodopt_move:article:><:dboption_move:><:or:><:eif:>
</div>
</div>
<div id="vallist<:dboption id:>" class="prodoptvalues">
<:iterator begin dboptionvalues:>
<div id="valentry<:dboptionvalue id:>" class="valueentry<:ifMatch [dboptionvalue_index] "[13579]$":> odd<:or:><:eif:>"><span id="prodoptvalue<:dboptionvalue id:>"><:dboptionvalue value:></span>
<:ifEq [dboptionvalue id] [dboption default_value]:>(default)<:or:><:eif:>
<:if UserCan bse_edit_prodopt_edit:article:>
<div class="valueentrymenu">
<a href="<:script:>?id=<:product id:>&amp;value_id=<:dboptionvalue id:>&amp;a_edit_option_value=1">Edit</a>
<a href="<:script:>?id=<:product id:>&amp;value_id=<:dboptionvalue id:>&amp;a_confdel_option_value=1">Delete</a>
<:dboptionvalue_move:>
</div>
<:or UserCan:><:eif UserCan:>
</div>
<:iterator end dboptionvalues:>
</div>
<:if UserCan bse_edit_prodopt_edit:article:>
<div class="addvalueform">
<form action="<:script:>" method="post" id="valform<:dboption id:>" class="addvalue"><input type="hidden" name="id" value="<:article id:>" /><input type="hidden" name="option_id" value="<:dboption id:>" /><input type="hidden" name="_t" value="prodopts" /><:csrfp admin_add_option_value hidden:><input type="text" name="value"  class="add_field" /><input type="submit" name="a_add_option_value" value="Add Value" class="add_submit" /></form>
</div>
<:or UserCan:><:eif UserCan:>
</div>
<:iterator end dboptions:>
</div>
<:or Dboptions:><:eif Dboptions:>
<:if UserCan bse_edit_prodopt_add:article:>
<div id="addoptionform" class="prodopt">
<form action="<:script:>" method="post">
<:csrfp admin_add_option hidden:>
<input type="hidden" name="_t" value="prodopts" />
<input type="hidden" name="id" value="<:article id:>" />
<div class="prodoptmenu">Option: <input type="text" name="name" value="<:old name:>" maxlength="255" class="editor_field" title="Enter the name of your new option here" /><:error_img name:><input type="submit" name="a_add_option" value="Add New Option" class="editor_ok_button" /></div>
<div class="prodoptvalues">
<div class="valueentry"><input type="text" name="value1" value="<:old value1:>" maxlength="255" class="editor_field" title="Enter some values here" /><:error_img value1:></div>
<div class="valueentry odd"><input type="text" name="value2" value="<:old value2:>" maxlength="255" class="editor_field" /><:error_img value2:></div>
<div class="valueentry"><input type="text" name="value3" value="<:old value3:>" maxlength="255" class="editor_field" /><:error_img value3:></div>
<div class="valueentry odd"><input type="text" name="value4" value="<:old value4:>" maxlength="255" class="editor_field" /><:error_img value4:></div>
<div class="valueentry"><input type="text" name="value5" value="<:old value5:>" maxlength="255" class="editor_field" /><:error_img value5:></div>
</div>
</div>
<div id="addoptionbutton" style="display: none">
<a href="#" onclick="javascript: document.getElementById('addoptionform').style.display='block'; return false;">Add an option</a>
</div>
<:or UserCan:><:eif UserCan:>
<script>

var prodopts = <:dboptionsjson:>;
var reorder_values_csrf = '<:csrfp admin_move_option_value:>';
var reorder_options_csrf = '<:csrfp admin_move_option:>';
var edit_option_csrf = '<:csrfp admin_save_option:>';
var edit_value_csrf = '<:csrfp admin_save_option_value:>';
var article_id = "<:article id:>";
var edit_script = "<:script:>";

var user_can_edit_option = <:ifUserCan bse_edit_prodopt_edit:>1<:or:>0<:eif:>;
var user_can_delete_option = <:ifUserCan bse_edit_prodopt_delete:>1<:or:>0<:eif:>;
var user_can_move_option = <:ifUserCan bse_edit_prodopt_move:>1<:or:>0<:eif:>;

var show_add_form = <:ifCgi a_add_option:>true<:or:>false<:eif:>;

</script>
