<html>
<head>

  <title>
    Administration - <: ifnew :>New<: or :>Edit<: eif :> <:articleType:>
  </title>

  <link rel="stylesheet" type="text/css" href="/css/admin.css">

</head>

<body>

  <input type="button" onclick="history.go(0);" value="  Refresh  ">

  <h1>Administration Page</h1>

  <h2>Select Images First</h2>

  <p><form enctype="multipart/form-data" method="POST" action="<:script:>">

  <p>
  <input type="submit" name="artimg" value="<:articleType:> Image Wizard">
  </p>


  <h2><:articleType:> Details</h2>

  <:ifMessage:> 
  <p><b><:message:></b></p>
  <:or:><:eif:>
  <p>| <a href="/admin/">Admin menu</a> | <:ifnew:><:or:><a href="<:article admin:>">See 
    article</a> | <:eif:><:editParent:> <:if new:><:or new:><a href="<:script:>?id=<:article id:>&_t=steps">Manage 
    stepchildren/stepparents</a> | <:eif new:> 
    <input type="hidden" name="level" value="<: level :>">
    <input type="hidden" name="id" value="<: article id :>">
  </p>
  <table border="0" cellspacing="0" cellpadding="0" bgcolor="#000000" width="100%">
    <tr>
      <td>

        <table cellpadding="6" border="0" cellspacing="1" width="100%">
          <tr> 
            <th nowrap bgcolor="#FFFFFF"> <:parentType:>: </th>
            <td bgcolor="#FFFFFF" width="100%"> 
              <select name="parentid">
                <option value="">Please select a Section <: ifart :><: list subsections 
                :><:or:><:list sections:><:eif:> 
              </select>
            </td>
            <td bgcolor="#FFFFFF"><:help edit section:> </td>
          </tr>
          <tr> 
            <th nowrap bgcolor="#FFFFFF"> <:articleType:> Title: </th>
            <td bgcolor="#FFFFFF" width="100%"> 
              <input type="text" name="title" maxlength="<:cfg fields title_size 255:>" size="64" value="<: article title :>">
            </td>
            <td bgcolor="#FFFFFF"><:help edit title:> </td>
          </tr>
          <tr> 
            <th nowrap bgcolor="#FFFFFF"> Title Image: </th>
            <td bgcolor="#FFFFFF" width="100%"> <:titleImages:> (upload this to 
              the /images/titles directory)</td>
            <td bgcolor="#FFFFFF">&nbsp;</td>
          </tr>
          <tr> 
            <th nowrap bgcolor="#FFFFFF"> Template: </th>
            <td bgcolor="#FFFFFF" width="100%"> <:templates:> </td>
            <td bgcolor="#FFFFFF"><:help edit template:> </td>
          </tr>
          <tr> 
            <th valign="top" nowrap bgcolor="#FFFFFF"> Body: </th>
            <td bgcolor="#FFFFFF" width="100%"> 
              <textarea name="body" rows="10" cols="60" wrap="virtual"><: article body :></textarea>
            </td>
            <td bgcolor="#FFFFFF"><:help body body:> </td>
          </tr>
          <tr> 
            <th nowrap bgcolor="#FFFFFF"> Release Date: </th>
            <td bgcolor="#FFFFFF" width="100%"> 
              <input type="text" name="release" value="<: article release :>" size="10" maxlength="10">
              (dd/mm/yyyy<: ifnew :> - default is today<: or :><: eif :>)</td>
            <td bgcolor="#FFFFFF"><:help edit release:></td>
          </tr>
          <tr> 
            <th nowrap bgcolor="#FFFFFF"> Expire Date: </th>
            <td bgcolor="#FFFFFF" width="100%"> 
              <input type="text" name="expire" value="<: article expire :>" size="10" maxlength="10">
              (dd/mm/yyyy - <: ifnew :>default is never, <: or :><: eif :>blank 
              for never expires)</td>
            <td bgcolor="#FFFFFF"><:help edit expire:></td>
          </tr>
          <tr> 
            <th nowrap bgcolor="#FFFFFF"> Summary Length: </th>
            <td bgcolor="#FFFFFF" width="100%"> 
              <input type="text" name="summaryLength" size="10" maxlength="10" value="<: article summaryLength :>">
              (in characters - <: ifnew :>default inherited from section<: if 
              art :> or sub-section<: or art :><: eif art :>, <: or :><: eif :> 
              zero for no summary)</td>
            <td bgcolor="#FFFFFF"><:help edit summaryLength:></td>
          </tr>
          <tr> 
            <th nowrap bgcolor="#FFFFFF"> Display threshold: </th>
            <td bgcolor="#FFFFFF" width="100%"> 
              <input type="text" name="threshold" size="10" maxlength="10" value="<: article threshold :>">
            </td>
            <td bgcolor="#FFFFFF"><:help edit threshold:> </td>
          </tr>
          <tr> 
            <th nowrap bgcolor="#FFFFFF"> Keywords: </th>
            <td bgcolor="#FFFFFF" width="100%"> 
              <input type="text" name="keyword" maxlength="255" size="60" value="<: article keyword :>">
              (comma separated)</td>
            <td bgcolor="#FFFFFF"><:help edit keywords:> </td>
          </tr>
          <tr> 
            <th nowrap bgcolor="#FFFFFF">List article:</th>
            <td bgcolor="#FFFFFF" width="100%"> <:list listed:> </td>
            <td bgcolor="#FFFFFF"><:help edit listed:></td>
          </tr>
          <tr> 
            <th nowrap bgcolor="#FFFFFF">Thumbnails:</th>
            <td bgcolor="#FFFFFF" width="100%"> 
              <input type=file name=thumbnail>
              <:ifArticle thumbImage:><img src="/images/<:article thumbImage:>"> 
              <input type=checkbox name="remove_thumb">
              Remove<:or:><:eif:></td>
            <td bgcolor="#FFFFFF"><:help edit thumb:></td>
          </tr>
          <:if Article id:> 
          <tr> 
            <th nowrap bgcolor="#FFFFFF"><a name="files"></a>Files:</th>
            <td nowrap bgcolor="#FFFFFF" width="100%"> <:if Files:> 
              <table cellpadding="0" cellspacing="0" border="0" bgcolor="#333333">
                <tr><td> 
                    <table cellpadding="5" cellspacing="1" border="0">
                      <tr bgcolor="#FFFFFF"> 
                        <th>Filename</th>
                        <th>Size</th>
                        <th>Type</th>
                        <th>Download?</th>
                        <th>Requires Payment</th>
                </tr>
                <:iterator begin files:> 
                      <tr bgcolor="#FFFFFF"> 
                        <td><:file displayName:></td>
                        <td align="center"><:file sizeInBytes:></td>
                        <td><:file contentType:></td>
                        <td align=center><:ifFile download:>Yes<:or:>No<:eif:></td>
                        <td align=center><:ifFile forSale:>Yes<:or:>No<:eif:></td>
                </tr>
                <:iterator end files:> 
               </table>
              </td></tr></table>
              <p><:or Files:> No files are attached to this article. <:eif Files:> 
                <a href="<:script:>?filelist=1&id=<:article id:>"><b>Manage Files</b></a></p>
            </td>
            <td nowrap bgcolor="#FFFFFF"><:help edit files:></td>
          </tr>
          <:or Article:><:eif Article:> 
          <tr> 
            <th valign="top" nowrap bgcolor="#FFFFFF"> Uploaded images: </th>
            <td align="center" bgcolor="#FFFFFF" width="100%"> <:iterator begin 
              images:> <img src="/images/<: image image :>" alt="<:image alt :>" width= 
              <:image width:> height=<:image height:>> <:iterator separator images:> 
              <hr noshade size="1">
              <: iterator end images :> &nbsp; <br>
            <td align="center" bgcolor="#FFFFFF"><:help edit images:>
          
        </table>
</td>
</tr>
</table>

  <p>
    <input type="submit" name="save"
           value="  <: ifnew :>Add New<: or :>Update<: eif :> <: articleType:>  "></p>
  </form>
<:if children:> <a name="children"></a> 
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#000000" width="100%">
  <tr>
      <td>
      <table border=0 cellpadding="6" cellspacing="1" width="100%">
        <tr bgcolor="#FFFFFF"> 
          <th width="50%">Title</th>
          <th width="50%">Summary</th>
          <th>Listed</th>
          <th>Modify</th>
        </tr>
        <tr> 
          <td colspan="4" bgcolor="#FFFFFF">Reorder child articles: <a href="/cgi-bin/admin/reorder.pl?parentid=<:article id:>&sort=title&refreshto=/cgi-bin/admin/add.pl?id=<:article id:>">by 
            title</a> | <a href="/cgi-bin/admin/reorder.pl?parentid=<:article id:>&sort=date&refreshto=/cgi-bin/admin/add.pl?id=<:article id:>">by 
            date</a> | <a href="/cgi-bin/admin/reorder.pl?parentid=<:article id:>&reverse=1&refreshto=/cgi-bin/admin/add.pl?id=<:article id:>">reverse 
            order</a></td>
        </tr>
        <:iterator begin children:> 
        <tr bgcolor="#FFFFFF"> 
          <td width="50%"><a href="<:child admin:>"><:child title:></a></td>
          <td width="50%"><: summary child body :></td>
          <td align="center"><: is child listed :></td>
          <td nowrap> 
            <form name="edit child" method="post" action="/cgi-bin/admin/add.pl">
              <input type="submit" name="edit child" value="Edit">
              <input type="hidden" name="id" value="<:child id:>">
            </form>
            <form action="<:script:>" onSubmit="return window.confirm('Are you sure you want to delete this article')" method=POST>
              <input type=hidden name=id2 value="<:article id:>">
              <input type=hidden name="deleteid" value="<:child id:>">
              <input type=submit name=remove value="Delete">
            </form>
            <:if NextChild:> <a href="/cgi-bin/admin/move.pl?id=<:child id:>&d=down&edit=1&all=1"> 
            <img src="/images/admin/move_down.gif" width="17" height="13" alt="Move Down" border="0"></a> 
            <:or NextChild:> <:eif NextChild:> <:if PrevChild:> <a href="/cgi-bin/admin/move.pl?id=<:child id:>&d=up&edit=1&all=1"> 
            <img src="/images/admin/move_up.gif" width="17" height="13" alt="Move Up" border="0"></a> 
            <:or PrevChild:> <:eif PrevChild:> </td>
        </tr>
        <:iterator separator children:> <:iterator end children:> 
      </table>
</td>
</tr>
</table>
<:or children:>
<:eif children:>
<:if HaveChildType:>
<:if new:>
<:or new:>
<form action="/cgi-bin/admin/add.pl" method="POST">
<input type=hidden name="parentid" value="<:article id:>">
<p><input type=submit value="Add <:childtype:>"></p>
</form>
<:eif new:> <:or HaveChildType:> <:eif HaveChildType:>
<p><font size="-1">BSE Release <:release:></font></p>
</body></html>
