<html>
<head>

<title>
    <: ifnew :>New<: or :>Edit<: eif :> Catalog - Shop Administration
</title>

  <link rel="stylesheet" type="text/css" href="/css/admin.css">

</head>

<body>
<h1>Shop Administration</h1>
<:ifMessage:> 
<p><b><:message:></b></p>
<:or:><:eif:> 
<p>| <a href="/admin/">Admin menu</a> | <:ifnew:><:or:><a href="<:article admin:>">See 
  catalog</a> | <:eif:><:editParent:> <a href="<:script:>">Manage catalogs</a> 
  | <:if new:><:or new:><a href="<:script:>?id=<:article id:>&_t=steps">Manage 
  step children/parents</a> | <:eif new:></p>
<h2>Manage Images</h2>

  <form enctype="multipart/form-data" method="POST" action="<:script:>">

  <!--input type="hidden" name="return_url" value="<:script:>?level=<: level :>&id=<:article id:>" -->

  <p>
  <input type="submit" name="artimg" value="Catalog Image Wizard">
  </p>


  <h2>Catalog Details</h2>

  <input type="hidden" name="level" value="<: level :>">
  <input type="hidden" name="id" value="<: article id :>">
  <table border="0" cellspacing="0" cellpadding="0" bgcolor="#000000" width="100%" class="table">
    <tr>
      <td>

        <table cellpadding="6" border="0" cellspacing="1" width="100%">
          <tr> 
            <th bgcolor="#FFFFFF" nowrap align="left"> Parent: </th>
            <td bgcolor="#FFFFFF" width="100%"> 
              <select name="parentid">
                <option value="">Please Select a <: parentType :> <: list subsections 
                :> 
              </select>
            </td>
            <td bgcolor="#FFFFFF"><:help catalog parent:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" nowrap align="left"> Catalog title: </th>
            <td bgcolor="#FFFFFF" width="100%"> 
              <input type="text" name="title" maxlength="64" size="64" value="<: article title :>">
            </td>
            <td bgcolor="#FFFFFF"><:help catalog title:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" nowrap align="left"> Template: </th>
            <td bgcolor="#FFFFFF" width="100%"> <:templates:> </td>
            <td bgcolor="#FFFFFF"><:help catalog template:></td>
          </tr>
          <tr> 
            <th valign="top" bgcolor="#FFFFFF" nowrap align="left"> Body:</th>
            <td bgcolor="#FFFFFF" width="100%"> 
              <textarea name="body" rows="10" cols="60" wrap="virtual"><: article body :></textarea>
            </td>
            <td bgcolor="#FFFFFF" valign="top"><:help body body:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" nowrap align="left"> Release date: </th>
            <td bgcolor="#FFFFFF" width="100%"> 
              <input type="text" name="release" value="<: article release :>" size="10" maxlength="10">
              (dd/mm/yyyy<: ifnew :> - default is today<: or :><: eif :>)</td>
            <td bgcolor="#FFFFFF"><:help catalog release:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" nowrap align="left"> Expiry date: </th>
            <td bgcolor="#FFFFFF" width="100%"> 
              <input type="text" name="expire" value="<: article expire :>" size="10" maxlength="10">
              (dd/mm/yyyy - <: ifnew :>default is never, <: or :><: eif :>blank 
              for never expires)</td>
            <td bgcolor="#FFFFFF"><:help catalog expire:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" nowrap align="left"> Summary length: </th>
            <td bgcolor="#FFFFFF" width="100%"> 
              <input type="text" name="summaryLength" size="10" maxlength="10" value="<: article summaryLength :>">
              (in characters - <: ifnew :>default inherited from section<: if 
              art :> or sub-section<: or art :><: eif art :>, <: or :><: eif :>zero 
              for no summary)</td>
            <td bgcolor="#FFFFFF"><:help catalog summary:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" nowrap align="left"> Display threshold: </th>
            <td bgcolor="#FFFFFF" width="100%"> 
              <input type="text" name="threshold" size="10" maxlength="10" value="<: article threshold :>">
            </td>
            <td bgcolor="#FFFFFF"><:help catalog threshold:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" nowrap align="left"> Keywords: </th>
            <td bgcolor="#FFFFFF" width="100%"> 
              <input type="text" name="keyword" maxlength="255" size="60" value="<: article keyword :>">
              (comma separated) </td>
            <td bgcolor="#FFFFFF"><:help catalog keywords:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" nowrap align="left">List article:</th>
            <td bgcolor="#FFFFFF" width="100%"> <:list listed:> </td>
            <td bgcolor="#FFFFFF"><:help catalog list:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" nowrap align="left" valign="top">Thumbnail image:</th>
            <td bgcolor="#FFFFFF" width="100%"> 
              <input type=file name=thumbnail>
              <:ifArticle thumbImage:><img src="/images/<:article thumbImage:>"> 
              <input type=checkbox name="remove_thumb">
              Remove<:or:><:eif:></td>
            <td bgcolor="#FFFFFF" valign="top"><:help catalog thumb:></td>
          </tr>
          <tr> 
            <th valign="top" bgcolor="#FFFFFF" nowrap align="left"> Uploaded images: 
            </th>
            <td align="center" bgcolor="#FFFFFF" width="100%"> <: iterator begin 
              images :> <img src="/images/<: image image :>" alt="<:image alt :>" width=              <:image 
              width:> height=<:image height:>> <: iterator separator images :> 
              <hr noshade size="1">
              <: iterator end images :> &nbsp; <br>
            <td bgcolor="#FFFFFF" valign="top"><:help catalog images:>
          
        </table>
</td>
</tr>
</table>

  <p>
    <input type="submit" name="save"
           value="  <: ifnew :>Add New<: or :>Update<: eif :> Catalog  "></p>
  </form>
<:if children:>
<h2>Products / Sub-catalogs</h2>
<a name="children"></a> 
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#000000" width="100%" class="table">
  <tr>
      <td>
      <table border=0 cellpadding="6" cellspacing="1" width="100%">
        <tr bgcolor="#FFFFFF"> 
          <th width="30%">Title</th>
          <th width="70%">Summary</th>
          <th>Listed</th>
          <th nowrap>Modify</th>
        </tr>
        <tr> 
          <td colspan="4" bgcolor="#FFFFFF">Reorder child articles: <a href="/cgi-bin/admin/reorder.pl?parentid=<:article id:>&sort=title&refreshto=/cgi-bin/admin/add.pl?id=<:article id:>">by 
            title</a> | <a href="/cgi-bin/admin/reorder.pl?parentid=<:article id:>&sort=date&refreshto=/cgi-bin/admin/add.pl?id=<:article id:>">by 
            date</a> | <a href="/cgi-bin/admin/reorder.pl?parentid=<:article id:>&reverse=1&refreshto=/cgi-bin/admin/add.pl?id=<:article id:>">reverse 
            order</a></td>
        </tr>
        <:iterator begin children:> 
        <tr bgcolor="#FFFFFF"> 
          <td width="30%"><a href="<:child admin:>"><:child title:></a></td>
          <td width="70%"><: summary child body :></td>
          <td align="center"><: is child listed :></td>
          <td nowrap> <: edit child Edit :> <:if NextChild:><a href="/cgi-bin/admin/move.pl?id=<:child id:>&d=down&edit=1&all=1"><img src="/images/admin/move_down.gif" width="17" height="13" alt="Move Down" border="0"></a><:or 
            NextChild:><:eif NextChild:><:if PrevChild:><a href="/cgi-bin/admin/move.pl?id=<:child id:>&d=up&edit=1&all=1"><img src="/images/admin/move_up.gif" width="17" height="13" alt="Move Up" border="0"></a><:or 
            PrevChild:><:eif PrevChild:> </td>
        </tr>
        <:iterator separator children:> <:iterator end children:> 
      </table>
</td>
</tr>
</table>
<:or children:>
<:eif children:>
<:if HaveChildType:>
<:if new:>
<:or new:>
<form action="/cgi-bin/admin/add.pl" method="POST">
<input type=hidden name="parentid" value="<:article id:>">
<p>
    <input type=submit value="Add Sub-catalog">
  </p>
</form>
<:eif new:> <:or HaveChildType:> <:eif HaveChildType:> 
<p><font size="-1">BSE Release <:release:></font></p>
</body
></html>
