<html><head><title>Edit product - Shop administration</title>
  <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>
<body>
<h1>Shop Administration</h1>
<h2><:action:> Product</h2>
<p><:message:> <:hiddenNote:></p>

<form action="<:script:>" method=POST><p><input type=submit name=showimages value="Image Wizard"></p></form>

<form action="<:script:>" enctype="multipart/form-data" method="POST">
<input type="hidden" name="id" value="<:product id:>">
  <table border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
    <tr>
      <td>
        <table border=0 cellpadding="6" cellspacing="1">
          <tr> 
            <th align="left">Title:</th>
            <td bgcolor="#FFFFFF"><:product title:></td>
          </tr>
          <tr> 
            <th align="left">Catalog:</th>
            <td bgcolor="#FFFFFF"><:catalogs:></td>
          </tr>
          <tr>
            <th align="left">Description:</th>
            <td bgcolor="#FFFFFF">
              <textarea name=body rows=15 cols=60 wrap=virtual><:product body:></textarea>
            </td>
          </tr>
          <tr> 
            <th nowrap align="left">Lead time:</th>
            <td nowrap bgcolor="#FFFFFF"> 
              <input type="text" name="leadTime" value="<:product leadTime:>" size=5>
              days</td>
          </tr>
          <tr> 
            <th align="left">Retail price:</th>
            <td bgcolor="#FFFFFF">$ 
              <input type="text" name="retailPrice" value="<:money retailPrice:>" size=7>
              (0.00)</td>
          </tr>
          <tr> 
            <th align="left">Wholesale price:</th>
            <td bgcolor="#FFFFFF">$ 
              <input type="text" name="wholesalePrice" value="<:money wholesalePrice:>" size=7>
              (0.00)</td>
          </tr>
          <tr> 
            <th align="left">GST:</th>
            <td bgcolor="#FFFFFF">$ 
              <input type="text" name="gst" value="<:money gst:>" size=7>
              (0.00)</td>
          </tr>
          <tr> 
            <th align="left">Release date:</th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="release" value="<:date release:>" size=11>
              (dd/mm/yyyy)</td>
          </tr>
          <tr> 
            <th align="left">Expiry date:</th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="expire" value="<:date expire:>" size=11>
              (dd/mm/yyyy)</td>
          </tr>
          <tr>
            <th nowrap align="left">Thumbnail image:</th>
            <td nowrap bgcolor="#FFFFFF">
              <input type="file" name="thumbnail"> <:ifProduct thumbImage:><img src="/images/<:product thumbImage:>"><input type=checkbox name="remove_thumb"> Remove<:or:><:eif:>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <p><input type=submit name="save_product" value="Save"></p>
</form>

<p><a href="/admin/">Admin menu</a> | <a href="<:script:>">Product list</a> | 
  <a href="<:script:>?id=<:product id:>&product_detail=1">Product details</a> 
  <:if Product listed:> | <a href="<:script:>?id=<:product id:>&delete_product=1">Hide</a> 
  <:or Product:> | <a href="<:script:>?id=<:product id:>&undelete_product=1">Show</a> 
  <:eif Product:></p>
</body>
</html>
