<:wrap admin/base.tmpl title=>"Edit Article File":>
<h1>Edit Article File</h1>
<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:>
<p>| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> | <:if Match [article generator] "Product":><a href="/cgi-bin/admin/add.pl?id=<:article id:>">Edit
    product</a> | <a href="/cgi-bin/admin/shopadmin.pl">Manage catalogs</a> <:or
    Match:><:if Eq [article id] [cfg articles shop]:><a href="/cgi-bin/admin/add.pl?id=<:article id:>">Edit
    shop</a><:or Eq:><a href="/cgi-bin/admin/add.pl?id=<:article id:>"><:ifMatch
    [article generator] "Catalog":>Edit catalog<:or:>Edit article<:eif:></a><:eif
    Eq:><:eif Match:> |</p>
<h2>Edit article file</h2>

<form method="post" action="<:script:>" enctype="multipart/form-data">

<input type="hidden" name="id" value="<: article id :>" />
<input type="hidden" name="file_id" value="<:efile id:>" />
<input type="hidden" name="_t" value="file" />
<input type="hidden" name="save_file_flags" value="1" />
<:csrfp admin_save_file hidden:>
<:.set object = file -:>
<fieldset>
  <legend>File Details</legend>
<:.call "field", name:"file",
   options: {
     default: file.displayName,
     note: "Choose a file to replace the current file or leave blank to keep the current file."
   } :>
<:.call "field", name:"description" :>
<:.call "field", name:"notes" :>
<:.call "field", name:"contentType" :>
<:.call "field", name:"name" :>
<:.call "field", name:"download" :>
<:.call "field", name:"forSale" :>
<:.call "field", name:"requireUser" :>
<:.call "field", name:"hide_from_list" :>
<:.call "field", name:"storage" :>
</fieldset>
<:.set metas = [ file.metafields ] :>
<:.if metas.size :>
<fieldset>
  <legend>File metadata</legend>

<:  .for m in metas :>
<:#= bse.dumper(m.field) |raw :>
<:#= bse.dumper(m) |raw :>
<:    .set name = "meta_" _ m.name :>
<:    .set mdata = file.meta_by_name(m.name) :>
<:    .set def = mdata ? mdata.value : "" :>
<:    .if m.type eq 'image' :>
<:       .set def = file.meta_by_name(m.display_name).value :>
<:    .end if :>
<:    .if m.ro :>
<:      .call "inlinefieldro", name: name, field: m.field,
	        options: { default: def } :>
<:    .else :>
<:      .call "inlinefield", name: name, field: m.field, 
                options: { delete: 1, default: def } :>
<:    .end if :>
<:  .end for :>
</fieldset>
  <p class="buttons">
              <input type="submit" name="a_save_file" value="Save File" />
  </p>
</form>
