<:wrap admin/base.tmpl title=>"File Wizard":>
<h1><:ifEq [article id] "-1":>Global<:or:><: articleType :><:eif:> File Wizard</h1>
<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:>
<p>| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> | <:if Match [article generator] "Product":><a href="/cgi-bin/admin/add.pl?id=<:article id:>">Edit
    product</a> | <a href="/cgi-bin/admin/shopadmin.pl">Manage catalogs</a> <:or
    Match:><:if Eq [article id] [cfg articles shop]:><a href="/cgi-bin/admin/add.pl?id=<:article id:>">Edit
    shop</a><:or Eq:><a href="/cgi-bin/admin/add.pl?id=<:article id:>"><:ifMatch
    [article generator] "Catalog":>Edit catalog<:or:>Edit article<:eif:></a><:eif
    Eq:><:eif Match:> |</p><:if UserCan edit_files_add:article :>
<h2>Add new file</h2>

<form method="post" action="<:script:>" enctype="multipart/form-data">

<input type="hidden" name="id" value="<: article id :>" />
<input type="hidden" name="_t" value="file" />
<:csrfp admin_add_file hidden:>
        <table class="editformsmall">
          <tr> 
            <th>File to add:</th>
            <td> 
              <input type="file" name="file" /> 
            </td>
            <td class="help"><:help file file:> <:error_img file:></td>
          </tr>
          <tr> 
            <th>Description:</th>
            <td> 
              <input type="text" name="description" value="<:old description:>" />
            </td>
            <td class="help"><:help file description:> <:error_img description:></td>
          </tr>
          <tr> 
            <th>Notes:</th>
            <td> 
              <textarea name="notes" rows="10" cols="60" wrap="virtual"><:old notes:></textarea>
            </td>
            <td><:help file description:> <:error_img description:></td>
          </tr>
          <tr> 
            <th>Content-Type:</th>
            <td> 
              <input type="text" name="contentType" value="<:old contentType:>" />
              (blank for guess) </td>
            <td class="help"><:help file content_type:> <:error_img contentType:></td>
          </tr>
          <tr> 
            <th>Identifier:</th>
            <td> 
              <input type="text" name="name" value="<:old name:>" /> </td>
            <td class="help"><:help file name:> <:error_img name:></td>
          </tr>
          <tr> 
            <th>Treat as download:</th>
            <td> 
              <input type="checkbox" name="download" value="1" />
            </td>
            <td class="help"><:help file download:> <:error_img download:></td>
          </tr>
<:if Eq [article id] -1:><:or Eq:>
          <tr> 
            <th>Require payment:</th>
            <td> 
              <input type="checkbox" name="forSale" value="1" />
            </td>
            <td class="help"><:help file forSale:> <:error_img forSale:></td>
          </tr>
<:eif Eq:>
          <tr> 
            <th>Require login:</th>
            <td> 
              <input type="checkbox" name="requireUser" value="1" />
            </td>
            <td class="help"><:help file requireUser:> <:error_img requireUser:></td>
          </tr>
          <tr> 
            <th>Hide from list:</th>
            <td> 
              <input type="checkbox" name="hide_from_list" value="1" />
            </td>
            <td class="help"><:help file hide_from_list:> <:error_img hide_from_list:></td>
          </tr>
          <tr> 
            <th>Storage:</th>
            <td> 
<select name="storage">
<option value="">(Auto)</option>
<:iterator begin file_stores:>
<option value="<:file_store name:>"><:file_store description:></option>
<:iterator end file_stores:>
</select>

            </td>
            <td class="help"><:help file hide_from_list:> <:error_img hide_from_list:></td>
          </tr>
          <tr> 
            <td colspan="3" class="buttons"> 
              <input type="submit" name="fileadd" value="Add File" />
            </td>
          </tr>
        </table>
</form>

<:or UserCan:><:eif UserCan:>
  
<h2>Manage files</h2>

<form method="post" action="<:script:>" enctype="multipart/form-data" id="filelist">
<input type="hidden" name="id" value="<: article id :>" />
<input type="hidden" name="_t" value="file" />
<input type="hidden" name="save_file_flags" value="1" />
<:csrfp admin_save_files hidden:>
        <table id="filelist">
          <:if Files:><tr> 
            <th> File</th>
            <th> Description</th>
            <th> Content-Type</th>
            <th>Notes</th>
          </tr>
          <: iterator begin files :> 
          <tr> 
            <td class="col_filename" rowspan="2"> <:file displayName:><:ifUserCan edit_files_save:article:>
            <br /><input type="file" name="file_<:file id:>" /><:error_img [concatenate file_ [file id]:>
<:or:><:eif:>
</td>
            <td class="col_description"> 
              <:ifUserCan edit_files_save:article:><input name="description_<:file id:>" type="text" value="<: oldi [concatenate description_ [file id]] 0 file description :>" size="35" />
              <:or:><: file description :><:eif:>
            </td>
            <td class="col_contenttype"> 
               <:ifUserCan edit_files_save:article:><input name="contentType_<:file id:>" type="text" value="<: oldi [concatenate contentType_ [file id]] 0 file contentType :>" size="20" />
               <:or:><: file contentType :><:eif:>
            </td>
            <td class="col_notes" rowspan="3">
              <:ifUserCan edit_files_save:article:><textarea name="notes_<:file id:>" cols="40" rows="5"><:oldi [concatenate notes_ [file id]] 0 file notes:></textarea><:or:><:replace [file notes] "
" "<br />" :><:eif:>
            </td>
          </tr>
          <tr>
            <td class="col_identifier"> 
               Identifier: <:ifUserCan edit_files_save:article:><input name="name_<:file id:>" type="text" value="<: oldi [concatenate name_ [file id]] 0 file name :>" size="20" /><:error_img [concatenate name_ [file id]]:>
               <:or:><: file name :><:eif:>
            </td>
            <td class="col_storage"> 
               Storage: <:ifUserCan edit_files_save:article:><select name="storage_<:file id:>"><option value="">(Auto)</option>
<:iterator begin file_stores:>
<option value="<:file_store name:>" <:ifEq [oldi [concatenate storage_ [file id] ] 0 file storage] [file_store name]:>selected="selected"<:or:><:eif:>><:file_store description:></option>
<:iterator end file_stores:></select><:error_img [concatenate storage_ [file id]]:>
               <:or:><: file storage :><:eif:>
            </td>
          </tr>
          <tr> 
            <td colspan="3"> 
<:if UserCan edit_files_save:article:><input type="checkbox" name="download_<:file id:>"
                    <:ifFile download:> checked<:or:><:eif:> /><:or UserCan:><img src="/images/admin/<:ifFile download:>checked.gif<:or:>unchecked.gif<:eif:>" width="16" height="16" /><:eif UserCan:>Download&nbsp;&nbsp;&nbsp;
<:if Eq [article id] -1:><:or Eq:>
                  <:if UserCan edit_files_save:article:><input type="checkbox" name="forSale_<:file id:>"
                    <:ifFile forSale:> checked<:or:><:eif:> /><:or UserCan:><img src="/images/admin/<:ifFile forSale:>checked.gif<:or:>unchecked.gif<:eif:>" width="16" height="16" /><:eif UserCan:>Require payment&nbsp;&nbsp;&nbsp;<:eif Eq:>
                   <:if UserCan edit_files_save:article:><input type="checkbox" name="requireUser_<:file id:>"
                    <:ifFile requireUser:> checked<:or:><:eif:> /><:or UserCan:><img src="/images/admin/<:ifFile requireUser:>checked.gif<:or:>unchecked.gif<:eif:>" width="16" height="16" /><:eif UserCan:>Require login 
                    &nbsp;&nbsp;&nbsp;
                   <:if UserCan edit_files_save:article:><input type="checkbox" name="hide_from_list_<:file id:>"
                    <:ifFile hide_from_list:> checked<:or:><:eif:> /><:or UserCan:><img src="/images/admin/<:ifFile hide_from_list:>checked.gif<:or:>unchecked.gif<:eif:>" width="16" height="16" /><:eif UserCan:>Hide from file list 
                    &nbsp;&nbsp;&nbsp;
                  
<:ifUserCan edit_files_save:article:><b><a href="<:script:>?a_edit_file=1&amp;id=<:article id:>&amp;file_id=<:file id:>">Edit</a></b> <:or:><:eif:>
<:ifUserCan edit_files_delete:article:><b><a href="<:script:>?filedel=1&amp;id=<:article id:>&amp;file=<:file id:>&amp;_t=file&amp;_csrfp=<:csrfp admin_remove_file:>" onClick="return window.confirm('Are you sure you want to delete this File')">Delete</a></b> <:or:><:eif:>
                    <:movefiles:>
<span class="file_info_trigger">Info
<div class="file_info">
<p>Metadata</p>
<:iterator begin file_metas:>
<div><:file_meta name:>: <:file_meta value:></div>
<:iterator end file_metas:>
</div></span>
<span class="file_display_trigger">Display
<div class="file_display"><:file_display:></div></span>
            </td>
          </tr>
          <: iterator separator files :> 
          <tr> 
            <td colspan="4">&nbsp;</td>
          </tr>
          <: iterator end files :> 
<:ifUserCan edit_files_save:article:>
          <tr> 
            <td colspan="4" class="buttons"> 
              <input type="submit" name="filesave" value="  Save changes  " />
            </td>
          </tr>
<:or:><:eif:>
          <:or Files:> 
          <tr> 
            <td colspan="3" align="center"><:if Eq [article id] "-1":>There are no global files.<:or Eq:>No files are attached to this article<:eif Eq:></td>
          </tr>
          <:eif Files:> 
        </table>
</form>

