<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

  <title>Administration - File Wizard</title>

  <link rel="stylesheet" type="text/css" href="/css/admin.css" />

</head>

<body>
<h1>File Wizard</h1>
<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:> 
<h2>Add new file</h2>

<form method="post" action="<:script:>" enctype="multipart/form-data">

<input type="hidden" name="id" value="<: article id :>" />
  <table border="0" cellspacing="0" cellpadding="0" bgcolor="#000000" class="table">
    <tr> 
      <td> 
        <table cellpadding="6" border="0" cellspacing="1">
          <tr> 
            <th bgcolor="#FFFFFF" align="left">File to add: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="file" name="file" />
            </td>
            <td bgcolor="#FFFFFF"><:help file file:> </td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">Description: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="description" />
            </td>
            <td bgcolor="#FFFFFF"><:help file description:> </td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left"> Content-Type: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="contentType" />
              (blank for guess) </td>
            <td bgcolor="#FFFFFF"> <:help file content_type:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left"> Treat as download: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="checkbox" name="download" value="1" />
            </td>
            <td bgcolor="#FFFFFF"><:help file download:> </td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left"> Require payment: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="checkbox" name="forSale" value="1" />
            </td>
            <td bgcolor="#FFFFFF"><:help file forSale:> </td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left"> Require login: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="checkbox" name="requireUser" value="1" />
            </td>
            <td bgcolor="#FFFFFF"><:help file requireUser:> </td>
          </tr>
          <tr> 
            <td bgcolor="#FFFFFF" colspan="3" align="right"> 
              <input type="submit" name="fileadd" value="  Add File  " />
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>

  
<h2>Manage files</h2>

<form method="post" action="<:script:>" enctype="multipart/form-data">
<input type="hidden" name="id" value="<: article id :>" />
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#000000" class="table">
    <tr>
      <td>
        <table cellpadding="6" border="0" cellspacing="1">
          <tr> 
            <th bgcolor="#FFFFFF" nowrap> File</th>
            <th bgcolor="#FFFFFF" nowrap> Description</th>
            <th bgcolor="#FFFFFF" nowrap> Content-Type</th>
          </tr>
          <:if Files:> <: iterator begin files :> 
          <tr bgcolor="#FFFFFF"> 
            <td nowrap> <:file displayName:></td>
            <td valign="top"> 
              <input type="text" name="description_<:file id:>" value="<: file description :>" />
            </td>
            <td valign="top"> 
              <input type="text" name="contentType_<:file id:>" value="<: file contentType :>" />
            </td>
          </tr>
          <tr bgcolor="#FFFFFF"> 
            <td colspan="3"> 
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr bgcolor="#FFFFFF"> 
                  <td valign="top" align="center" nowrap> <input type="checkbox" name="download_<:file id:>"
                    <:ifFile download:> checked<:or:><:eif:> />Download&nbsp;&nbsp;&nbsp;</td>
                  <td valign="top" align="center" nowrap> <input type="checkbox" name="forSale_<:file id:>"
                    <:ifFile forSale:> checked<:or:><:eif:> />Require payment&nbsp;&nbsp;&nbsp;</td>
                  <td valign="top" align="center" nowrap> <input type="checkbox" name="requireUser_<:file id:>"
                    <:ifFile requireUser:> checked<:or:><:eif:> />Require login 
                    &nbsp;&nbsp;&nbsp;</td>
                  <td nowrap align="right" width="100%"> <b><a href="<:script:>?filedel=1&amp;id=<:article id:>&amp;file=<:file id:>">Remove</a></b> 
                    <:move:></td>
                </tr>
              </table>
            </td>
          </tr>
          <: iterator separator files :> 
          <tr bgcolor="#FFFFFF"> 
            <td colspan="3">&nbsp;</td>
          </tr>
          <: iterator end files :> 
          <tr> 
            <td colspan="3" align="right" valign="bottom" bgcolor="#FFFFFF"> 
              <input type="submit" name="filesave" value="  Save changes  " />
            </td>
          </tr>
          <:or Files:> 
          <tr bgcolor="#FFFFFF"> 
            <td colspan="3" align="center">No files are attached to this article</td>
          </tr>
          <:eif Files:> 
        </table>
</td>
</tr>
</table>

  <p>
    <input type="submit" name="back" value=" &lt;&lt;  Back  " /></p>

</form>

<p><font size="-1">BSE Release <:release:></font></p>
</body
></html>
