<:wrap admin/xbase.tmpl title=>"Edit Article File":>
<h1>Edit Article File</h1>
<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:>
<p>| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> | <:if Match [article generator] "Product":><a href="/cgi-bin/admin/add.pl?id=<:article id:>">Edit
    product</a> | <a href="/cgi-bin/admin/shopadmin.pl">Manage catalogs</a> <:or
    Match:><:if Eq [article id] [cfg articles shop]:><a href="/cgi-bin/admin/add.pl?id=<:article id:>">Edit
    shop</a><:or Eq:><a href="/cgi-bin/admin/add.pl?id=<:article id:>"><:ifMatch
    [article generator] "Catalog":>Edit catalog<:or:>Edit article<:eif:></a><:eif
    Eq:><:eif Match:> |</p>
<h2>Edit article file</h2>

<form method="post" action="<:script:>" enctype="multipart/form-data">

<input type="hidden" name="id" value="<: article id :>" />
<input type="hidden" name="file_id" value="<:efile id:>" />
<input type="hidden" name="_t" value="file" />
<input type="hidden" name="save_file_flags" value="1" />
        <table cellpadding="6" border="0" cellspacing="1">
          <tr> 
            <th align="left">Replacement file:</th>
            <td> 
              <:efile displayName:><br /><input type="file" name="file" size="40" /><br />Choose a file to replace the current file or leave blank to keep the current file.
            </td>
            <td nowrap="nowrap"><:help file file:> <:error_img file:></td>
          </tr>
          <tr> 
            <th align="left">Description:</th>
            <td> 
              <input type="text" name="description" value="<:old description efile description:>" size="60"/>
            </td>
            <td nowrap="nowrap"><:help file description:> <:error_img description:></td>
          </tr>
          <tr> 
            <th align="left">Notes:</th>
            <td> 
              <textarea name="notes" rows="10" cols="60" wrap="virtual"><:old notes efile notes:></textarea>
            </td>
            <td nowrap="nowrap"><:help file notes:> <:error_img notes:></td>
          </tr>
          <tr> 
            <th align="left">Content-Type:</th>
            <td> 
              <input type="text" name="contentType" value="<:old contentType efile contentType:>" size="40" />
            </td>
            <td nowrap="nowrap"><:help file content_type:> <:error_img contentType:></td>
          </tr>
          <tr> 
            <th align="left">Identifier:</th>
            <td> 
              <input type="text" name="name" value="<:old name efile name:>" /> </td>
            <td nowrap="nowrap"><:help file name:> <:error_img name:></td>
          </tr>
          <tr> 
            <th align="left">Treat as download:</th>
            <td> 
              <input type="checkbox" name="download" value="1" <:ifOldChecked download:>checked="checked"<:or:><:eif:> />
            </td>
            <td nowrap="nowrap"><:help file download:> <:error_img download:></td>
          </tr>
          <tr> 
            <th align="left">Require payment:</th>
            <td> 
              <input type="checkbox" name="forSale" value="1" <:ifOldChecked forSale:>checked="checked"<:or:><:eif:> />
            </td>
            <td nowrap="nowrap"><:help file forSale:> <:error_img forSale:></td>
          </tr>
          <tr> 
            <th align="left">Require login:</th>
            <td> 
              <input type="checkbox" name="requireUser" value="1"  <:ifOldChecked requireUser:>checked="checked"<:or:><:eif:>/>
            </td>
            <td nowrap="nowrap"><:help file requireUser:> <:error_img requireUser:></td>
          </tr>
          <tr> 
            <th align="left">Hide from list:</th>
            <td> 
              <input type="checkbox" name="hide_from_list" value="1"  <:ifOldChecked hide_from_list:>checked="checked"<:or:><:eif:>/>
            </td>
            <td nowrap="nowrap"><:help file hide_from_list:> <:error_img hide_from_list:></td>
          </tr>
          <tr> 
            <th align="left">Storage:</th>
            <td> 
<select name="storage">
<option value="">(Auto)</option>
<:iterator begin file_stores:>
<option value="<:file_store name:>" <:ifEq [efile storage] [file_store name]:>selected="selected"<:or:><:eif:>><:file_store description:></option>
<:iterator end file_stores:>
</select>
            </td>
            <td nowrap="nowrap"><:help file hide_from_list:> <:error_img hide_from_list:></td>
          </tr>
          <tr> 
            <td colspan="3" align="right"> 
              <input type="submit" name="a_save_file" value="Save File" />
            </td>
          </tr>
        </table>
</form>
