<:wrap admin/xbase.tmpl title=>"File Wizard":>
<h1>File Wizard</h1>
<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:>
<p>| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> | <:if Match [article generator] "Product":><a href="/cgi-bin/admin/add.pl?id=<:article id:>">Edit
    product</a> | <a href="/cgi-bin/admin/shopadmin.pl">Manage catalogs</a> <:or
    Match:><:if Eq [article id] [cfg articles shop]:><a href="/cgi-bin/admin/add.pl?id=<:article id:>">Edit
    shop</a><:or Eq:><a href="/cgi-bin/admin/add.pl?id=<:article id:>"><:ifMatch
    [article generator] "Catalog":>Edit catalog<:or:>Edit article<:eif:></a><:eif
    Eq:><:eif Match:> |</p><:if UserCan edit_files_add:article :>
<h2>Add new file</h2>

<form method="post" action="<:script:>" enctype="multipart/form-data">

<input type="hidden" name="id" value="<: article id :>" />
<input type="hidden" name="_t" value="file" />
  <table border="0" cellspacing="0" cellpadding="0" bgcolor="#000000" class="table">
    <tr> 
      <td> 
        <table cellpadding="6" border="0" cellspacing="1">
          <tr> 
            <th bgcolor="#FFFFFF" align="left">File to add:</th>
            <td bgcolor="#FFFFFF"> 
              <input type="file" name="file" /> 
            </td>
            <td nowrap="nowrap" bgcolor="#FFFFFF"><:help file file:> <:error_img file:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">Description:</th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="description" value="<:old description:>" />
            </td>
            <td nowrap="nowrap" bgcolor="#FFFFFF"><:help file description:> <:error_img description:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">Notes:</th>
            <td bgcolor="#FFFFFF"> 
              <textarea name="notes" rows="10" cols="60" wrap="virtual"><:old notes:></textarea>
            </td>
            <td nowrap="nowrap" bgcolor="#FFFFFF"><:help file description:> <:error_img description:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">Content-Type:</th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="contentType" value="<:old contentType:>" />
              (blank for guess) </td>
            <td nowrap="nowrap" bgcolor="#FFFFFF"><:help file content_type:> <:error_img contentType:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">Treat as download:</th>
            <td bgcolor="#FFFFFF"> 
              <input type="checkbox" name="download" value="1" />
            </td>
            <td nowrap="nowrap" bgcolor="#FFFFFF"><:help file download:> <:error_img download:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">Require payment:</th>
            <td bgcolor="#FFFFFF"> 
              <input type="checkbox" name="forSale" value="1" />
            </td>
            <td nowrap="nowrap" bgcolor="#FFFFFF"><:help file forSale:> <:error_img forSale:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">Require login:</th>
            <td bgcolor="#FFFFFF"> 
              <input type="checkbox" name="requireUser" value="1" />
            </td>
            <td nowrap="nowrap" bgcolor="#FFFFFF"><:help file requireUser:> <:error_img requireUser:></td>
          </tr>
          <tr> 
            <td bgcolor="#FFFFFF" colspan="3" align="right"> 
              <input type="submit" name="fileadd" value="Add File" />
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>

<:or UserCan:><:eif UserCan:>
  
<h2>Manage files</h2>

<form method="post" action="<:script:>" enctype="multipart/form-data">
<input type="hidden" name="id" value="<: article id :>" />
<input type="hidden" name="_t" value="file" />
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#000000" class="table">
    <tr>
      <td>
        <table width="100%" border="0" cellpadding="6" cellspacing="1">
          <:if Files:><tr> 
            <th width="50%" nowrap="nowrap" bgcolor="#FFFFFF"> File</th>
            <th width="50%" nowrap="nowrap" bgcolor="#FFFFFF"> Description</th>
            <th bgcolor="#FFFFFF" nowrap="nowrap"> Content-Type</th>
            <th bgcolor="#FFFFFF">Notes</th>
          </tr>
          <: iterator begin files :> 
          <tr bgcolor="#FFFFFF"> 
            <td nowrap="nowrap"> <:file displayName:></td>
            <td valign="top"> 
              <:ifUserCan edit_files_save:article:><input name="description_<:file id:>" type="text" value="<: file description :>" size="35" />
              <:or:><: file description :><:eif:>
            </td>
            <td valign="top"> 
               <:ifUserCan edit_files_save:article:><input name="contentType_<:file id:>" type="text" value="<: file contentType :>" size="20" />
               <:or:><: file contentType :><:eif:>
            </td>
            <td valign="top" rowspan="2">
              <:ifUserCan edit_files_save:article:><textarea name="notes_<:file id:>" cols="40" rows="5"><:file notes:></textarea><:or:><:replace [file notes] "
" "<br />" :><:eif:>
            </td>
          </tr>
          <tr bgcolor="#FFFFFF"> 
            <td colspan="3"> 
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr bgcolor="#FFFFFF"> 
                  <td valign="top" align="center" nowrap="nowrap"> <:if UserCan edit_files_save:article:><input type="checkbox" name="download_<:file id:>"
                    <:ifFile download:> checked<:or:><:eif:> /><:or UserCan:><img src="/images/admin/<:ifFile download:>checked.gif<:or:>unchecked.gif<:eif:>" width="16" height="16" /><:eif UserCan:>Download&nbsp;&nbsp;&nbsp;</td>
                  <td valign="top" align="center" nowrap="nowrap"> <:if UserCan edit_files_save:article:><input type="checkbox" name="forSale_<:file id:>"
                    <:ifFile forSale:> checked<:or:><:eif:> /><:or UserCan:><img src="/images/admin/<:ifFile forSale:>checked.gif<:or:>unchecked.gif<:eif:>" width="16" height="16" /><:eif UserCan:>Require payment&nbsp;&nbsp;&nbsp;</td>
                  <td valign="top" align="center" nowrap="nowrap"> <:if UserCan edit_files_save:article:><input type="checkbox" name="requireUser_<:file id:>"
                    <:ifFile requireUser:> checked<:or:><:eif:> /><:or UserCan:><img src="/images/admin/<:ifFile requireUser:>checked.gif<:or:>unchecked.gif<:eif:>" width="16" height="16" /><:eif UserCan:>Require login 
                    &nbsp;&nbsp;&nbsp;</td>
                  <td nowrap="nowrap" align="right" width="100%"> <:ifUserCan edit_files_delete:article:><b><a href="<:script:>?filedel=1&amp;id=<:article id:>&amp;file=<:file id:>&_t=file" onClick="return window.confirm('Are you sure you want to delete this File')">Delete</a></b> <:or:><:eif:>
                    <:movefiles:></td>
                </tr>
              </table>
            </td>
          </tr>
          <: iterator separator files :> 
          <tr bgcolor="#FFFFFF"> 
            <td colspan="3">&nbsp;</td>
          </tr>
          <: iterator end files :> 
<:ifUserCan edit_files_save:article:>
          <tr> 
            <td colspan="4" align="right" valign="bottom" bgcolor="#FFFFFF"> 
              <input type="submit" name="filesave" value="  Save changes  " />
            </td>
          </tr>
<:or:><:eif:>
          <:or Files:> 
          <tr bgcolor="#FFFFFF"> 
            <td colspan="3" align="center">No files are attached to this article</td>
          </tr>
          <:eif Files:> 
        </table>
</td>
</tr>
</table>
</form>

<form action="<:script:>">
<input type="hidden" name="id" value="<:article id:>" />
  <p><input type="submit" name="back" value=" &lt;&lt;  Back  " /></p>
</form>

