<:wrap admin/base.tmpl title=>[concatenate "Edit " [articleType] " Image"]:>
<h1>Edit <:articleType:> Image</h1>
<:ifMessage:> 
<p><b><:message:></b></p>
<:or:><:eif:> 
<p>| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> | 
<a href="<:article admin:>">See article</a> | 
<a href="/cgi-bin/admin/add.pl?id=<:article id:>">Edit Article</a> |
<a href="/cgi-bin/admin/add.pl?id=<:article id:>&amp;_t=img">Images</a> |
</p>

<form action="/cgi-bin/admin/add.pl" method="post" enctype="multipart/form-data">
<input type="hidden" name="id" value="<: article id :>" />
<input type="hidden" name="image_id" value="<: eimage id :>" />
<input type="hidden" name="r" value="/cgi-bin/admin/add.pl?id=<:article id:>&amp;_t=img" />
<:csrfp admin_save_image hidden:>
<table class="editform editformsmall">
  <tr> 
    <th>Replacement image file:</th>
    <td><input type="file" name="image" size="40" /><br />(leave blank to keep the current image)
<:= eimage.thumb("geo", "editor") |raw :></td>
     <td class="help"><:help image image:> <:error_img image:></td>
  </tr>
  <tr> 
    <th>Alt text for image:</th>
    <td><input type="text" name="alt" value="<:old alt eimage alt:>" /></td>
    <td class="help"><:help image alt:> <:error_img alt:></td>
  </tr>
  <tr> 
    <th>URL for image:</th>
    <td><input type="text" name="url" value="<:old url eimage url:>" size="60" /></td>
    <td class="help"><:help image url:> <:error_img url:></td>
  </tr>
  <tr> 
    <th>Identifier for image:</th>
    <td><input type="text" name="name" value="<:old name eimage name:>" /></td>
    <td class="help"><:help image name:> <:error_img name:></td>
  </tr>
  <tr> 
    <th>Storage:</th>
            <td> 
<select name="storage">
<option value="">(Auto)</option>
<:iterator begin image_stores:>
<option value="<:image_store name:>" <:ifEq [old storage eimage storage] [image_store name]:>selected="selected"<:or:><:eif:>><:image_store description:></option>
<:iterator end image_stores:>
</select>
            </td>
            <td class="help"><:help image name:> <:error_img name:></td>
          </tr>
  <tr> 
    <td colspan="3" class="buttons">
      <input type="submit" name="a_save_image" value="Save Image" />
    </td>
  </tr>
</table>
</form>