<:wrap admin/base.tmpl title=>"Logon":>
<h1>Logon</h1>
<:.if request.messages.size != 0:>
<:-.for m in request.messages -:>
<div class="message <:= m.class:>"><:= m.html :></div>
<:.end for-:>
<:.end if:>
<form method="post" action="<:adminbase:><:script:>">
<:.if cgi.param("r") :>
<input type="hidden" name="r" value="<:= cgi.param("r") |html:>" />
<:.end if:>
        <table class="editform editformtiny">
          <tr> 
            <th><label for="logon">Logon:</label> </th>
            <td> 
              <input type="text" name="logon" accesskey="l" tabindex="10" id="logon" class="focusme" />
            </td>
            <td class="help"><:help logon logon:> <:error_img logon:></td>
          </tr>
          <tr> 
            <th><label for="password">Password:</label></th>
            <td> 
              <input type="password" name="password" accesskey="p" tabindex="10" id="password" />
              </td>
            <td class="help"> <:help logon password:> <:error_img password:></td>
          </tr>
          <tr> 
            <td colspan="3" class="buttons"> 
              <input type="submit" name="a_logon" tabindex="30" value="  Logon  " />
            </td>
          </tr>
        </table>
</form>
