<:wrap admin/base.tmpl title=>"Administration Centre":>
<h1>Administration Centre</h1>
<:ifFormLogon:><p>| <a href="/cgi-bin/admin/logon.pl?a_logoff=1">Logoff <:adminuser logon:></a> | <a href="/cgi-bin/admin/changepw.pl">Change Password</a> |</p><:or:><:eif:>
<:ifMessage:><p><b><:message:></b></p><:or:><:eif:>

<table class="menu">
<tr>
  <th>Content</th>
  <th>Users</th>
  <th>Maintenance</th>
</tr>
<tr>
  <td>
<p><a href="<:= cfg.admin_url("admin", { "id": 1 }) | html :>">Browse in edit mode</a></p>

<p><a href="/">Browse in static mode</a></p>

<:if UserCan edit_add_child:2 :>
<p><a href="<:= cfg.admin_url("add", { "parentid":2 }) | html :>">Add to home page</a></p><:or UserCan:><:eif UserCan:>

<p>&nbsp;</p>

<p><a href="<:= cfg.admin_url("add", { "id": -1 }) | html :>">Administer sections</a></p>

<ul>

<:if UserCan edit_add_child:-1 :>
<li><a href="<:= cfg.admin_url("add", { "level":1, "parentid": -1 }) | html :>">Add a new
section</a></li>
<:or UserCan:><:eif UserCan:>

<li><a href="<:= cfg.admin_url("add", { "level":2 }) | html :>">Add a new subsection</a></li>

<li><a href="<:= cfg.admin_url("add") | html :>">Add a new article</a></li>

</ul>

<p><a href="<:= cfg.admin_url("pregen") | html :>">Preview Pregen pages</a></p>

  </td>
  <td>
<p><a href="<:= cfg.admin_url("adminusers") | html :>">Admin User/Group administration</a></p>

<p>&nbsp;</p>

<p><a href="<:= cfg.admin_url("siteusers") | html :>">Member administration</a></p>
<ul><li><a href="<:= cfg.admin_url("userlist") | html :>">Download member list</a></li>
<li><a href="<:= cfg.admin_url("userupdate") | html :>">Upload updated member data</a></li></ul>
<p>&nbsp;</p>

<p><a href="<:= cfg.admin_url("subs") | html :>">Newsletters administration</a></p>

<p><a href="<:= cfg.admin_url("subadmin") | html :>">Subscriptions administration</a></p>
  </td>
  <td>
<:ifUserCan regen_all:>
<p><a href="<:= cfg.admin_url("generate") | html :>">Regenerate static &amp; base
pages</a> (<a
href="<:= cfg.admin_url("generate", { "progress":1 }) | html :>">verbose</a>)</p>
<:or:><:eif:>

<:ifUserCan regen_extras:>
<ul>
<li><a
href="<:= cfg.admin_url("generate", { "id": "extras" }) | html :>">Regenerate extras
and base pages</a> (<a
href="<:= cfg.admin_url("generate", { "id": "extras", "progress":1 }) | html :>">verbose</a>)</li></ul>
<:or:><:eif:>

<p><a href="<:= cfg.admin_url("makeIndex") | html :>">Regenerate search index</a> (<a href="<:= cfg.admin_url("makeIndex", { "progress":1 }) | html :>">verbose</a>)</p>

<p><a href="<:= cfg.admin_url("backmon") | html :>">Background processing</a></p>

<p><a href="<:= cfg.admin_url("messages") | html :>">Message database</a></p>

<p><a href="<:= cfg.admin_url("modules") | html :>">Module Check</a></p>

<p><a href="<:= cfg.admin_url("log") | html :>">Activity Log</a></p>

<p><a href="<:= cfg.admin_url("report") | html :>">Reports</a></p>

<p><a href="<:= cfg.admin_url("shopadmin") | html :>">Shop administration</a></p>

<ul>
<:.if request.user_can("shop_order_list") :>
<li><a
href="<:= cfg.admin_url2("shopadmin", "order_list_unfilled", { "template":"order_list_unfilled" }) | html :>">View
current orders</a> <br />(<a
href="<:= cfg.admin_url2("shopadmin", "order_list") | html :>">all</a> or <a
href="<:= cfg.admin_url2("shopadmin", "order_list_filled", { "template":"order_list_filled" }) | html :>">filled</a>)</li>
<:.end if:>

<li><a href="<:= cfg.admin_url("add", { "parentid":3 }) | html :>">Add catalog</a></li>

</ul>

<:.if request.user_can("bse_admin_import") :>
<p><a href="<:= cfg.admin_url("importer") | html :>">Import data</a></p>
<:.end if:>
  </td>
</tr>
</table>

 
<p>&nbsp;</p>

<:include admin/menu_custom.tmpl optional :>

<p><a href="/cgi-bin/admin/menu.pl?_t=adv">Advanced tools</a></p>

<p>&nbsp;</p>

<form action="/cgi-bin/admin/admin.pl">
  <p>
    Jump to article: 
    <input type="text" name="id" size="4" />
    <input type="submit" value="Jump!" />
    (Article ID eg: 1 = Home)
  </p>
</form>
<:.if request.user_can('bse_members_user_edit') or request.user_can('bse_members_user_view') :>
<form action="<:adminurl2 siteusers:>">
  <p>
    Jump to member:
    <input type="text" name="userId" size="20" />
    <:.if request.user_can('bse_members_user_edit') -:>
    <input type="submit" name="a_edit" value="Edit" />
    <:.else:>
    <input type="submit" name="a_view" value="View" />
    <:.end if:>
  </p>
</form>
<:.end if:>
