<:wrap admin/base.tmpl title=>"Administration Centre":>
<h1>Administration Centre</h1>
<:ifFormLogon:><p>| <a href="/cgi-bin/admin/logon.pl?a_logoff=1">Logoff <:adminuser logon:></a> | <a href="/cgi-bin/admin/changepw.pl">Change Password</a> |</p><:or:><:eif:>
<:ifMessage:><p><b><:message:></b></p><:or:><:eif:>

  <table border="0" cellspacing="0" cellpadding="0" bgcolor="#000000" class="table">
  <tr>
    <td>

<table cellpadding="6" cellspacing="1" border="0" width="100%">
<tr>
  <th width="33%">Content</th>
  <th width="33%">Users</th>
  <th width="33%">Maintenance</th>
</tr>
<tr>
  <td bgcolor="#FFFFFF">
<p><a href="/cgi-bin/admin/admin.pl?id=1">Browse in edit mode</a></p>

<p><a href="/">Browse in static mode</a></p>

<:if UserCan edit_add_child:2 :>
<p><a href="/cgi-bin/admin/add.pl?parentid=2">Add to home page</a></p><:or UserCan:><:eif UserCan:>

<p>&nbsp;</p>

<p><a href="/cgi-bin/admin/add.pl?id=-1">Administer sections</a></p>
 
<ul>

<:if UserCan edit_add_child:-1 :>
<li><a href="/cgi-bin/admin/add.pl?level=1&amp;parentid=-1">Add a new 
section</a></li>
<:or UserCan:><:eif UserCan:>

<li><a href="/cgi-bin/admin/add.pl?level=2">Add a new subsection</a></li>

<li><a href="/cgi-bin/admin/add.pl">Add a new article</a></li>

</ul>

<p>&nbsp;</p>

  </td>
  <td bgcolor="#FFFFFF">
<p><a href="/cgi-bin/admin/adminusers.pl">Admin User/Group administration</a></p>

<p>&nbsp;</p>
 
<p><a href="/cgi-bin/admin/siteusers.pl">Member administration</a></p>
<ul><li><a href="/cgi-bin/admin/userlist.pl">Download member list</a></li>
<li><a href="/cgi-bin/admin/userupdate.pl">Upload updated member data</a></li></ul>
<p>&nbsp;</p>

<p><a href="/cgi-bin/admin/subs.pl">Newsletters administration</a></p>

<p><a href="/cgi-bin/admin/subadmin.pl">Subscriptions administration</a></p>
  </td>
  <td bgcolor="#FFFFFF">
<:ifUserCan regen_all:>
<p><a href="/cgi-bin/admin/generate.pl">Regenerate static &amp; base
pages</a> (<a
href="/cgi-bin/admin/generate.pl?progress=1">verbose</a>)</p>
<:or:><:eif:>

<:ifUserCan regen_extras:>
<ul>
<li><a 
href="/cgi-bin/admin/generate.pl?id=extras">Regenerate extras 
and base pages</a> (<a 
href="/cgi-bin/admin/generate.pl?id=extras&amp;progress=1">verbose</a>)</li></ul>
<:or:><:eif:>

<p><a href="/cgi-bin/admin/makeIndex.pl">Regenerate search index</a></p>

<p><a href="/cgi-bin/admin/backmon.pl">Background processing</a></p>

<p><a href="/cgi-bin/admin/shopadmin.pl">Shop administration</a></p>

<ul>
 
<:if UserCan shop_order_list :>
<li><a
href="/cgi-bin/admin/shopadmin.pl?order_list=1&amp;template=order_list_unfilled">View
current orders</a> <br>(<a
href="/cgi-bin/admin/shopadmin.pl?order_list=1">all</a> or <a
href="/cgi-bin/admin/shopadmin.pl?order_list=1&amp;template=order_list_filled">filled</a>)</li>
<:or UserCan:><:eif UserCan:>

<li><a href="/cgi-bin/admin/add.pl?parentid=3">Add catalog</a></li>

</ul>
  </td>
</tr>
</table>
  </td>
</tr>
</table>



 
<p>&nbsp;</p>

<:include admin/menu_custom.tmpl optional :>

<p><a href="/cgi-bin/admin/menu.pl?_t=adv">Advanced tools</a></p>

<p>&nbsp;</p>

      <form action="/cgi-bin/admin/admin.pl">
        Jump to: 
        <input type=text name=id size=4>
        <input type="submit" value="Jump!">
        (Article ID eg: 1 = Home) 
      </form>
