<html><head><title>Order <:order id:> details</title>
<link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<h1>Shop Administration</h1>
<p>| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> | <a href="<:script:>"></a><a href="<:script:>">Manage 
  catalogs</a> | <a href="<:script:>?order_list=1">Manage orders</a> | <a href="<:script:>?order_list=1&template=order_list_unfilled">Unfilled 
  orders</a> | <a href="<:script:>?order_list=1&template=order_list_filled">Filled 
  orders</a> |
<:ifSiteuser id:><a href="/cgi-bin/admin/siteusers.pl?a_edit=1&amp;id=<:siteuser id:>">Edit Member</a> |
<a href="/cgi-bin/admin/siteusers.pl?a_edit=1&amp;id=<:siteuser id:>&amp;_t=orders">Other member orders</a> |<:or:><:eif:>
</p>
<:ifMessage:><div class="message"><:message:></div><:or:><:eif:>
<h2>Order details - No: #<:order id:></h2>
<:ifOrder complete:><:or:><p><b><font size="+1">This order is incomplete and should not be filled.</font></b></p><:eif:>
<table cellpadding="6" cellspacing="1" border="0">
  <tr> 
    <td align="left"><b>E-mail:</b></td>
    <td><a href="mailto:<:order emailAddress:>"><:order emailAddress:></a></td>
    <td>&nbsp;</td>
    <td align="left"><b>Phone:</b></td>
    <td><:order telephone:></td>
  </tr>
  <tr> 
    <td align="left"><b>Date:</b></td>
    <td><:date order orderDate:></td>
    <td>&nbsp;</td>
    <td align="left"><b>Mobile:</b></td>
    <td><:order delivMobile:></td>
  </tr>
  <tr> 
    <td align="left"><b>Delivery:</b></td>
    <td><:order delivFirstName:> <:order delivLastName:></td>
    <td rowspan="6">&nbsp;&nbsp;</td>
    <td align="left"><b>Billing:</b></td>
    <td><:order billFirstName:> <:order billLastName:></td>
  </tr>
  <tr> 
    <td rowspan="5">&nbsp;</td>
    <td><:order delivOrganization:></td>
    <td rowspan="5">&nbsp;</td>
    <td><:order billOrganization:></td>
  </tr>
  <tr> 
    <td><:order delivStreet:></td>
    <td><:order billStreet:></td>
  </tr>
  <tr> 
    <td><:order delivStreet2:></td>
    <td><:order billStreet2:></td>
  </tr>
  <tr> 
    <td><:order delivSuburb:> <:order delivState:> <:order delivPostCode:></td>
    <td><:order billSuburb:> <:order billState:> <:order billPostCode:></td>
  </tr>
  <tr> 
    <td><:order delivCountry:></td>
    <td><:order billCountry:></td>
  </tr>
  <:include custom/order_detail.include optional:><:include admin/include/custom/order_detail_custom.tmpl optional:><:include admin/include/order_detail_custom.tmpl optional:>
</table>

<br>
      <table class="editform">
        <tr> 
          <th width="100%">Description</th>
          <th nowrap>Units</th>
          <th nowrap>Unit Price</th>
          <th nowrap>Extension</th>
          <th nowrap>Unit Wsale</th>
          <th nowrap>Ext Wsale</th>
          <th nowrap>Unit GST</th>
          <th nowrap>Ext GST</th>
</tr>
<:iterator begin items:>
        <tr> 
          <td width="100%"><:ifOr [ifEq [item productId] -1] [ifEq [product id] ""]:><:item title:> (product deleted)<:or:><a href="<:adminurl shopadmin product_detail 1 id [product id]:>"><:product
            title:></a><:eif:> <:options:></td>
          <td align=center nowrap><:item units:></td>
          <td align=right nowrap><:money item price:></td>
          <td align=right nowrap><:extension price:></td>
          <td align=right nowrap><:money item wholesalePrice:></td>
          <td align=right nowrap><:extension wholesalePrice:></td>
          <td align=right nowrap><:money item gst:></td>
          <td align=right nowrap><:extension gst:></td>
</tr>
<:iterator end items:>
<:if Cfg shop shipping:>
<:if Order shipping_name:>

        <tr> 
          <td colspan=3>
<:if Eq [order shipping_name] "contact":>
<b>Contact customer to make shipping arrangements</b>
<:or Eq:>
Shipping via <:order shipping_method:>
<:eif Eq:>, 
	        <form method="post" action="<:adminurl shopadmin a_order_save 1:>">
    <input type="hidden" name="id" value="<:order id:>" />
    <:csrfp shop_order_save hidden:>
    <label>tracking code: <input type="text" name="freight_tracking" value="<:order freight_tracking:>" /></label>
    <input type="submit" name="a_order_save" value="Save" />
    </form>

</td>
          <td align=right nowrap><:money order shipping_cost:></td>
          <td>&nbsp;</td>
          <td align=right nowrap></td>
          <td>&nbsp;</td>
          <td align=right nowrap></td>
</tr>
<:or Order:><:eif Order:>
<:or Cfg:>
<:eif Cfg:>
        <tr bgcolor="#FFFFFF"> 
          <td colspan=3 align=right>Total:</td>
          <td align=right nowrap><:money order total:></td>
          <td>&nbsp;</td>
          <td align=right nowrap><:money order wholesaleTotal:></td>
          <td>&nbsp;</td>
          <td align=right nowrap><:money order gst:></td>
</tr>
<:if Cfg shop shipping:><:or Cfg:>
<tr>
  <td colspan="3">
    <form method="post" action="<:adminurl shopadmin a_order_save 1:>">
    <input type="hidden" name="id" value="<:order id:>" />
    <:csrfp shop_order_save hidden:>
    <label>Shipping method: <:shipping_method_select:></label>
    <label>tracking code: <input type="text" name="freight_tracking" value="<:order freight_tracking:>" /></label>
    <input type="submit" name="a_order_save" value="Save" />
    </form>
  </td>
  <td colspan="5"></td>
</tr>
<:eif Cfg:>
</table>
<p>Order progress: <:stage_description:> <a href="#" onclick="document.getElementById('update_stage').style.display='block'; this.style.display='none'; return false;">update</a></p>

<form id="update_stage" action="<:adminurl shopadmin:>" style="display: none" method="post">
  <input type="hidden" name="id" value="<:order id:>" />
  <:csrfp shop_order_save hidden:>
  <:stage_select:>
  <label>Log note: <input type="text" name="stage_note" size="40" /> (optional)</label>
  <input type="submit" name="a_order_save" value="Save" />
</form>

<:switch:>
<:case Eq [order paidFor] "0":>
<p>This order hasn't been paid</p>
<p>If the customer has paid by cheque, transfer, etc, you can <a href="<:script:>?a_order_paid=1&amp;id=<:order id:>">mark this order paid</a></p>
<:case order ccOnline:>
<p>This was processed as an online credit card transaction.</p>
<:if Order ccSuccess:>
<p>This transaction was <b>SUCCESSFUL</b>.</p>
<table>
<tr><th>Receipt Number:</th><td><:order ccReceipt:></td></tr>
<:ifOrder ccTranId:>
<tr><th>Transaction Id:</th><td><:order ccTranId:></td></tr>
<:or:><:eif:>
</table>
<:or Order:>
<p>This transaction <b>FAILED</b>.</p>
<table>
<tr><th>Status:</th><td><:order ccStatus:></td>
<tr><th>Error:</th><td><:order ccStatusText:></td>
<:ifOrder ccStatus2:>
<tr><th>More status</th><td><:order ccStatus2:></td>
<:or:><:eif:>
</table>
<:eif Order:>
<:case Eq [order paymentType] "0":><p>Payment made by credit card.  Credit card details can be found in the encrypted email you received when the customer made the order.</p>
<:case Eq [order paymentType] "1":><p>Payment will be made by cheque.</p>
<:case Eq [order paymentType] "2":><p>Contact the customer to arrange for payment.</p>
<:case Eq [order paymentType] "3":><p>Paid manually (staff marked this order paid) - you can <a href="<:script:>?a_order_unpaid=1&amp;id=<:order id:>">unmark it</a></p>
<:case Eq [order paymentType] "4":><p>Paid via PayPal, transaction id <:order paypal_tran_id:><:ifUserCan bse_shop_order_refund_paypal:> <a href="<:script:>?a_paypal_refund=1&amp;id=<:order id:>">Refund</a><:or:><:eif:></p>
<:endswitch:>
<:include custom/order_detail_payment.include optional:>
<:if Order filled:>
<p>This order was filled on <:date order whenFilled:> by <:order whoFilled:>.</p>
<:or Order:>
<:ifOrder complete:>
<p>This order hasn't been filled yet.  <a href="/cgi-bin/admin/shopadmin.pl?id=<:order id:>&order_filled=Yep&filled=1&detail=1">Mark order filled</a>.</p><:or:><:eif:>
<:eif Order:>
<:if Order instructions:>
<p style="white-space: pre-wrap;"><:order instructions:></p>
<:or Order:><:eif Order:>

<table class="editform" id="auditlog">
<:include admin/include/audithead.tmpl:>
<:iterator begin auditlog object_id [order id] object_type BSE::TB::Order:>
<:include admin/include/auditentry.tmpl:>
<:iterator end auditlog:>
</table>

</table>
</body></html>
