<:wrap admin/base.tmpl title => [concatenate "Order " [order id] " details"] bodyid => bse-order-detail :> 
<h1>Shop Administration</h1>
<p>| <a href="<:adminurl menu:>">Admin menu</a> |
<a href="<:adminurl shopadmin:>">Manage catalogs</a> |
<a href="<:adminurl shopadmin order_list 1:>">Manage orders</a> |
<a href="<:adminurl shopadmin order_list 1 template order_list_unfilled:>">Unfilled 
  orders</a> |
<a href="<:adminurl shopadmin order_list 1 template order_list_filled:>">Filled 
  orders</a> |
<:ifSiteuser id:><a href="<:adminurl siteusers a_edit 1 id [siteuser id]:>">Edit Member</a> |
<a href="<:adminurl siteusers a_edit 1 id [siteuser id] _t orders:>">Other member orders</a> |<:or:><:eif:>
</p>
<:ifMessage:><div class="message"><:message:></div><:or:><:eif:>
<h2>Order details - No: #<:order id:></h2>
<h3>Received: <span class="date order-date" data-datetime="<:date "%y-%m-%dT%H:%M:%S" order orderDate:>"><:date "%d/%m/%Y %I:%M%P" order orderDate:></span></h3>
<:ifOrder purchase_order:>
<h3 class="purchase-order">Purchase Order: <span class="purchase-order"><:order purchase_order:></span></h3>
<:or:><:eif:>
<:ifOrder complete:><:or:><p>This order is incomplete and should not be filled.</p><:eif:>
<table class="editform orderdetail_head">
  <tr>
    <th colspan="2" class="col_typehead">Billing</th>
    <td rowspan="6">&nbsp;</td>
    <th colspan="2" class="col_typehead">Delivery</th>
  </tr>
  <tr> 
    <th class="col_head">E-mail:</th>
    <td class="col_value"><a href="mailto:<:order billEmail:>"><:order billEmail:></a></td>
    <th class="col_head">Email:</th>
    <td class="col_value"><a href="mailto:<:order emailAddress:>"><:order emailAddress:></a></td>
  </tr>
  <tr> 
    <th class="col_head">Phone:</th>
    <td class="col_value"><a href="tel:<:order billTelephone:>"><:order billTelephone:></a></td>
    <th class="col_head">Phone:</th>
    <td class="col_value"><a href="tel:<:order telephone:>"><:order telephone:></a></td>
  </tr>
  <tr> 
    <th class="col_head">Mobile:</th>
    <td class="col_value"><a href="tel:<:order billMobile:>"><:order billMobile:></a></td>
    <th class="col_head">Mobile:</th>
    <td class="col_value"><a href="tel:<:order delivMobile:>"><:order delivMobile:></a></td>
  </tr>
  <tr> 
    <th class="col_head">Facsimile:</th>
    <td class="col_value"><a href="fax:<:order billFacsimile:>"><:order billFacsimile:></a></td>
    <th class="col_head">Facsimile:</th>
    <td class="col_value"><a href="fax:<:order facsimile:>"><:order facsimile:></a></td>
  </tr>
  <tr> 
    <th class="col_head">Address:</th>
    <td class="col_value">
      <:order billFirstName:> <:order billLastName:>
      <:ifOrder billOrganization:><br /><:order billOrganization:><:or:><:eif:>
      <br /><:order billStreet:>
      <:ifOrder billStreet2:><br /><:order billStreet2:><:or:><:eif:>
      <br /><:order billSuburb:> <:order billState:> <:order billPostCode:>
      <br /><:order billCountry:>
    </td>
    <th class="col_head">Address:</th>
    <td class="col_value"><:order delivFirstName:> <:order delivLastName:>
      <:ifOrder delivOrganization:><br /><:order delivOrganization:><:or:><:eif:>
      <br /><:order delivStreet:>
      <:ifOrder delivStreet2:><br /><:order delivStreet2:><:or:><:eif:>
      <br /><:order delivSuburb:> <:order delivState:> <:order delivPostCode:>
      <br /><:order delivCountry:></td>
  </tr>
<:ifOrder instructions:>
  <tr>
    <th>Special Instructions:</th>
    <td colspan="4" class="col_instructions"><:order instructions:></td>
  </tr>
<:or:><:eif:>
  <:include custom/order_detail.include optional:><:include admin/include/custom/order_detail_custom.tmpl optional:><:include admin/include/order_detail_custom.tmpl optional:>
</table>

<br />
      <table class="editform orderdetail">
        <tr> 
          <th class="col_description">Description</th>
          <th class="col_units">Units</th>
          <th class="col_unit_wsale">Unit Wsale</th>
          <th class="col_ext_wsale">Ext Wsale</th>
          <th class="col_unit_gst">Unit GST</th>
          <th class="col_ext_gst">Ext GST</th>
          <th class="col_unitprice">Unit Price</th>
          <th class="col_extension">Extension</th>
</tr>
<:iterator begin items:>
        <tr> 
          <td class="col_description"><:ifOr [ifEq [item productId] -1] [ifEq [product id] ""]:><:item title:> (product deleted)<:or:><a href="<:product admin:>"><:product
            title:></a><:eif:> <:options:></td>
          <td class="col_units"><:item units:></td>
          <td class="col_unit_wsale"><:money item wholesalePrice:></td>
          <td class="col_ext_wsale"><:extension wholesalePrice:></td>
          <td class="col_unit_gst"><:money item gst:></td>
          <td class="col_ext_gst"><:extension gst:></td>
          <td class="col_unitprice"><:money item price:></td>
          <td class="col_extension"><:extension price:></td>
</tr>
<:iterator end items:>
<tr>
  <td colspan="7" class="col_label_right">Total Price of goods:</td>
  <td  class="col_extension"><:= bse.number("money", order.total_cost) -:></td>
</tr>
<:.if order.coupon -:>
<tr>
   <td>Coupon code <b><:= order.coupon.code -:></b></td>
   <td colspan="6" class="col_label_right">Discount:</td>
   <td class="col_extension">(<:= bse.number("money", order.product_cost_discount) -:>)</td>
</tr>
<tr>
   <td colspan="7" class="col_label_right">Discounted total:</td>
   <td class="col_extension"><:= bse.number("money", order.discounted_product_cost) -:></td>
</tr>
<:.end if -:>
        <tr> 
          <td colspan="7" class="col_contact">
<:if Eq [order shipping_name] "none":>
Nothing to ship.
<:or:>
<form method="post" action="<:adminurl shopadmin a_order_save 1:>">
Shipping via <:shipping_method_select:>
    <input type="hidden" name="id" value="<:order id:>" />
    <:csrfp shop_order_save hidden:>
    <label>tracking code: <input type="text" name="freight_tracking" value="<:order freight_tracking:>" /></label>
    <input type="submit" name="a_order_save" value="Save" />
    </form>
<:eif:>
</td>
          <td class="col_extension"><:money order shipping_cost:></td>
</tr>
        <tr> 
          <td colspan="3" class="col_total">Total:</td>
          <td class="col_ext_wsale total"><:money order wholesaleTotal:></td>
          <td>&nbsp;</td>
          <td class="col_ext_gst total"><:money order gst:></td>
          <td>&nbsp;</td>
          <td class="col_extension total"><:money order total:></td>
</tr>
</table>
<p>Order progress: <:stage_description:> <a href="#" onclick="document.getElementById('update_stage').style.display='block'; this.style.display='none'; return false;">update</a></p>

<form id="update_stage" action="<:adminurl shopadmin:>" style="display: none" method="post">
  <input type="hidden" name="id" value="<:order id:>" />
  <:csrfp shop_order_save hidden:>
  <:stage_select:>
  <label>Log note: <input type="text" name="stage_note" size="40" /> (optional)</label>
  <input type="submit" name="a_order_save" value="Save" />
</form>

<:.if !order.paidFor :>
<p>This order hasn't been paid</p>

<form action="<:adminurl2 shopadmin:>" method="post">
<input type="hidden" name="id" value="<:= order.id :>" />
<:csrfp shop_order_paid hidden:>
Payment type: <:.call "make_select", "name": "paymentType", "list": payment_types, "id": "id", "desc": "desc", "default": order.paymentType -:>
<input type="submit" name="a_order_paid" value="Mark this order paid" /></form>
<:.elsif order.is_manually_paid -:>
<form action="<:adminurl2 shopadmin:>" method="post">
This order has been manually marked paid via <:= payment_type_desc | html :>
<input type="hidden" name="id" value="<:= order.id :>" />
<:csrfp shop_order_unpaid hidden:>
<input type="submit" name="a_order_unpaid" value="Mark this order unpaid" /></form>

<:.elsif order.ccOnline:>
<p>This was processed as an online credit card transaction.</p>
<:.if order.ccSuccess:>
<p>This transaction was <b>SUCCESSFUL</b>.</p>
<table>
<tr><th>Receipt Number:</th><td><:order ccReceipt:></td></tr>
<:.if order.ccTranId:>
<tr><th>Transaction Id:</th><td><:order ccTranId:></td></tr>
<:.end if:>
<:.if order.ccName:>
<tr><th>Card Holder:</th><td><:order ccName:></td>
<:.end if:>
<:.if order.ccPAN:>
<tr><th>Card Number (partial):</th><td>...<:order ccPAN:></td>
<:.end if:>
</table>
<:.else:>
<p>This transaction <b>FAILED</b>.</p>
<table>
<tr><th>Status:</th><td><:order ccStatus:></td>
<tr><th>Error:</th><td><:order ccStatusText:></td>
<:.if order.ccStatus2:>
<tr><th>More status</th><td><:order ccStatus2:></td>
<:.end if:>
</table>
<:.end if:>
<:.elsif order.paymentType == 0:>
<p>Payment made by credit card.  Credit card details can be found in the encrypted email you received when the customer made the order.</p>
<:.if order.ccPAN or order.ccName :>
<table>
<:.if order.ccName:>
<tr><th>Card Holder</th><td><:order ccName:></td>
<:.end if:>
<:.if order.ccPAN:>
<tr><th>Card Number (partial)</th><td>...<:order ccPAN:></td>
<:.end if:>
</table>
<:.end if:>
<:.elsif order.paymentType == 1 -:>
  <p>Payment will be made by cheque.</p>
<:.elsif order.paymentType == 2 -:>
  <p>Contact the customer to arrange for payment.</p>
<:.elsif order.paymentType == 4:><p>Paid via PayPal, transaction id <:order paypal_tran_id:><:ifUserCan bse_shop_order_refund_paypal:> <a href="<:adminurl shopadmin a_paypal_refund 1 id [order id]:>">Refund</a><:or:><:eif:></p>
<:.end if:>
<:include custom/order_detail_payment.include optional:>
<:.if order.filled:>
<p>This order was filled on <:date order whenFilled:> by <:order whoFilled:>.</p>
<:.elsif order.complete:>
<p>This order hasn't been filled yet.  <a href="<:adminurl shopadmin id [order id] order_filled Yep filled 1 detail 1:>">Mark order filled</a>.</p>
<:.end if:>
<:.if order.instructions:>
<p style="white-space: pre-wrap;"><:order instructions:></p>
<:.end if:>

<table class="editform" id="auditlog">
<:include admin/include/audithead.tmpl:>
<:iterator begin auditlog object_id [order id] object_type BSE::TB::Order:>
<:include admin/include/auditentry.tmpl:>
<:iterator end auditlog:>
</table>
