<html><head><title>Order list - Shop administration</title>
<link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<h1>Shop Administration</h1>
<p>| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> | <a href="<:script:>">Manage catalogs</a> 
  | <a href="<:script:>?order_list=1&template=order_list_unfilled">Unfilled orders</a> 
  | <a href="<:script:>?order_list=1&template=order_list_filled">Filled orders</a> 
  |</p>
<h2>Order list</h2>

<table bgcolor="#000000" cellpadding="0" cellspacing="0" border="0" width="100%" class="table">
  <tr>
<td>
      <table border=0 cellpadding="6" cellspacing="1" width="100%">
        <tr bgcolor="#FFFFFF"> 
          <th>Id</th>
          <th width="100%">Name</th>
          <th>Status</th>
          <th>Date</th>
          <th>Total</th>
          <th>GST</th>
          <th>Details</th>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td colspan="7"> 
            <form action="<:script:>" method="POST">
              <input type="hidden" name="order_list" value="1">
              From date: 
              <input type="text" size="10" name="from" value="<:cgi from:>">
              To date: 
              <input type="text" size="10" name="to" value="<:cgi to:>">
              <input type=submit value="Filter orders" name="submit">
            </form>
          </td>
        </tr>
        <:iterator begin orders:> 
        <tr bgcolor="#FFFFFF"> 
          <td align="center" nowrap><a href="<:script:>?id=<:order id:>&order_detail=1"><:order 
            id:></a></td>
          <td width="100%"><:order delivFirstName:> <:order delivLastName:> <:ifOrder 
            userId:><font color="#CCCCCC">&#8212; (logged in)</font><:or:><:eif:></td>
          <td nowrap bgcolor="<:ifOrder filled:>#CC0033<:or:>#66CC00<:eif:>"><:ifOrder 
            filled:><font color="#999999">Completed</font><:or:><font color="#FFFFFF">Processing</font><:eif:></td>
          <td nowrap><:date orderDate:></td>
          <td align=right nowrap>$<:money total:></td>
          <td align=right nowrap>$<:money gst:></td>
          <td nowrap> <a href="<:script:>?id=<:order id:>&order_detail=1">Order 
            details </a> </td>
        </tr>
        <:iterator end orders:> 
      </table>
</td>
</tr>
</table>
<p><font size="-1">BSE Release <:release:></font></p>
</body>
</html>
