<:wrap admin/base.tmpl title => "Order list - Shop administration":>
<h1>Shop Administration</h1>
<p>| <a href="<:adminurl menu:>">Admin menu</a> | <a href="<:adminurl shopadmin:>">Manage catalogs</a> 
  | <a href="<:adminurl shopadmin order_list 1 template order_list_filled:>">Filled orders</a> [ <:order_count filter= filled!=0:> ]
  | <a href="<:adminurl shopadmin order_list 1:>">All orders</a>  [ <:order_count filter= id!=0:> ] |</p>
<h2>Order list - Unfilled orders</h2>

      <table class="editform orderlist">
        <tr> 
          <th>Id</th>
          <th>Name</th>
          <th>Date</th>
          <th>Total</th>
          <th>GST</th>
          <th>Details</th>
        </tr>
        <tr> 
          <td colspan="6"> 
            <form action="<:script:>" method="post">
              <input type="hidden" name="order_list2" value="1" />
              <input type="hidden" name="template2" value="order_list_unfilled" />
              From date: 
              <input type="text" size="10" name="from2" value="<:cgi from:>" />
              To date: 
              <input type="text" size="10" name="to2" value="<:cgi to:>" />
              <input type=submit value="Filter orders" name="submit2" />
            </form>
          </td>
        </tr>
        <:iterator begin orders filter= filled==0 :> 
        <tr> 
          <td class="col_id"><a href="<:adminurl shopadmin id [order id] order_detail 1:>"><:order 
            id:></a></td>
          <td class="col_name"><:ifOrder billFirstName:><:order billFirstName:> <:order billLastName:><:or:><:order delivFirstName:> <:order delivLastName:><:eif:> <:ifOrder 
            userId:><font color="#CCCCCC">&#8212; (logged in)</font><:or:><:eif:></td>
          <td class="col_date"><:date order orderDate:></td>
          <td class="col_total">$<:money order total:></td>
          <td class="col_total">$<:money order gst:></td>
          <td class="col_tools"> <a href="<:adminurl shopadmin id [order id] order_detail 1:>">Order 
            details </a></td>
        </tr>
        <:iterator end orders:> 
      </table>
