<:wrap admin/base.tmpl title => "Order list - Shop administration", target=>order_list_filled:>
<h1>Shop Administration</h1>
<p>| <a href="<:adminurl menu:>">Admin menu</a> | <a href="<:adminurl shopadmin:>">Manage catalogs</a> 
  | <a href="<:adminurl2 shopadmin order_list_unfilled:>">Unfilled orders</a>  [ <:all_order_count [ filled => 0 ] :> ]
  | <a href="<:adminurl2 shopadmin order_list:>">All orders</a>  [ <:all_order_count:> ] |</p>
<h2>Order list - Filled orders</h2>

      <table class="editform orderlist">
        <tr> 
          <th>Id</th>
          <th width="100%">Name</th>
          <th>Date</th>
          <th>Total</th>
          <th>GST</th>
          <th>Details</th>
        </tr>
        <tr> 
          <td colspan="6"> 
<:include admin/include/order_list_filter.tmpl:>
          </td>
        </tr>
        <:iterator begin orders:> 
        <tr> 
          <td class="col_id"><a href="<:adminurl2 shopadmin order_detail id [order id]:>"><:order 
            id:></a></td>
          <td class="col_title"><:ifOrder billFirstName:><:order billFirstName:> <:order billLastName:><:or:><:order delivFirstName:> <:order delivLastName:><:eif:> <:ifOrder 
            userId:><font color="#CCCCCC">&#8212; (logged in)</font><:or:><:eif:></td>
          <td class="col_date"><:date order orderDate:></td>
          <td class="col_total">$<:money order total:></td>
          <td class="col_total">$<:money order gst:></td>
          <td class="col_tools"> <a href="<:adminurl2 shopadmin order_detail id [order id]:>">Order 
            details </a> </td>
        </tr>
        <:iterator end orders:> 
      </table>
<:include admin/include/order_list_pages.tmpl:>
