<:wrap admin/base.tmpl title => "Product list - Shop Administration":>
<h1>Shop Administration</h1>
<:ifMessage:><p><b><:message:></b></p>
<:or:><:eif:> 
<p>| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> | <a href="/cgi-bin/admin/admin.pl?id=<:shopid:>">See 
  shop</a> | <a href="/cgi-bin/admin/add.pl?id=<:shopid:>">Edit shop</a> 
  | <:ifUserCan shop_order_list:><a href="<:= cfg.admin_url2("shopadmin", "order_list") :>">Manage orders</a> | <:or:><:eif:><a href="/cgi-bin/admin/admin.pl?id=<:shopid:>"></a><:if 
  ShowStepKids:><a href="<:script:>?showstepkids=0">Hide step children</a><:or 
  ShowStepKids:><a href="<:script:>?showstepkids=1">Show step children</a><:eif 
  ShowStepKids:> |
<:.if request.user_can("bse_shop_coupon_list") -:>
<a href="<:= cfg.admin_url2("shopadmin", "coupon_list") :>">Coupon Management</a> |
<:.end if -:>
</p>
<:if Products:> 
<h4>Products list</h4>
      <table class="productlist">
        <tr> 
          <th class="col_id">Id</th>
          <th class="col_name">Name</th>
          <th class="col_release">Release</th>
          <th class="col_expire">Expire</th>
          <th class="col_retail">Retail</th>
          <th class="col_wsale">Wsale</th>
          <th class="col_gst">GST</th>
          <th>Modify</th>
          <th class="col_note">Note</th>
        </tr>
        <:iterator begin products:> 
        <tr> 
          <td class="col_id"><:product id:></td>
          <td class="col_name"><a href="<:product admin:>"><:product title:></a></td>
          <td class="col_release"><:date product release:></td>
          <td class="col_expire"><:ifMatch [product expire] "9999-12-31":>Never<:or:><:date product expire:><:eif:></td>
          <td class="col_retail">$<:money product retailPrice:></td>
          <td class="col_wsale">$<:money product wholesalePrice:></td>
          <td class="col_gst">$<:money product gst:></td>
          <td class="col_modify"><a href="/cgi-bin/admin/add.pl?id=<:product id:>">Edit</a> 
            <:if Product listed:> <a href="/cgi-bin/admin/add.pl?hide=1&amp;id=<:product id:>&amp;_csrfp=<:csrfp admin_save_article:>&amp;r=<:cfg site url:><:script:>">Hide</a> 
            <:or Product:> <a href="/cgi-bin/admin/add.pl?unhide=1&amp;id=<:product id:>&amp;_csrfp=<:csrfp admin_save_article:>&amp;r=<:cfg site url:><:script:>">Show</a> 
            <:eif Product:> <:move:> </td>
          <td class="col_note"><:ifProduct listed:>&nbsp;<:or:>Hidden<:eif:></td>
        </tr>
        <:iterator end products:> 
      </table>
<:or Products:><:eif Products:>
<:iterator begin catalogs:> <a name="cat<:catalog id:>"></a> 
<h2>Catalog: <:catalog title:> <:movecat:></h2>
<:embed catalog catalog.tmpl:>
<hr />
<:iterator end catalogs:> 
<:ifUserCan edit_add_child:[cfg articles shop]:><form action="/cgi-bin/admin/add.pl"><input type="hidden" name="type" value="Catalog" />
  <input type="hidden" name="parentid" value="3" /><input type="submit" value="Add Catalog" /></form>
<:if Eq [shop generator] "Generate::Catalog":>
<form action="/cgi-bin/admin/add.pl"><input type="hidden" name="type" value="Product" />
  <input type="hidden" name="parentid" value="3" /><input type="submit" value="Add Product" /></form><:or Eq:><:eif Eq:>
<:or:><:eif:>
