<html><head><title>Product details - Shop administration</title>
<link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<h1>Shop Administration</h1>
<p>| <a href="/admin/">Admin menu</a> | <a href="<:product admin:>">See product</a> 
  | <a href="<:script:>">Manage catalogs</a> | <a href="<:script:>?id=<:product id:>&edit_product=1">Edit 
  product </a> <:if Product listed:> | <a href="<:script:>?id=<:product id:>&delete_product=1">Hide</a> 
  |<:or Product:> | <a href="<:script:>?id=<:product id:>&undelete_product=1">Show</a> 
  |<:eif Product:> <:hiddenNote:></p>
<h2>Product details</h2>
<table bgcolor="#000000" cellpadding="0" cellspacing="0" border="0" width="100%" class="table">
  <tr>
<td>
      <table border=0 cellpadding="6" cellspacing="1" width="100%">
        <tr> 
          <th align="left" nowrap bgcolor="#FFFFFF">Title:</th>
          <td bgcolor="#FFFFFF" width="100%"><:product title:></td>
        </tr>
        <tr> 
          <th align="left" nowrap bgcolor="#FFFFFF">Summary:</th>
          <td bgcolor="#FFFFFF" width="100%"><:product summary:></td>
        </tr>
        <tr> 
          <th align="left" nowrap bgcolor="#FFFFFF" valign="top">Description:</th>
          <td bgcolor="#FFFFFF" width="100%"><:bodytext product body:></td>
        </tr>
        <tr> 
          <th align="left" nowrap bgcolor="#FFFFFF">Lead time:</th>
          <td bgcolor="#FFFFFF" width="100%"><:product leadTime:> days</td>
        </tr>
        <tr> 
          <th align="left" nowrap bgcolor="#FFFFFF">Retail price:</th>
          <td bgcolor="#FFFFFF" width="100%">$<:money retailPrice:></td>
        </tr>
        <tr> 
          <th align="left" nowrap bgcolor="#FFFFFF">Wholesale price:</th>
          <td bgcolor="#FFFFFF" width="100%">$<:money wholesalePrice:></td>
        </tr>
        <tr> 
          <th align="left" nowrap bgcolor="#FFFFFF">GST:</th>
          <td bgcolor="#FFFFFF" width="100%">$<:money gst:></td>
        </tr>
        <tr> 
          <th align="left" nowrap bgcolor="#FFFFFF">Release date:</th>
          <td bgcolor="#FFFFFF" width="100%"><:date product release:></td>
        </tr>
        <tr> 
          <th align="left" nowrap bgcolor="#FFFFFF">Expiry date:</th>
          <td nowrap bgcolor="#FFFFFF"><:ifMatch [date product expire] "31/12/9999":>Never<:or:><:date 
            product expire:><:eif:></td>
        </tr>
        <tr> 
          <th align="left" nowrap bgcolor="#FFFFFF">Options:</th>
          <td bgcolor="#FFFFFF" width="100%"><:product options:></td>
        </tr>
      </table>
</td>
</tr>
</table>
<p><font size="-1">BSE Release <:release:></font></p>
</body>
</html>
