<html><head><title>Products list - Shop administration</title>
  <link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>

<body>
<h1>Shop Administration</h1>
<:ifMessage:><p><b><:message:></b></p>
<:or:><:eif:> 
<p>| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> | <a href="/cgi-bin/admin/admin.pl?id=<:shopid:>">See 
  shop</a> | <a href="/cgi-bin/admin/add.pl?id=<:shopid:>">Edit shop</a> 
  | <:ifUserCan shop_order_list:><a href="<:script:>?order_list=1">Manage orders</a> | <:or:><:eif:><a href="/cgi-bin/admin/admin.pl?id=<:shopid:>"></a><:if 
  ShowStepKids:><a href="<:script:>?showstepkids=0">Hide step children</a><:or 
  ShowStepKids:><a href="<:script:>?showstepkids=1">Show step children</a><:eif 
  ShowStepKids:> | </p>
<:iterator begin catalogs:> <a name="cat<:catalog id:>"></a> 
<h2>Catalog: <:catalog title:> <:movecat:></h2>
<p><:embed catalog catalog.tmpl:></p>
<p>&nbsp; </p>
<hr noshade size="1">
<:iterator end catalogs:> 
<:ifUserCan edit_add_child [cfg articles shop]:><form action="/cgi-bin/admin/add.pl"><input type=hidden name=type value="Catalog">
  <input type=hidden name=parentid value=3><input type=submit value="Add Catalog"></form><:or:><:eif:>
<p><font size="-1">BSE Release <:release:></font></p>
</body>
</html>