A new user has registered on your site <:cfg site url:>:

  Logon: <:user userId:>
  Name : <:user name1:> <:user name2:>

To edit this user:

  <:cfg site url:>/cgi-bin/admin/siteusers.pl?a_edit=1&id=<:user id:>

To manage access controls:

  <:cfg site url:>/cgi-bin/admin/siteusers.pl?a_edit=1&id=<:user id:>&_t=groups
