<:wrap admin/base.tmpl title=>"Cancel Seminar Booking":>
<h1>Cancel Seminar Booking</h1>
<p>| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> | </p>
<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:>
<form action="<:script:>" method="post">
<input type="hidden" name="a_cancelbooking" value="1" />
<input type="hidden" name="id" value="<:booking id:>" />
<:ifCgi r:><input type="hidden" name="r" value="<:cgi r:>" /><:or:><:eif:>
<table>
  <tr>
    <th>Seminar:</th>
    <td><a href="<:seminar link:>"><:seminar title:></a></td>
  </tr>
  <tr>
    <th>User:</th>
    <td><a href="/cgi-bin/admin/siteusers.pl?id=<:siteuser id:>&amp;a_view=1"><:siteuser userId:></a> ( <:siteuser name1:> <:siteuser name2:> )</td>
  </tr>
  <tr>
    <th>Location:</th>
    <td><a href="/cgi-bin/admin/admin_seminar.pl?a_locview=1&amp;id=<:location id:>"><:location description:></a></td>
  </tr>
  <tr>
    <th>Date:</th>
    <td><:date session when_at:></td>
  </tr>
  <tr>
    <th>Time:</th>
    <td><:date "%I:%M %P" session when_at:></td>
  </tr>
  <tr>
    <td colspan="2"><input type="submit" name="a_cancelbooking" value="Cancel Booking" /></td>
  </tr>
</table>
</form>
