<:wrap admin/base.tmpl title => "Delete User":>
<h1>Delete User</h1>
<p>
| <a href="/cgi-bin/admin/menu.pl">Admin menu</a>
| <a href="<:script:>">User list</a> |
<a href="<:script:>?a_groups=1">Group list</a> |
</p>
<form method="POST" action="<:script:>">
<input type=hidden name=userid value=<:user id:>>
        <table>
          <tr> 
            <th>Logon: </th>
            <td> 
              <:user logon:>
            </td>
            <td class="help"><:help edituser logon:> </td>
          </tr>
          <tr> 
            <th>Name: </th>
            <td> 
              <:user name:>
            </td>
            <td class="help"><:help edituser name:> </td>
          </tr>
          <tr> 
            <td colspan="3">
	      Are you sure you want to delete this user?
	    </td>
          </tr>
          <tr> 
            <td colspan="3" class="buttons"> 
              <input type="submit" name="a_deluser" value="  Delete User  " />
            </td>
          </tr>
        </table>
</form>
  
