<:wrap admin/base.tmpl title => "Global Permissions" :>
<h1>Edit User <:user logon:></h1>
<p>
| <a href="/cgi-bin/admin/menu.pl">Admin menu</a>
| <a href="<:script:>">User list</a> |
<a href="<:script:>?a_groups=1">Group list</a> |
</p>
<p>
| <a href="<:script:>?a_showuser=1&amp;userid=<:user id:>">User Details</a> | Global Permissions
| <a href="<:script:>?a_showuserart=1&amp;userid=<:user id:>&amp;id=-1">Article Permissions</a> |
</p>
<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:> 

<form method="POST" action="<:script:>">
<input type=hidden name=userid value=<:user id:>>
<input type=hidden name=savegperms value=1>
<input type="hidden" name="_t" value="glob">
        <table>
          <:iterator begin gperms:>
          <tr> 
            <th><:gperm brief:> </th>
            <td> 
              <:if UserCan admin_user_save:><input type=checkbox name=gperms value=<:gperm id:> <:ifGperm_set gperm:>checked <:or:><:eif:>/><:or UserCan:><img src="/images/admin/<:ifGperm_set gperm:>checked<:or:>unchecked<:eif:>.gif"><:eif UserCan:>
            </td>
            <td><img src="/images/admin/help.gif" title="<:gperm help:>" /></td>
          </tr>
          <:iterator end gperms:>
<:ifUserCan admin_user_save:>
          <tr> 
            <td colspan="3" class="buttons"> 
              <input type="submit" name="a_saveuser" value="  Save Permissions  " />
            </td>
          </tr>
<:or:><:eif:>
        </table>
</form>
