<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

  <title>Administration - Edit Group - Article permissions</title>

  <link rel="stylesheet" type="text/css" href="/css/admin.css" />

</head>

<body>
<h1>Edit Group <:group name:></h1>
<p>
| <a href="/cgi-bin/admin/menu.pl">Admin menu</a>
| <a href="<:script:>">User list</a>
| <a href="<:script:>?a_groups=1">Group list</a> |
</p>
<p>
| <a href="<:script:>?a_showgroup=1&groupid=<:group id:>">Group Details</a> 
| <a href="<:script:>?a_showgroup=1&groupid=<:group id:>&_t=glob">Global Permissions</a>
| Article Permissions |
</p>
<:ifParent:><p>| <a href="<:script:>?a_showgroupart=1&groupid=<:group id:>&id=<:parent id:>">Parent permissions</a> |</p><:or:><:eif:>
<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:> 

<h2>Permissions for <:ifEq [article id] "-1":>the site<:or:>article <:article title:><:eif:></h2>

<form method="POST" action="<:script:>">
<input type=hidden name=groupid value=<:group id:>>
<input type=hidden name=saveaperms value=1>
<input type=hidden name=id value=<:article id:>>
  <table border="0" cellspacing="0" cellpadding="0" bgcolor="#000000" class="table">
    <tr> 
      <td> 
        <table cellpadding="6" border="0" cellspacing="1">
          <:iterator begin aperms:>
          <tr> 
            <th bgcolor="#FFFFFF" align="left" width="100%"><:aperm brief:> </th>
            <td bgcolor="#FFFFFF"> 
              <input type=checkbox name=aperms value=<:aperm id:> <:ifAperm_set aperm:>checked <:or:><:eif:>/>
            </td>
            <td bgcolor="#FFFFFF"><img src="/images/admin/help.gif" title="<:aperm help:>" /></td>
          </tr>
          <:iterator end aperms:>
          <tr> 
            <td bgcolor="#FFFFFF" colspan="3" align="right"> 
              <input type="submit" name="a_savegroupart" value="  Save Group permissions  " />
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>

<:if Children:>
<h2>Children</h2>
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#000000" class="table">
  <tr>
      <td>
      <table border=0 cellpadding="6" cellspacing="1" width="100%">
        <tr bgcolor="#FFFFFF"> 
          <th>Title</th>
          <th>Summary</th>
          <th nowrap>Permissions</th>
        </tr>
        <:iterator begin children:> 
        <tr bgcolor="#FFFFFF"> 
          <td><a href="<:child admin:>"><:child title:></a></td>
          <td><: summary child body :></td>
          <td nowrap><a href="<:script:>?a_showgroupart=1&groupid=<:group id:>&id=<:child id:>">Permissions</a></td>
        </tr>
        <:iterator separator children:> <:iterator end children:> 
      </table>
</td>
</tr>
</table>
<:or Children:><:eif Children:>
  
<p><font size="-1">BSE Release <:release:></font></p>
</body
></html>
