<:wrap admin/base.tmpl title=> "Edit Group":>
<h1>Edit Group</h1>
<p>
| <a href="/cgi-bin/admin/menu.pl">Admin menu</a>
| <a href="<:script:>">User list</a>
| <a href="<:script:>?a_groups=1">Group list</a> |
</p>
<p>
| Group Details
| <a href="<:script:>?a_showgroup=1&amp;groupid=<:group id:>&amp;_t=glob">Global Permissions</a>
| <a href="<:script:>?a_showgroupart=1&amp;groupid=<:group id:>&amp;id=-1">Article Permissions</a> |
</p>
<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:> 

<form method="POST" action="<:script:>">
<input type=hidden name=groupid value=<:group id:>>
<input type=hidden name=saveusers value=1>
        <table>
          <tr> 
            <th>Name: </th>
            <td> 
              <:ifUserCan admin_group_save:><input type="text" name="name" value="<:old name group name:>" /><:or:><:group name:><:eif:>
            </td>
            <td class="help"><:help addgroup name:> <:error_img name:></td>
          </tr>
          <tr> 
            <th>Description: </th>
            <td> 
              <:ifUserCan admin_group_save:><input type="text" name="description" value="<:old description group description:>" /><:or:><:group description:><:eif:>
            </td>
            <td class="help"><:help addgroup description:> </td>
          </tr>
          <tr> 
            <th>Template Set: </th>
            <td><:template_set_popup:></td>
            <td class="help"><:help addgroup description:> </td>
          </tr>
          <tr> 
            <th> Members: </th>
            <td> 
	      <:iterator begin users:>
	        <:if UserCan admin_group_save:><input type=checkbox name=users value=<:iuser id:> <:ifMemberof iuser:>checked<:or:><:eif:> /><:or UserCan:><img src="/images/admin/<:ifMemberof iuser:>checked<:or:>unchecked<:eif:>.gif"><:eif UserCan:> <a href="<:script:>?a_showuser=1&userid=<:iuser id:>"><:ifIuser name:><:iuser name:> (<:iuser logon:>)<:or:><:iuser logon:><:eif:></a>
	      <:iterator separator users:>
	      <br>
	      <:iterator end users:>
            </td>
            <td class="help"><:help addgroup members:> </td>
          </tr>
<:ifUserCan admin_group_save:>
          <tr> 
            <td colspan="3" class="buttons"> 
              <input type="submit" name="a_savegroup" value="  Save Group  " />
            </td>
          </tr>
<:or:><:eif:>
        </table>
</form>
