<:wrap admin/base.tmpl title => "Edit User - Article Permissions":>
<h1>Edit User <:user logon:></h1>
<p>
| <a href="/cgi-bin/admin/menu.pl">Admin menu</a>
| <a href="<:script:>">User list</a> |
<a href="<:script:>?a_groups=1">Group list</a> |
</p>
<p>
| <a href="<:script:>?a_showuser=1&amp;userid=<:user id:>">User Details</a> 
| <a href="<:script:>?a_showuser=1&amp;userid=<:user id:>&amp;_t=glob">Global Permissions</a>
| Article Permissions |
</p>
<:ifParent:><p>| <a href="<:script:>?a_showuserart=1&amp;userid=<:user id:>&amp;id=<:parent id:>">Parent permissions</a> |</p><:or:><:eif:>
<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:> 

<h2>Permissions for <:ifEq [article id] "-1":>the site<:or:>article <:article title:><:eif:></h2>

<:if Eq [article id] "-1":><:or Eq:><p>/ <a href="<:script:>?a_showuserart=1&amp;userid=<:user id:>&amp;id=-1">Site</a> / <:iterator begin crumbs:> <a href="<:script:>?a_showuserart=1&amp;userid=<:user id:>&amp;id=<:crumb id:>"><:crumb title:></a> /<:iterator end crumbs:></p><:eif Eq:>

<form method="POST" action="<:script:>">
<input type=hidden name=userid value=<:user id:>>
<input type=hidden name=saveaperms value=1>
<input type=hidden name=id value=<:article id:>>
        <table>
          <:iterator begin aperms:>
          <tr> 
            <th><:aperm brief:> </th>
            <td> 
              <:if UserCan admin_user_save_artrights:><input type=checkbox name=aperms value=<:aperm id:> <:ifAperm_set aperm:>checked <:or:><:eif:>/><:or UserCan:><img src="/images/admin/<:ifAperm_set aperm:>checked<:or:>unchecked<:eif:>.gif"><:eif UserCan:>
            </td>
            <td class="help"><img src="/images/admin/help.gif" title="<:aperm help:>" /></td>
          </tr>
          <:iterator end aperms:>
<:ifUserCan admin_user_save_artrights:>
          <tr> 
            <td colspan="3" class="buttons"> 
              <input type="submit" name="a_saveuserart" value="  Save User permissions  " />
            </td>
          </tr>
<:or:><:eif:>
        </table>
</form>

<:if Children:>
<h2>Children</h2>
      <table>
        <tr> 
          <th>Title</th>
          <th>Summary</th>
          <th>Permissions</th>
        </tr>
        <:iterator begin children:> 
        <tr> 
          <td><a href="<:child admin:>"><:child title:></a></td>
          <td><: summary child body :></td>
          <td><a href="<:script:>?a_showuserart=1&userid=<:user id:>&id=<:child id:>">Permissions</a></td>
        </tr>
        <:iterator separator children:> <:iterator end children:> 
      </table>
<:or Children:><:eif Children:>
