<:wrap admin/base.tmpl title => "Delete Group":>
<h1>Delete Group</h1>
<p>
| <a href="/cgi-bin/admin/menu.pl">Admin menu</a>
| <a href="<:script:>">User list</a>
| <a href="<:script:>?a_groups=1">Group list</a> |
</p>

<form method="POST" action="<:script:>">
<input type="hidden" name="groupid" value="<:group id:>" />
        <table>
          <tr> 
            <th>Name: </th>
            <td><:group name:></td>
            <td><:help editgroup name:> </td>
          </tr>
          <tr> 
            <th>Description: </th>
            <td><:group description:></td>
            <td class="help"><:help editgroup description:> </td>
          </tr>
          <tr> 
            <td colspan="3"> 
	      Are you sure you want to delete this group?
            </td>
          </tr>
          <tr> 
            <td colspan="3" class="buttons"> 
              <input type="submit" name="a_delgroup" value="  Delete Group  " />
            </td>
          </tr>
        </table>
</form>
