<:wrap admin/base.tmpl title => "Edit User":>
<h1>Edit User</h1>
<p>
| <a href="/cgi-bin/admin/menu.pl">Admin menu</a>
| <a href="<:script:>">User list</a> |
<a href="<:script:>?a_groups=1">Group list</a> |
</p>
<p>
| User Details | <a href="<:script:>?a_showuser=1&amp;userid=<:user id:>&amp;_t=glob">Global Permissions</a>
| <a href="<:script:>?a_showuserart=1&amp;userid=<:user id:>&amp;id=-1">Article Permissions</a> |
</p>
<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:> 

<form method="post" action="<:script:>">
<input type="hidden" name="userid" value="<:user id:>" />
<input type="hidden" name="savegroups" value="1" />
        <table>
          <tr> 
            <th>Logon: </th>
            <td><:user logon:></td>
            <td class="help"><:help adduser logon:> </td>
          </tr>
          <tr> 
            <th>Name: </th>
            <td> 
              <:ifUserCan admin_user_save:><input type="text" name="name" value="<:user name:>" /><:or:><:user name:><:eif:>
            </td>
            <td class="help"><:help adduser name:> <:error_img name:></td>
          </tr>
<:ifUserCan admin_user_save:>
          <tr> 
            <th> Password: </th>
            <td><input type="password" name="password" /></td>
            <td class="help"> <:help adduser password:> <:error_img password:></td>
          </tr>
          <tr> 
            <th> Confirm: </th>
            <td><input type="password" name="confirm" /></td>
            <td class="help"><:help adduser confirm:> <:error_img confirm:></td>
          </tr>
<:or:><:eif:>
          <tr> 
            <th> Groups: </th>
            <td> 
	      <:iterator begin groups:>
	        <:if UserCan admin_user_save:><input type="checkbox" name="groups" value="<:igroup id:>" <:ifMemberof igroup:>checked="checked"<:or:><:eif:> /><:or UserCan:><img src="/images/admin/<:ifMemberof igroup:>checked<:or:>unchecked<:eif:>.gif" /><:eif UserCan:> <a href="<:script:>?a_showgroup=1&amp;groupid=<:igroup id:>"><:igroup name:></a>
	      <:iterator separator groups:>
	      <br>
	      <:iterator end groups:>
            </td>
            <td class="help"><:help adduser groups:> </td>
          </tr>
<:ifUserCan admin_user_save:>
          <tr> 
            <td colspan="3" class="buttons"> 
              <input type="submit" name="a_saveuser" value="  Save User  " />
            </td>
          </tr>
<:or:><:eif:>
        </table>
</form>
