<:wrap admin/base.tmpl title => "Admin Users" :>
<h1>Admin Users</h1>
<div class="menu">
| <a href="<:= cfg.admin_url("menu") :>">Admin menu</a> 
| <a href="<:= cfg.admin_url2("adminusers", "groups") :>">Group list</a> |
<:.if request.user_can("admin_user_add") :>
<a href="<:= cfg.admin_url2("adminusers", "adduserform") :>">Add New User</a> |
<:.end if:></div>
<:.call "messages" :>

<:.set allusers = [ users.all ] -:>
<form method="post" action="<:= cfg.admin_url("adminusers") :>">
        <table >
          <tr> 
            <th> Logon</th>
            <th> Name</th>
            <th> In Groups</th>
            <th>&nbsp;</th>
          </tr>
          <:.if allusers.size:>
	  <:.for user in allusers :>
          <tr<:.if user.locked_out :> class="locked"<:.end if:>> 
            <td> <a href="<:= cfg.admin_url2("adminusers", "showuser", { "userid":user.id }) :>"><:= user.logon :></a></td>
            <td><:= user.name:></td>
<:.set usergroups = [ user.groups ] -:>
            <td>
 	      <:-.if usergroups.size -:>
	        <:.for group in usergroups -:>
		  <:= group.name :><:= loop.is_last ? "" : ", " -:>
		<:.end for:>
	      <:.else -:>
	        (none)
	      <:-.end if-:>
            </td>
	    <td>
	      <:.if request.user_can("admin_user_del")-:>
                <a href="<:= cfg.admin_url2("adminusers", "showuser", { "userid": user.id, "_t":"del" })  :>">Delete</a>
              <:-.end if:>
	      <:.if user.locked_out -:>
	        <:.if request.user_can("bse_admin_user_unlock") -:>
		  <a href="<:= cfg.admin_url2("adminusers", "unlock", { "userid": user.id })  :>">Unlock</a>
		<:.else -:>
		  LOCKED
		<:.end if -:>
	      <:.end if -:>
	    </td>
          </tr>
          <:.end for :>
          <:.else:> 
          <tr> 
            <td colspan="4">Your system has no users.</td>
          </tr>
          <:.end if:> 
        </table>
</form>

