The following user has booked a seminar session:

  User     : <:user name1:> <:user name2:> (<:user userId:>)
  Course   : <:seminar title:>
  Location : <:location description:>
  Date     : <:date session when_at:>
  Time     : <:date "%I:%M %P" session when_at:>
<:iterator begin options
:>  <:option desc:>: <:option value:>
<:iterator end options:>
