<:wrap admin/base.tmpl title => "Admin Users" :>
<h1>Admin Users</h1>
<p>
| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> 
| <a href="<:script:>?a_groups=1">Group list</a> |
<:if UserCan admin_user_add :>
<a href="<:script:>?a_adduserform=1">Add New User</a> |
<:or UserCan:><:eif UserCan:></p>
<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:> 

<form method="post" action="<:script:>">
        <table >
          <tr> 
            <th> Logon</th>
            <th> Name</th>
            <th> In Groups</th>
            <th>&nbsp;</th>
          </tr>
          <:if Users:> <: iterator begin users :> 
          <tr> 
            <td> <a href="<:script:>?a_showuser=1&amp;userid=<:iuser id:>"><:iuser logon:></a></td>
            <td><:iuser name:></td>
            <td><:ifUser_groups iuser:><:iterator begin user_groups iuser:><:user_group name:><:iterator separator user_groups:>, <:iterator end user_groups:><:or:>(none)<:eif:>
            </td>
	    <td>
	      <:ifUserCan admin_user_del:><a href="<:script:>?a_showuser=1&amp;userid=<:iuser id:>&amp;_t=del">Delete</a><:or:><:eif:>
	    </td>
          </tr>
          <: iterator end users :> 
          <:or Users:> 
          <tr> 
            <td colspan="4">Your system has no users.</td>
          </tr>
          <:eif Users:> 
        </table>
</form>

