<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >  
<html><head><title>BSE - <:param title:></title>
<link rel="stylesheet" href="/css/admin.css" />
<:ajax includes:>
<:ifAnd [param js] [ifAjax]:><script type="text/javascript" src="/js/<:param js:>"></script><:or:><:eif:>
</head>
<body>
<:ifParam showtitle:><h1><:param title:></h1><:or:><:eif:>
<:wrap here:>
<hr />
<p class="version">BSE Release <:release:> - page generated <:today:></p>
</body></html>
