<:wrap admin/base.tmpl title => "Import Data - Processing":>
<h1>Import Data</h1>
<h2>Processing</h2>
<p>| <a href="/admin/">Admin Menu</a> |</p>

<:.iterateover perline :>
<div><:= importmessage | html :></div>
<:.end:>
