<:wrap admin/xbase.tmpl title=>"Add Site User":>
<h1>Add Site User</h1>
<p>
| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> |
<a href="/cgi-bin/admin/siteusers.pl">Site users</a> |
<a href="mailto:<:siteuser email:>">Email</a> |</p>

<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:> 

<form method="POST" action="<:script:>">
<input type="hidden" name="id" value="<:siteuser id:>" />
  <table border="0" cellspacing="0" cellpadding="0" bgcolor="#000000" class="table">
    <tr> 
      <td> 
        <table cellpadding="6" border="0" cellspacing="1">
<:ifCfg "site users" nopassword:><:or:>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">Logon: </th>
            <td bgcolor="#FFFFFF"> 
	      <input type="text" name="userId" value="<:old userId:>" />*
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser userId:> <:error_img userId:></td>
          </tr>
<:eif:>
<:if Cfg "site users" nopassword:><:or Cfg:>
          <tr> 
            <th bgcolor="#FFFFFF" align="left"> Password: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="password" name="password" />*
              </td>
            <td bgcolor="#FFFFFF"> <:help editsiteuser password:>  <:error_img password:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left"> Confirm: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="password" name="confirm_password" />*
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser confirm_password:> <:error_img confirm_password:> </td>
          </tr>
<:eif Cfg:>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">Email: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="email" value="<:old email :>" size="60" />*
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser email:>  <:error_img email:></td>
          </tr>
<:ifCfg "site users" nopassword:>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">Confirm Email: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="confirmemail" value="<:old confirmemail:>" size="60" />*
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser confirmemail:>  <:error_img confirmemail:></td>
          </tr>
<:or:><:eif:>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">First Name: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="name1" value="<:old name1 :>" size="60" /><:ifRequired name1:>*<:or:><:eif:>
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser name1:>  <:error_img name1:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">Last Name: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="name2" value="<:old name2 :>" size="60" /><:ifRequired name2:>*<:or:><:eif:>
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser name2:>  <:error_img name2:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">address: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="address" value="<:old address:>" size="60" /><:ifRequired address:>*<:or:><:eif:>
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser address:>  <:error_img address:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">city: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="city" value="<:old city :>" /><:ifRequired city:>*<:or:><:eif:>
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser city:>  <:error_img city:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">state: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="state" value="<:old state:>" /><:ifRequired state:>*<:or:><:eif:>
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser state:>  <:error_img state:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">postcode: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="postcode" value="<:old postcode:>" /><:ifRequired postcode:>*<:or:><:eif:>
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser postcode:>  <:error_img postcode:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">telephone: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="telephone" value="<:old telephone:>" /><:ifRequired telephone:>*<:or:><:eif:>
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser telephone:>  <:error_img telephone:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">facsimile: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="facsimile" value="<:old facsimile:>" /><:ifRequired facsimile:>*<:or:><:eif:>
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser facsimile:>  <:error_img facsimile:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">country: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="country" value="<:old country :>" size="60" /><:ifRequired country:>*<:or:><:eif:>
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser country:>  <:error_img country:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">title: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="title" value="<:old title :>" /><:ifRequired title:>*<:or:><:eif:>
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser title:>  <:error_img title:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">organization: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="organization" value="<:old organization:>" size="60" /><:ifRequired organization:>*<:or:><:eif:>
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser organization:>  <:error_img organization:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">billFirstName: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="billFirstName" value="<:old billFirstName:>" size="60" /><:ifRequired billFirstName:>*<:or:><:eif:>
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser billFirstName:>  <:error_img billFirstName:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">billLastName: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="billLastName" value="<:old billLastName :>" size="60" /><:ifRequired billLastName:>*<:or:><:eif:>
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser billLastName:>  <:error_img billLastName:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">billStreet: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="billStreet" value="<:old billStreet :>" size="60" /><:ifRequired billStreet:>*<:or:><:eif:>
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser billStreet:>  <:error_img billStreet:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">billSuburb: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="billSuburb" value="<:old billSuburb :>" /><:ifRequired billSuburb:>*<:or:><:eif:>
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser billSuburb:>  <:error_img billSuburb:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">billState: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="billState" value="<:old billState :>" /><:ifRequired billState:>*<:or:><:eif:>
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser billState:>  <:error_img billState:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">billPostCode: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="billPostCode" value="<:old billPostCode:>" /><:ifRequired billPostCode:>*<:or:><:eif:>
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser billPostCode:>  <:error_img billPostCode:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">billCountry: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="billCountry" value="<:old billCountry :>" /><:ifRequired billCountry:>*<:or:><:eif:>
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser billCountry:>  <:error_img billCountry:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">instructions: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="instructions" value="<:old instructions:>" /><:ifRequired instructions:>*<:or:><:eif:>
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser instructions:>  <:error_img instructions:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">billTelephone: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="billTelephone" value="<:old billTelephone:>" /><:ifRequired billTelephone:>*<:or:><:eif:>
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser billTelephone:>  <:error_img billTelephone:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">billFacsimile: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="billFacsimile" value="<:old billFacsimile :>" /><:ifRequired billFacsimile:>*<:or:><:eif:>
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser billFacsimile:>  <:error_img billFacsimile:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left">billEmail: </th>
            <td bgcolor="#FFFFFF"> 
              <input type="text" name="billEmail" value="<:old billEmail :>" /><:ifRequired billEmail:>*<:or:><:eif:>
            </td>
            <td bgcolor="#FFFFFF"><:help editsiteuser billEmail:>  <:error_img billEmail:></td>
          </tr>
          <tr> 
            <th bgcolor="#FFFFFF" align="left" valign="top">Admin Notes: </th>
            <td bgcolor="#FFFFFF"> 
              <textarea name="adminNotes" wrap="soft" rows="5" cols="60"><:old adminNotes :></textarea>
            </td>
            <td bgcolor="#FFFFFF" valign="top"><:help editsiteuser adminNotes:>  <:error_img adminNotes:></td>
          </tr>
          <tr> 
            <td bgcolor="#FFFFFF" colspan="3" align="right"> 
              <input type="submit" name="a_add" value="  Add User  " />
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>
