<:wrap admin/base.tmpl title=>"Add Site Member":>
<h1>Add Site Member</h1>
<p>
| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> |
<a href="/cgi-bin/admin/siteusers.pl">Site Members</a> |</p>

<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:> 

<form method="post" action="<:script:>">
<input type="hidden" name="id" value="<:siteuser id:>" />
        <table class="editform editformsmall">
<:ifCfg "site users" nopassword:><:or:>
          <tr> 
            <th>Logon: </th>
            <td> 
	      <input type="text" name="userId" value="<:old userId:>" />*
            </td>
            <td class="help"><:help editsiteuser userId:> <:error_img userId:></td>
          </tr>
<:eif:>
<:if Cfg "site users" nopassword:><:or Cfg:>
          <tr> 
            <th> Password: </th>
            <td> 
              <input type="password" name="password" />*
              </td>
            <td class="help"> <:help editsiteuser password:>  <:error_img password:></td>
          </tr>
          <tr> 
            <th> Confirm: </th>
            <td> 
              <input type="password" name="confirm_password" />*
            </td>
            <td class="help"><:help editsiteuser confirm_password:> <:error_img confirm_password:> </td>
          </tr>
<:eif Cfg:>
          <tr> 
            <th>Email: </th>
            <td> 
              <input type="text" name="email" value="<:old email :>" size="60" />*
            </td>
            <td class="help"><:help editsiteuser email:>  <:error_img email:></td>
          </tr>
<:ifCfg "site users" nopassword:>
          <tr> 
            <th>Confirm Email: </th>
            <td> 
              <input type="text" name="confirmemail" value="<:old confirmemail:>" size="60" />*
            </td>
            <td class="help"><:help editsiteuser confirmemail:>  <:error_img confirmemail:></td>
          </tr>
<:or:><:eif:>
          <tr> 
            <th>First Name: </th>
            <td> 
              <input type="text" name="name1" value="<:old name1 :>" size="60" /><:ifRequired name1:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser name1:>  <:error_img name1:></td>
          </tr>
          <tr> 
            <th>Last Name: </th>
            <td> 
              <input type="text" name="name2" value="<:old name2 :>" size="60" /><:ifRequired name2:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser name2:>  <:error_img name2:></td>
          </tr>
          <tr> 
            <th>Address: </th>
            <td> 
              <input type="text" name="street" value="<:old street:>" size="60" /><:ifRequired street:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser street:>  <:error_img street:></td>
          </tr>
          <tr> 
            <th></th>
            <td> 
              <input type="text" name="street2" value="<:old street2:>" size="60" /><:ifRequired street2:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser street2:>  <:error_img street2:></td>
          </tr>
          <tr> 
            <th>Suburb: </th>
            <td> 
              <input type="text" name="suburb" value="<:old suburb :>" /><:ifRequired suburb:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser suburb:>  <:error_img suburb:></td>
          </tr>
          <tr> 
            <th>state: </th>
            <td> 
              <input type="text" name="state" value="<:old state:>" /><:ifRequired state:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser state:>  <:error_img state:></td>
          </tr>
          <tr> 
            <th>postcode: </th>
            <td> 
              <input type="text" name="postcode" value="<:old postcode:>" /><:ifRequired postcode:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser postcode:>  <:error_img postcode:></td>
          </tr>
          <tr> 
            <th>country: </th>
            <td> 
              <input type="text" name="country" value="<:old country :>" size="60" /><:ifRequired country:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser country:>  <:error_img country:></td>
          </tr>
          <tr> 
            <th>telephone: </th>
            <td> 
              <input type="text" name="telephone" value="<:old telephone:>" /><:ifRequired telephone:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser telephone:>  <:error_img telephone:></td>
          </tr>
          <tr> 
            <th>mobile: </th>
            <td> 
              <input type="text" name="mobile" value="<:old mobile:>" /><:ifRequired mobile:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser mobile:>  <:error_img mobile:></td>
          </tr>
          <tr> 
            <th>facsimile: </th>
            <td> 
              <input type="text" name="facsimile" value="<:old facsimile:>" /><:ifRequired facsimile:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser facsimile:>  <:error_img facsimile:></td>
          </tr>
          <tr> 
            <th>title: </th>
            <td> 
              <input type="text" name="title" value="<:old title :>" /><:ifRequired title:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser title:>  <:error_img title:></td>
          </tr>
          <tr> 
            <th>organization: </th>
            <td> 
              <input type="text" name="organization" value="<:old organization:>" size="60" /><:ifRequired organization:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser organization:>  <:error_img organization:></td>
          </tr>
	  <tr>
	    <th colspan="2">Delivery</th>
	  </tr>
          <tr> 
            <th>First Name: </th>
            <td> 
              <input type="text" name="delivFirstName" value="<:old delivFirstName:>" size="60" /><:ifRequired delivFirstName:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser delivFirstName:>  <:error_img delivFirstName:></td>
          </tr>
          <tr> 
            <th>Last Name: </th>
            <td> 
              <input type="text" name="delivLastName" value="<:old delivLastName :>" size="60" /><:ifRequired delivLastName:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser delivLastName:>  <:error_img delivLastName:></td>
          </tr>
          <tr> 
            <th>Organization: </th>
            <td> 
              <input type="text" name="delivOrganization" value="<:old delivOrganization:>" size="60" /><:ifRequired delivOrganization:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser delivOrganization:>  <:error_img delivOrganization:></td>
          </tr>
          <tr> 
            <th>Address: </th>
            <td> 
              <input type="text" name="delivStreet" value="<:old delivStreet :>" size="60" /><:ifRequired delivStreet:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser delivStreet:>  <:error_img delivStreet:></td>
          </tr>
          <tr> 
            <th></th>
            <td> 
              <input type="text" name="delivStreet2" value="<:old delivStreet2 :>" size="60" /><:ifRequired delivStreet2:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser delivStreet2:>  <:error_img delivStreet2:></td>
          </tr>
          <tr> 
            <th>Suburb: </th>
            <td> 
              <input type="text" name="delivSuburb" value="<:old delivSuburb :>" /><:ifRequired delivSuburb:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser delivSuburb:>  <:error_img delivSuburb:></td>
          </tr>
          <tr> 
            <th>State: </th>
            <td> 
              <input type="text" name="delivState" value="<:old delivState :>" /><:ifRequired delivState:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser delivState:>  <:error_img delivState:></td>
          </tr>
          <tr> 
            <th>PostCode: </th>
            <td> 
              <input type="text" name="delivPostCode" value="<:old delivPostCode:>" /><:ifRequired delivPostCode:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser delivPostCode:>  <:error_img delivPostCode:></td>
          </tr>
          <tr> 
            <th>Country: </th>
            <td> 
              <input type="text" name="delivCountry" value="<:old delivCountry :>" /><:ifRequired delivCountry:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser delivCountry:>  <:error_img delivCountry:></td>
          </tr>
          <tr> 
            <th>instructions: </th>
            <td> 
              <input type="text" name="instructions" value="<:old instructions:>" /><:ifRequired instructions:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser instructions:>  <:error_img instructions:></td>
          </tr>
          <tr> 
            <th>Telephone: </th>
            <td> 
              <input type="text" name="delivTelephone" value="<:old delivTelephone:>" /><:ifRequired delivTelephone:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser delivTelephone:>  <:error_img delivTelephone:></td>
          </tr>
          <tr> 
            <th>Mobile: </th>
            <td> 
              <input type="text" name="delivMobile" value="<:old delivMobile:>" /><:ifRequired delivMobile:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser delivMobile:>  <:error_img delivMobile:></td>
          </tr>
          <tr> 
            <th>Facsimile: </th>
            <td> 
              <input type="text" name="delivFacsimile" value="<:old delivFacsimile :>" /><:ifRequired delivFacsimile:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser delivFacsimile:>  <:error_img delivFacsimile:></td>
          </tr>
          <tr> 
            <th>Email: </th>
            <td> 
              <input type="text" name="delivEmail" value="<:old delivEmail :>" /><:ifRequired delivEmail:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser delivEmail:>  <:error_img delivEmail:></td>
          </tr>
          <tr> 
            <th>Affiliate Name: </th>
            <td> 
              <input type="text" name="affiliate_name" value="<:old affiliate_name :>" /><:ifRequired affiliate_name:>*<:or:><:eif:>
            </td>
            <td class="help"><:help editsiteuser affiliate_name:>  <:error_img affiliate_name:></td>
          </tr>
          <tr> 
            <th>Admin Notes: </th>
            <td> 
              <textarea name="adminNotes" rows="5" cols="60"><:old adminNotes :></textarea>
            </td>
            <td class="help"><:help editsiteuser adminNotes:>  <:error_img adminNotes:></td>
          </tr>
<:if Flags:>
          <tr> 
            <th>Flags: </th>
            <td> 
	    <:iterator begin flags:>
	    <input type="checkbox" name="flags" value="<:flag id:>" /> <:flag desc:>
	    <:iterator separator flags:>
	    <br />
	    <:iterator end flags:>
            </td>
            <td class="help"><:help editsiteuser flags:>  <:error_img adminNotes:></td>
          </tr>
<:or Flags:><:eif Flags:>
<:if Subscriptions:>
          <tr> 
            <th>Subscriptions: </th>
            <td> <input type="hidden" name="checkedsubs" value="1" />
	    <:iterator begin subscriptions:>
	    <input type="checkbox" name="subscription" value="<:subscription id:>" <:ifSubscribed:>checked="checked" <:or:><:eif:>/> <:subscription name:>
	    <:iterator separator subscriptions:>
	    <br />
	    <:iterator end subscriptions:>
            </td>
            <td class="help"><:help editsiteuser subscriptions:></td>
          </tr>
<:or Subscriptions:><:eif Subscriptions:>
          <tr> 
            <td colspan="3" class="buttons"> 
              <input type="submit" name="a_add" value="  Add User  " />
            </td>
          </tr>
        </table>
</form>
