<:wrap admin/base.tmpl title=>"Site Member Files - Delete File":>
<h1>Delete Member File</h1>

<:include admin/users/inc_user_menu.tmpl:>
<:ifMessage:><div id="message"><:message:></div><:or:><:eif:>
<div id="delfile">
<form enctype="multipart/form-data" method="post" action="<:adminurl siteusers:>">
<input type="hidden" name="id" value="<:siteuser id:>" />
<input type="hidden" name="file_id" value="<:userfile id:>" />
<:csrfp admin_user_del_file hidden:>
<table class="editform editformsmall">
  <tr>
    <th>File:</th>
    <td><:userfile display_name:></td>
  </tr>
  <tr>
   <th>Content-type:</th>
   <td><:userfile content_type:></td>
  </tr>
  <tr>
   <th>Download:</th>
   <td><:ifUserfile download:>Yes<:or:>No<:eif:></td>
  </tr>
  <tr>
   <th>Category:</th>
   <td><:userfile category:></td>
  </tr>
  <tr>
    <th>Last modified:</th>
    <td>Date: <:date "%d/%m/%Y" userfile modwhen:><br />Time: <:date "%H:%M:%S" userfile modwhen:></td>
  </tr>
  <tr>
   <th>Title:</th>
   <td><:userfile title:></td>
  </tr>
  <tr>
    <th>Body:</th>
    <td><textarea name="body" rows="5" readonly="readonly"><: userfile body:></textarea><:error_img body:></td>
  </tr>
  <tr>
    <td class="buttons" colspan="2">
      <input type="submit" name="a_deluserfile" value="Delete File" />
    </td>
  </tr>
</table>
</form>
</div>
