<:wrap admin/base.tmpl title=>"Group Files - Edit File":>
<h1>Edit Group File</h1>

<:include admin/users/inc_group_menu.tmpl:>

<:ifMessage:><div id="message"><:message:></div><:or:><:eif:>
<div id="editfile">
<form enctype="multipart/form-data" method="post" action="<:adminurl siteusers:>">
<input type="hidden" name="id" value="<:group id:>" />
<input type="hidden" name="file_id" value="<:groupfile id:>" />
<:csrfp admin_group_edit_file hidden:>
<table class="editform editformsmall">
  <tr>
    <th>File:</th>
    <td><input type="file" name="file" /><:error_img file:>
<br />Currently: <:groupfile display_name:></td>
  </tr>
  <tr>
   <th>Content-type:</th>
   <td><input type="text" name="content_type" value="<:old content_type groupfile content_type:>" /><:error_img content_type:></td>
  </tr>
  <tr>
   <th>Download:</th>
   <td><input type="checkbox" name="download" <:if Cgi a_savegroupfile:><:ifOld download:>checked="checked" <:or:><:eif:><:or Cgi:><:ifGroupfile download:>checked="checked" <:or:><:eif:><:eif Cgi:>/><:error_img download:></td>
  </tr>
  <tr>
   <th>Category:</th>
   <td><:userfile_category:><:error_img category:></td>
  </tr>
  <tr>
    <th>Last modified:</th>
    <td>Date: <input type="text" name="modwhen_date" value="<:old modwhen_date date "%d/%m/%Y" groupfile modwhen:>" size="10" /><:error_img modwhen_date:> dd/mm/yyyy<br />Time: <input type="text" name="modwhen_time" value="<:old modwhen_time date "%H:%M:%S" groupfile modwhen:>" size="10" /><:error_img modwhen_time:> HH:MM:SS</td>
  </tr>
  <tr>
   <th>Title:</th>
   <td><input type="text" name="title" value="<:old title groupfile title:>" class="wide" /><:error_img title:></td>
  </tr>
  <tr>
    <th>Body:</th>
    <td><textarea name="body" rows="5"><:old body groupfile body:></textarea><:error_img body:></td>
  </tr>
  <tr>
    <td class="buttons" colspan="2">
      <input type="submit" name="a_savegroupfile" value="Save File" />
    </td>
  </tr>
</table>
</form>
</div>
