<:wrap admin/base.tmpl title=>"Site Member Files":>
<h1>Site Member Files</h1>
<:include admin/users/inc_user_menu.tmpl:>
<p>| <:ifUserCan bse_members_user_add_file:><a href="/cgi-bin/admin/siteusers.pl?a_adduserfileform=1&amp;id=<:siteuser id:>">Add a file</a> |<:or:><:eif:>
<a href="<:script:>?a_fileaccesslog=1&amp;siteuser_id=<:siteuser id:>">Files downloaded by <:siteuser userId:></a> |
</p>

<:ifMessage:><div id="message"><:message:></div><:or:><:eif:>
<div id="filelist">
<table class="editform">
<tr>
  <th>Filename</th>
  <th>Content Type</th>
  <th>Size</th>
  <th>Category</th>
  <th>Last Modified</th>
  <th>Title</th>
  <th>Body (partial)</th>
  <th></th>
</tr>
<:if Userfiles:>
  <:iterator begin userfiles:>
  <tr>
    <td><:userfile display_name:></td>
    <td><:userfile content_type:></td>
    <td><:kb userfile size_in_bytes:>b</td>
    <td><:userfile category:></td>
    <td><:date userfile modwhen:></td>
    <td><:userfile title:></td>
    <td><:replace [userfile body] ^([\w\W]{25})[\w\W]+ "$1 ...":></td>
    <td><a href="<:script:>?a_deluserfileform=1&amp;id=<:siteuser id:>&amp;file_id=<:userfile id:>">Delete</a> <a href="<:script:>?a_edituserfile=1&amp;id=<:siteuser id:>&amp;file_id=<:userfile id:>">Edit</a> <a href="<:script:>?a_fileaccesslog=1&amp;file_id=<:userfile id:>">Downloads</a></td>
  </tr>
  <:iterator end userfiles:>
<:or Userfiles:>
<tr><td colspan="8">There are no files attached to this user</td></tr>
<:eif Userfiles:>
</table>
</div>
