<:wrap admin/base.tmpl title=>"Edit Member Group":>
<h2>Add Member Group</h2>
<:include admin/users/inc_group_menu.tmpl:>
<:ifMsg:><p><:msg:></p><:or:><:eif:>

<form method="post" action="<:script:>" name="editgroup">
<input type="hidden" name="id" value="<:group id:>" />
<table>
<tr>
  <th>Group Name:</th>
  <td><input type="text" name="name" value="<:old name group name:>" /></td>
  <td><:error_img name:></td>
</tr>
<tr>
  <td colspan="2"><input type="submit" name="a_savegroup" value="Save Group" /></td>
  <td>&nbsp;</td>
</tr>
</table>
</form>