<:wrap admin/base.tmpl title=>"Group Members":>
<h1>Group Members: <:group name:></h1>
<:include admin/users/inc_group_menu.tmpl:>
<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:> 

<form method="post" action="<:script:>">
<input type="hidden" name="id" value="<:group id:>" />
<table>
  <tr> 
            <th> Logon</th>
            <th> First Name</th>
            <th> Last Name</th>
	    <th>Member</th>
          </tr>
          <:if Siteusers:> <: iterator begin siteusers :> 
          <tr> 
            <td> <a href="<:script:>?a_edit=1&amp;id=<:siteuser id:>"><:siteuser userId:></a></td>
            <td><:siteuser name1:></td>
            <td><:siteuser name2:></td>
            <td><input type="hidden" name="set_is_member" value="<:siteuser id:>" /><input type="checkbox" name="is_member" value="<:siteuser id:>" <:ifMember:>checked="checked"<:or:><:eif:> /></td>
          </tr>
          <: iterator end siteusers :> 
  <tr>
   <td colspan="4" class="buttons"><input type="submit" name="a_savegroupmembers" value="Save Group Membership" /></td>
  </tr>
          <:or Siteusers:> 
          <tr> 
            <td colspan="4" class="tablenote">Your system has no users.</td>
          </tr>
          <:eif Siteusers:> 
</table>
</form>

