<:wrap admin/xbase.tmpl title=>"Admin Site Members":>
<h1>Admin Site Members</h1>
<p>
| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> | <a href="<:script:>?a_grouplist=1">Groups</a> |
<:if UserCan siteuser_add :>
<a href="<:script:>?a_addform=1">Add Member</a> |<:or UserCan:><:eif UserCan:>
<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:> 

<p>Page <:siteusers_pagenum:> of <:siteusers_pagecount:>
<:ifFirstSiteusersPage:>&lt;&lt;&lt;&lt; &lt;&lt;<:or:><a href="<:script:>?s=<:sortby:>&r=<:reverse:>&p=1&pp=<:siteusers_perpage:>">&lt;&lt;&lt;&lt;</a> <a href="<:script:>?s=<:sortby:>&r=<:reverse:>&p=<:prevSiteusersPage:>&pp=<:siteusers_perpage:>">&lt;&lt;</a><:eif:>
<:iterator begin repeats [siteusers_pagecount]:>
<:if Eq [repeat value] [siteusers_pagenum]:><:repeat value:><:or Eq:><a href="<:script:>?s=<:sortby:>&r=<:reverse:>&p=<:repeat value:>&pp=<:siteusers_perpage:>"><:repeat value:></a><:eif Eq:>
<:iterator end repeats:>
<:ifLastSiteusersPage:>&gt;&gt; &gt;&gt;&gt;&gt;<:or:><a href="<:script:>?s=<:sortby:>&r=<:reverse:>&p=<:nextSiteusersPage:>&pp=<:siteusers_perpage:>">&gt;&gt;</a> <a href="<:script:>?s=<:sortby:>&r=<:reverse:>&p=<:siteusers_pagecount:>&pp=<:siteusers_perpage:>">&gt;&gt;&gt;&gt;</a><:eif:>
</p>
<form method="get" action="<:script:>" id="search">
        <table cellpadding="2" border="0" cellspacing="1">
          <tr> 
            <th bgcolor="#FFFFFF" nowrap> <a href="<:script:>?<:sorthelp id:>&p=<:siteusers_pagenum:>&pp=<:siteusers_perpage:>">Id</a></th>
            <th bgcolor="#FFFFFF" nowrap> <a href="<:script:>?<:sorthelp userId:>&p=<:siteusers_pagenum:>&pp=<:siteusers_perpage:>">Logon</a></th>
            <th bgcolor="#FFFFFF" nowrap> <a href="<:script:>?<:sorthelp name1:>&p=<:siteusers_pagenum:>&pp=<:siteusers_perpage:>">First Name</a></th>
            <th bgcolor="#FFFFFF" nowrap> <a href="<:script:>?<:sorthelp name2:>&p=<:siteusers_pagenum:>&pp=<:siteusers_perpage:>">Last Name</a></th>
          </tr>
          <tr class="inline_form">
            <td><input type="text" name="id" size="4" id="id" value="<:cgi id:>" class="inline" /></td>
            <td><input type="text" name="userId" size="10" id="userId" value="<:cgi userId:>" class="inline" /></td>
            <td><input type="text" name="name1" size="20" id="name1" value="<:cgi name1:>" class="inline" /></td>
            <td><input type="text" name="name2" size="20" id="name2" value="<:cgi name2:>" class="inline" /></td>
	    <td><input type="submit" value="Filter" /></td>
          </tr>
<div id="results">
<:include admin/users/list_low.tmpl:>
</div>
        </table>
</form>
<:if And "0" [ifAjax]:>
<script>
function do_search () {
     var f = $('search');
     var par = '_t=low&id=' + encodeURIComponent(f.elements['id'].value);
     par = par + '&userId=' + encodeURIComponent(f.elements['userId'].value);
     par = par + '&name1=' + encodeURIComponent(f.elements['name1'].value);
     par = par + '&name2=' + encodeURIComponent(f.elements['name2'].value);
     var updater = new Ajax.Updater(
       'results',
       '/cgi-bin/admin/siteusers.pl',
       {
	method: 'get',
	parameters: par,
        asynchronous: true
       });
}
new Form.Element.Observer($('id'), 1.5, 
   function(term) {
     do_search();
   }
);
new Form.Element.Observer($('userId'), 1.5, 
   function(term) {
     do_search();
   }
);
new Form.Element.Observer($('name1'), 1.5, 
   function(term) {
     do_search();
   }
);
new Form.Element.Observer($('name2'), 1.5, 
   function(term) {
     do_search();
   }
);
</script>
<:or And:><:eif And:>
