<:wrap admin/base.tmpl title=>"Admin Site Members" js => "admin_siteusers.js":>
<h1>Admin Site Members</h1>
<p>
| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> | <a href="<:script:>?a_grouplist=1">Groups</a> |
<:if UserCan bse_members_user_add :>
<a href="<:script:>?a_addform=1">Add Member</a> |<:or UserCan:><:eif UserCan:>
</p>
<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:> 

<form method="get" action="<:script:>" id="search">
<table class="siteusers">
  <tr>
            <th class="col_id"> <a href="<:script:>?<:sorthelp id:>&amp;p=<:siteusers_pagenum:>&amp;pp=<:siteusers_perpage:>&amp;<:search_param:>">Id</a></th>
            <th class="col_userid"> <a href="<:script:>?<:sorthelp userId:>&amp;p=<:siteusers_pagenum:>&amp;pp=<:siteusers_perpage:>&amp;<:search_param:>">Logon</a></th>
            <th class="col_name1"> <a href="<:script:>?<:sorthelp name1:>&amp;p=<:siteusers_pagenum:>&amp;pp=<:siteusers_perpage:>&amp;<:search_param:>">First Name</a></th>
            <th class="col_name2"> <a href="<:script:>?<:sorthelp name2:>&amp;p=<:siteusers_pagenum:>&amp;pp=<:siteusers_perpage:>&amp;<:search_param:>">Last Name</a></th>
	    <th>&nbsp;</th>
          </tr>
          <tr class="inline_form">
            <td class="col_id"><input type="text" name="id" size="6" id="id" value="<:cgi id:>" class="inline" /></td>
            <td class="col_userid"><input type="text" name="userId" size="20" id="userId" value="<:cgi userId:>" class="inline" /></td>
            <td class="col_name1"><input type="text" name="name1" size="40" id="name1" value="<:cgi name1:>" class="inline" /></td>
            <td class="col_name2"><input type="text" name="name2" size="40" id="name2" value="<:cgi name2:>" class="inline" /></td>
	    <td><input type="submit" value="Filter" /></td>
          </tr>
<:ifAjax:></table><div id="results"><:or:><:eif:>
<:include admin/users/list_low.tmpl:>
</div>
</form>

