<:wrap admin/xbase.tmpl title=>"Site Member Activity":>
<h1>Site Member Activity</h1>
<p>
| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> |
<a href="/cgi-bin/admin/siteusers.pl">Site Members</a> |
<a href="mailto:<:siteuser email:>">Email</a> |
<:ifUserCan bse_members_user_edit:><a href="/cgi-bin/admin/siteusers.pl?a_edit=1&amp;id=<:siteuser id:>">Edit User</a> |<:or:><:eif:>
<a href="/cgi-bin/admin/siteusers.pl?a_view=1&amp;id=<:siteuser id:>">User Details</a> |
<a href="/cgi-bin/admin/siteusers.pl?a_view=1&amp;id=<:siteuser id:>&amp;_t=orders">Orders</a> |</p>

<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:> 

<table class="editform">
<:include admin/include/audithead.tmpl:>
<:iterator begin auditlog actor_id [siteuser id] actor_type M:>
<:include admin/include/auditentry.tmpl:>
<:iterator end auditlog:>
</table>
