<:wrap admin/base.tmpl title=>[cat "Member Seminar Bookings for: " [siteuser userId]], showtitle => 1:>
<p>
| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> |
<a href="/cgi-bin/admin/siteusers.pl">Site Members</a> |
<a href="mailto:<:siteuser email:>">Email</a> |
<:ifUserCan bse_members_user_edit:><a href="/cgi-bin/admin/siteusers.pl?a_edit=1&amp;id=<:siteuser id:>">Edit User</a> |<:or:><:eif:>
<a href="/cgi-bin/admin/siteusers.pl?a_view=1&amp;id=<:siteuser id:>">User Details</a> |
<a href="/cgi-bin/admin/siteusers.pl?a_view=1&amp;id=<:siteuser id:>&amp;_t=orders">Orders</a> |</p>

<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:> 

      <table class="editform sembookings">
        <tr> 
          <th class="col_id">Id</th>
          <th class="col_seminar">Seminar</th>
          <th class="col_location">Location</th>
          <th class="col_time">Time</th>
          <th class="col_date">Date</th>
        </tr>
<:if Bookings:>
        <:iterator begin bookings:> 
        <tr> 
          <td class="col_id"><a href="/cgi-bin/admin/add.pl?id=<:booking seminar_id:>"><:booking 
            seminar_id:></a></td>
          <td class="col_seminar"><:booking title:></td>
          <td class="col_location"><a href="/cgi-bin/admin/admin_seminar.pl?a_locview=1&amp;id=<:booking location_id:>"><:booking loc_description:></a></td>
          <td class="col_time"><:date "%I:%M %p" booking when_at:></td>
          <td class="col_date"><:date booking when_at:></td>
          <td class="col_tools">
            <a href="/cgi-bin/admin/admin_seminar.pl?a_cancelbookingconfirm=1&amp;id=<:booking booking_id:>">Cancel</a>
            <a href="/cgi-bin/admin/admin_seminar.pl?a_editbooking=1&amp;id=<:booking booking_id:>">Edit</a>
          </td>
        </tr>
        <:iterator end bookings:> 
<:or Bookings:>
        <tr>
          <td colspan="5" class="tablenote">No bookings found</td>
        </tr>
<:eif Bookings:>
      </table>
