<:wrap admin/base.tmpl title=> [concatenate "View Member: " [siteuser userId]], showtitle=>1:>
<p>
| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> |
<a href="/cgi-bin/admin/siteusers.pl">Site Members</a> |
<a href="mailto:<:siteuser email:>">Email</a>
<:ifUserorders:>| <a href="/cgi-bin/admin/siteusers.pl?a_edit=1&amp;id=<:siteuser id:>&amp;_t=orders">Orders</a><:or:><:eif:> |
<a href="/cgi-bin/admin/admin_seminar.pl?a_addattendseminar=1&amp;siteuser_id=<:siteuser id:>">Add to seminar</a> |
<a href="/cgi-bin/admin/siteusers.pl?a_view=1&amp;id=<:siteuser id:>&amp;_t=bookings">Seminar Bookings</a> |
<a href="<:script:>?a_edit=1&amp;id=<:siteuser id:>&amp;_t=groups">Groups</a> |
</p>

<:ifMessage:>
<p><b><:message:></b></p>
<:or:><:eif:> 

        <table cellpadding="6" border="0" cellspacing="1">
<:ifCfg "site users" nopassword:><:or:>
          <tr> 
            <th>Logon: </th>
            <td> 
	      <:siteuser userId:>
            </td>
            <td class="help"><:help editsiteuser userId:></td>
          </tr>
<:eif:>
          <tr> 
            <th>Email: </th>
            <td> 
              <a href="mailto:<:siteuser email:>"><:siteuser email:></a> (<:ifSiteuser confirmed:>confirmed<:or:><:if UserCan bse_members_confirm:><a href="<:script:>?a_view=1&amp;id=<:siteuser id:>&amp;_t=confirm&amp;r=<:script:>%3Fa_view=1%26id=<:siteuser id:>">unconfirmed</a><:or UserCan:>unconfirmed<:eif UserCan:><:eif:>)
            </td>
            <td class="help"><:help editsiteuser email:></td>
          </tr>
          <tr> 
            <th>Disabled: </th>
            <td> 
              <:ifSiteuser disabled:>User disabled<:or:>User enabled<:eif:>
            </td>
            <td class="help"><:help editsiteuser disabled:></td>
          </tr>
          <tr> 
            <th>First Name: </th>
            <td> 
              <:siteuser name1:>
            </td>
            <td class="help"><:help editsiteuser name1:></td>
          </tr>
          <tr> 
            <th>Last Name: </th>
            <td> 
              <:siteuser name2:>
            </td>
            <td class="help"><:help editsiteuser name2:></td>
          </tr>
          <tr> 
            <th>address: </th>
            <td> 
              <:siteuser address:>
            </td>
            <td class="help"><:help editsiteuser address:></td>
          </tr>
          <tr> 
            <th>city: </th>
            <td> 
              <:siteuser city:>
            </td>
            <td class="help"><:help editsiteuser city:></td>
          </tr>
          <tr> 
            <th>state: </th>
            <td> 
              <:siteuser state:>
            </td>
            <td class="help"><:help editsiteuser state:></td>
          </tr>
          <tr> 
            <th>postcode: </th>
            <td> 
              <:siteuser postcode:>
            </td>
            <td class="help"><:help editsiteuser postcode:></td>
          </tr>
          <tr> 
            <th>telephone: </th>
            <td> 
              <:siteuser telephone:>
            </td>
            <td class="help"><:help editsiteuser telephone:></td>
          </tr>
          <tr> 
            <th>mobile: </th>
            <td> 
              <:siteuser delivMobile:>
            </td>
            <td class="help"><:help editsiteuser delivMobile:></td>
          </tr>
          <tr> 
            <th>facsimile: </th>
            <td> 
              <:siteuser facsimile:>
            </td>
            <td class="help"><:help editsiteuser facsimile:></td>
          </tr>
          <tr> 
            <th>country: </th>
            <td> 
              <:siteuser country:>
            </td>
            <td class="help"><:help editsiteuser country:></td>
          </tr>
          <tr> 
            <th>title: </th>
            <td> 
              <:siteuser title:>
            </td>
            <td class="help"><:help editsiteuser title:></td>
          </tr>
          <tr> 
            <th>organization: </th>
            <td> 
              <:siteuser organization:>
            </td>
            <td class="help"><:help editsiteuser organization:></td>
          </tr>
          <tr> 
            <th>billFirstName: </th>
            <td> 
              <:siteuser billFirstName:>
            </td>
            <td class="help"><:help editsiteuser billFirstName:></td>
          </tr>
          <tr> 
            <th>billLastName: </th>
            <td> 
              <:siteuser billLastName:>
            </td>
            <td class="help"><:help editsiteuser billLastName:></td>
          </tr>
          <tr> 
            <th>billStreet: </th>
            <td> 
              <:siteuser billStreet:>
            </td>
            <td class="help"><:help editsiteuser billStreet:></td>
          </tr>
          <tr> 
            <th>billSuburb: </th>
            <td> 
              <:siteuser billSuburb:>
            </td>
            <td class="help"><:help editsiteuser billSuburb:></td>
          </tr>
          <tr> 
            <th>billState: </th>
            <td> 
              <:siteuser billState:>
            </td>
            <td class="help"><:help editsiteuser billState:></td>
          </tr>
          <tr> 
            <th>billPostCode: </th>
            <td> 
              <:siteuser billPostCode:>
            </td>
            <td class="help"><:help editsiteuser billPostCode:></td>
          </tr>
          <tr> 
            <th>billCountry: </th>
            <td> 
              <:siteuser billCountry:>
            </td>
            <td class="help"><:help editsiteuser billCountry:></td>
          </tr>
          <tr> 
            <th>instructions: </th>
            <td> 
              <:siteuser instructions:>
            </td>
            <td class="help"><:help editsiteuser instructions:></td>
          </tr>
          <tr> 
            <th>billTelephone: </th>
            <td> 
              <:siteuser billTelephone:>
            </td>
            <td class="help"><:help editsiteuser billTelephone:></td>
          </tr>
          <tr> 
            <th>billMobile: </th>
            <td> 
              <:siteuser billMobile:>
            </td>
            <td class="help"><:help editsiteuser billMobile:></td>
          </tr>
          <tr> 
            <th>billFacsimile: </th>
            <td> 
              <:siteuser billFacsimile:>
            </td>
            <td class="help"><:help editsiteuser billFacsimile:></td>
          </tr>
          <tr> 
            <th>billEmail: </th>
            <td> 
              <:siteuser billEmail:>
            </td>
            <td class="help"><:help editsiteuser billEmail:></td>
          </tr>
          <tr> 
            <th>Affiliate Name: </th>
            <td> 
              <:siteuser affiliate_name:>
            </td>
            <td class="help"><:help editsiteuser affiliate_name:></td>
          </tr>
          <tr> 
            <th>Admin Notes: </th>
            <td> 
              <textarea name="adminNotes" rows="5" cols="60" readonly="readonly"><:siteuser adminNotes:></textarea>
            </td>
            <td class="help"><:help editsiteuser adminNotes:></td>
          </tr>
<:if Flags:>
          <tr> 
            <th>Flags: </th>
            <td>
	    <:iterator begin flags:>
	    <img src="/images/admin/<:ifFlagSet [flag id]:>checked.gif<:or:>unchecked.gif<:eif:>" /> <:flag desc:>
	    <:iterator separator flags:>
	    <br />
	    <:iterator end flags:>
            </td>
            <td class="help"><:help editsiteuser flags:></td>
          </tr>
<:or Flags:><:eif Flags:>
<:if Subscriptions:>
          <tr> 
            <th>Subscriptions: </th>
            <td>
	    <:iterator begin subscriptions:>
	    <img src="/images/admin/<:ifSubscribed:>checked.gif<:or:>unchecked.gif<:eif:>" /> <:subscription name:>
	    <:iterator separator subscriptions:>
	    <br />
	    <:iterator end subscriptions:>
            </td>
            <td class="help"><:help editsiteuser subscriptions:></td>
          </tr>
<:or Subscriptions:><:eif Subscriptions:>
<:iterator begin imagetemplates:>
          <tr> 
            <th> <:imagetemplate description:>: </th>
            <td> 
              Alt: <:siteuser_image [imagetemplate id] alt:><br />
	<:ifSiteuser_image [imagetemplate id]:><br /><img src="<:siteuser_image [imagetemplate id] url:>" /><:or:><:eif:>
              </td>
            <td class="help"><:help editsiteuser images:></td>
          </tr>
<:iterator end imagetemplates:>
<:include admin/users/custom_view.tmpl optional:>
        </table>
