<html>
<head>
<title><:siteName:> - <:article title:></title>
<meta name="ROBOTS" content="ALL">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Expires" content="Thu, 01 Jan 1970 00:00:00 GMT">
<link rel="stylesheet" href="/css/style-main.css">
</head>
<body bgcolor="#FFFFCC" text="#000000" link="#333399" vlink="#333399" alink="#CC0033">

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td bgcolor="#CCCCFF" width="80%" height="24">&nbsp;&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="4"><b><:title:></b></font></td>
    <td height="24">&nbsp;</td>
  </tr>
  <tr> 
    <td bgcolor="#999999" colspan="2" height="1"><img src="/images/trans_pixel.gif" width="24" height="1" border="0"></td>
  </tr>
  <tr> 
    <td colspan="2"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="100"><img src="/images/trans_pixel.gif" width="100" height="10" border="0"></td>
          <td bgcolor="#333399" width="100%">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2">/ 
            <a href="<:ifAdmin:>/cgi-bin/admin/admin.pl?id=1<:or:>/<:eif:>"><font color="#FFFFFF">Home</font></a> 
            / <:iterator begin crumbs:> <a href="<:url crumbs:>"><font color="#FFFFFF"><:crumbs 
            title:></font></a> / <:iterator end crumbs:></font></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br>
<table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#FFFF99">
  <tr> <:iterator begin level1:> 
    <td align="center"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><a href="<:url level1:>"><:level1 
      title:></a></font></b></td>
    <:iterator end level1:> </tr>
</table>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><:body:></font></p>
<:if UnderThreshold:><:iterator begin children:><:embed child:><:iterator 
separator children:><br>
<:iterator end children:> <:or UnderThreshold:> <:iterator begin children:> 
<p><a href="<:url child:>"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="3"><:child 
  title:></font></b></a><br>
  <:if Child summaryLength:><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><:summary:></font><:or 
  Child:><:eif Child:></p>
<:iterator separator children:><:iterator end children:><:eif UnderThreshold:> 
<hr noshade size="1">
<div align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="1">bse 
  content engine 2001</font></div>
</body>
</html>
