<:wrap admin/base.tmpl title=>"Location List":>
<h1>Location List</h1>

<:ifMessage:><p><b><:message:></b></p><:or:><:eif:>

<p>| <a href="/cgi-bin/admin/menu.pl">Admin menu</a> |<:ifUserCan bse_location_add:>
<a href="<:script:>?a_locaddform=1">Add Location</a> |<:or:><:eif:></p>

<table>
   <tr>
      <th>Description</th>
      <th>Room</th>
      <th>Street</th>
      <th>Suburb</th>
      <th>Disabled?</th>
          <th>Modify</th>
    </tr>
<:if Locations:>
<:iterator begin locations:>
    <tr>
      <td><:ilocation description:></td>
      <td><:ilocation room:></td>
      <td><:ilocation street1:> <:ilocation street2:></td>
      <td><:ilocation suburb:></td>
      <td><:ifIlocation disabled:>Disabled<:or:><:eif:></td>
      <td><:ifUserCan bse_location_edit:><a href="<:script:>?a_locedit=1&amp;id=<:ilocation id:>">Edit</a><:or:><:eif:> 
<:ifUserCan bse_location_view:><a href="<:script:>?a_locview=1&amp;id=<:ilocation id:>">View</a> <a href="<:script:>?a_locview=1&amp;id=<:ilocation id:>&amp;_t=sessions">Sessions</a><:or:><:eif:> 
<:ifAnd [ifRemovable] [ifUserCan bse_location_delete]:><a href="<:script:>?a_locdelask=1&amp;id=<:ilocation id:>">Delete</a><:or:><:eif:></td>
    </tr>
<:iterator end locations:>
<:or Locations:>
    <tr>
      <td colspan="7">You don't have any locations defined</td>
    </tr>
<:eif Locations:>
</table>
