Hi <:to_name:>,

<:from_name:> (<:from_email:>) has asked us to notify you about one of
our articles:

  <:tarticle title:>
  <:link:>

<:ifNote:>Note: <:note:>

<:or:><:eif:>Sender's IP Address: <:sender_ip:>

