<html>
<head>
<title><:switch:><:case ifEq [param title] "FORMTITLE":><:formcfg title:><:case article pageTitle:><:article pageTitle:><:case default:><:article title:><:endswitch:> - <:siteName:></title>
<meta name="ROBOTS" content="ALL">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Expires" content="Thu, 01 Jan 1970 00:00:00 GMT">
<link rel="stylesheet" href="/css/style-main.css">

</head>
<script>
var bse_image_popup;
function bse_popup_image (article_id, image_id, width, height, tag_id, image_url) {
  var url = "/cgi-bin/image.pl?id=" + article_id + "&imid=" + image_id
	+ '&comment=jspopup';
  var work_width = width + <:cfg popimage extrawidth 0:>;
  var work_height = height + <:cfg popimage extraheight 0:>;
  var features = 'width=' + work_width + ',height=' + work_height 
    + ',resizable=yes';

  // lose the old one if it exists
  if (<:cfg popimage popmiddle 0:>) {
    if (bse_image_popup != null && !bse_image_popup.closed) {
      bse_image_popup.close();
    }
    var left = window.screenX + (window.outerWidth - work_width) / 2;
    var top = window.screenY + (window.outerHeight - work_height) / 2;
    features = features + ",top=" + top + ",left=" + left;
  }
  else if (bse_image_popup != null && !bse_image_popup.closed) {
    var left = bse_image_popup.screenX;
    var top = bse_image_popup.screenY;
    features = features + ",top=" + top + ",left=" + left;
    bse_image_popup.close();
  }

  bse_image_popup = window.open(url, 'bse_image', features, 0);

  return 0;
}
</script>
<body bgcolor="#FFFFFF" text="#000000" link="#666666" vlink="#666666" alink="#FF7F00" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FF7F00">
  <tr> 
    <td width="100%" height="34">&nbsp;&nbsp;&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="2"><b>Welcome 
      to <:siteName:></b></font></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr valign="top"> 
    <td width="150"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="5" name="search" bgcolor="#EEEEEE">
        <tr align="center"> 
          <td> 
            <form name="search" method="GET" action="/cgi-bin/search.pl">
              <input type="hidden" name="s" value="">
              <input type="hidden" name="d" value="ar">
              <input type="hidden" name="m" value="0">
              <br>
              <nobr> 
              <input type="text" name="q" size="14">
              <input type="submit" value="Go" name="submit" class="user-buttons">
              <br>
              <font face="Verdana, Arial, Helvetica, sans-serif" size="-2"> Try 
              our <a href="/cgi-bin/search.pl">advanced search</a></font></nobr> 
            </form>
          </td>
        </tr>
      </table><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="/images/trans_pixel.gif" width="1" height="1" alt="spacer"></td>
              </tr>
            </table>
      <table width="150" border="0" cellspacing="0" cellpadding="0" name="nav">
        <tr> 
          <td> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td> 
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr bgcolor="#CCCCFF"> 
                      <td height="20" width="100%" nowrap bgcolor="#CCCCCC">&nbsp;<a href="<:ifAdmin:>/cgi-bin/admin/admin.pl?id=1<:or:>/<:eif:>"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Home</font></b></a></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td><img src="/images/trans_pixel.gif" width="1" height="1" alt="spacer"></td>
              </tr>
            </table>
<:if Dynamic:>
	<:iterator begin dynlevel1s:>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td> 
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <:if Ancestor dynlevel1:>
                    <tr> 
                      <td height="19" width="100%" nowrap bgcolor="#999999">&nbsp;<a href="<:url dynlevel1:>"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><:dynlevel1
                        title:></font></b></a> </td>
                    </tr>
                    <:or Ancestor:>
                    <tr> 
                      <td height="19" width="100%" nowrap bgcolor="#CCCCCC">&nbsp;<a href="<:url dynlevel1:>"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><:dynlevel1 
                        title:></font></b></a> </td>
                    </tr>
                    <:eif Ancestor:>
                  </table>
                </td>
              </tr>
              <:if Ancestor dynlevel1:>
               <tr> 
                <td>
                 <:if Dynlevel2s:> 
                  <table width="100%" border="0" cellspacing="0" cellpadding="3">
                    <:iterator begin dynlevel2s:>
                    <:ifAncestor dynlevel2:>
                     <tr> 
                      <td bgcolor="#FFFFFF"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><a href="<:url dynlevel2:>"><:dynlevel2 title:></a></font> 
                        </td>
                     </tr>
                     <:or:>
                     <tr> 
                      <td bgcolor="#EEEEEE"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><a href="<:url dynlevel2:>"><:dynlevel2 title:></a></font> 
                        </td>
                     </tr>
                     <:eif:>
                        <:iterator end dynlevel2s:>
                  </table>
            <:or Dynlevel2s:> 
            <:eif Dynlevel2s:>
                </td>
              </tr>
<:or Ancestor:>
<:eif Ancestor:>
              <tr> 
                <td><img src="/images/trans_pixel.gif" width="1" height="1" alt="spacer"></td>
              </tr>
            </table>
        <:iterator end dynlevel1s:>
<:or Dynamic:>
            <:iterator begin level1:>  
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td> 
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <:if Ancestor level1:>
                    <tr> 
                      <td height="19" width="100%" nowrap bgcolor="#999999">&nbsp;<a href="<:url level1:>"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#FFFFFF"><:level1 
                        title:></font></b></a> </td>
                    </tr>
                    <:or Ancestor:>
                    <tr> 
                      <td height="19" width="100%" nowrap bgcolor="#CCCCCC">&nbsp;<a href="<:url level1:>"><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><:level1 
                        title:></font></b></a> </td>
                    </tr>
                    <:eif Ancestor:>
                  </table>
                </td>
              </tr>
              <:if Ancestor level1:>
               <tr> 
                <td>
                 <:if Level2:> 
                  <table width="100%" border="0" cellspacing="0" cellpadding="3">
                    <:iterator begin level2:>
                    <:ifAncestor level2:>
                     <tr> 
                      <td bgcolor="#FFFFFF"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><a href="<:url level2:>"><:level2 title:></a></font> 
                        </td>
                     </tr>
                     <:or:>
                     <tr> 
                      <td bgcolor="#EEEEEE"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><a href="<:url level2:>"><:level2 title:></a></font> 
                        </td>
                     </tr>
                     <:eif:>
                        <:iterator end level2:>
                  </table>
            <:or Level2:> 
            <:eif Level2:>
                </td>
              </tr>
<:or Ancestor:>
<:eif Ancestor:>
              <tr> 
                <td><img src="/images/trans_pixel.gif" width="1" height="1" alt="spacer"></td>
              </tr>
            </table>
<:iterator separator level1:><:iterator end level1:> 
<:eif Dynamic:>
            <:embed 5:> </td>
        </tr>
      </table>
    </td>
    <td width="20"><img src="/images/trans_pixel.gif" width="20" height="5" alt="#"></td>
    <td width="100%"> <br>
      <:wrap here:>
<div align="right">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div>
    </td>
    <td width="20"><img src="/images/trans_pixel.gif" width="20" height="5" alt="#"></td>
  </tr>
  <tr valign="top"> 
    <td width="150">&nbsp;</td>
    <td colspan="2">
      <hr noshade size="1">
      <div align="right"><font face="Verdana, Arial, Helvetica, sans-serif" size="1"><:siteName:> - <a href="http://www.visualthought.com.au/">vtc&copy;2002</a></font></div>
    </td>
    <td width="20">&nbsp;</td>
  </tr>
</table>
    </body>
</html>

