<html>
<head>
<title><:siteName:> - Shopping Cart</title>
<meta name="ROBOTS" content="ALL">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Expires" content="Thu, 01 Jan 1970 00:00:00 GMT">
<link rel="stylesheet" href="/css/style-main.css">


</head>

<body bgcolor="#FFFFFF" text="#000000" link="#333399" vlink="#333399" alink="#CC0033" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr valign="top"> 
    <td width="150"><!-- #BeginLibraryItem "/Library/search.lbi" --><table width="100%" border="0" cellspacing="0" cellpadding="5" name="search">
              <tr align="center"> 
                <td> 
                  <form name="search" method="GET" action="/cgi-bin/search.pl">
                    <input type="hidden" name="s" value="">
                    <input type="hidden" name="d" value="ar">
                    <input type="hidden" name="m" value="0">
                    <br>
                    <nobr> 
                    <input type="text" name="q" size="14">
                    <input type="submit" value="Go" name="submit">
                    <br>
                    <font face="Verdana, Arial, Helvetica, sans-serif" size="-2"> 
                    Try our <a href="/cgi-bin/search.pl">advanced search</a></font></nobr> 
                  </form></td></tr>
            </table><!-- #EndLibraryItem --> <!-- #BeginLibraryItem "/Library/nav.lbi" --><table width="150" border="0" cellspacing="0" cellpadding="0" name="nav">
        <tr> 
          <td> <:iterator begin level1:> <:if Level2:> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td> 
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr bgcolor="#CCCCFF"> 
                      <td height="20" width="100%" nowrap><font class="nav_head" face="Verdana, Arial, Helvetica, sans-serif" size="-2"><b>&nbsp;<a href="<:url level1:>"><:level1 
                        title:></a></b></font></td></tr>
                  </table></td></tr>
              <tr> 
                <td> 
                  <table width="100%" border="0" cellspacing="0" cellpadding="5">
                    <tr> 
                      <td> <font class="nav_link" face="Verdana, Arial, Helvetica, sans-serif" size="-2"><:iterator 
                        begin level2:><a href="<:url level2:>"><:level2 title:></a> 
                        <:iterator separator level2:><br>
                        <img src="/images/trans_pixel.gif" width="2" height="4" border="0"><br>
                        <:iterator end level2:> </font></td></tr>
                  </table></td></tr>
            </table><:or Level2:> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td> 
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr bgcolor="#CCCCFF"> 
                      <td height="20" width="100%" nowrap><font class="nav_head" face="Verdana, Arial, Helvetica, sans-serif" size="-2"><b>&nbsp;<a href="<:url level1:>"><:level1 
                        title:></a></b></font></td></tr>
                  </table></td></tr>
            </table><br>
            <:eif Level2:><:iterator separator level1:><:iterator end level1:> 
          </td></tr>
      </table><!-- #EndLibraryItem --></td>
    <td width="100%"><font class="section_Heading" face="Verdana, Arial, Helvetica, sans-serif" size="5" color="#6600FF"><b><:title:></b></font>
      <hr noshade width="100%" size="1">
      <p><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"> | <a href="/shop/shop.html">The Shop</a> |</font></p>
      <p><font face="Arial, Helvetica, sans-serif" size="3"><b><font size="4" color="#660033">Your 
        Shopping Cart </font></b></font> <br>
        <font face="Verdana, Arial, Helvetica, sans-serif" size="-2"> <b>Contains</b> 
        - <:count:> items</font></p>
      <form name="form1" method="POST" action="/cgi-bin/shop.pl">

          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr> 
              
              <td align="center" bgcolor="#6666CC" width="100%"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF"> 
                <b>Shopping Cart Items</b></font></td>
              
            </tr>
          </table>
          <table border="0" cellspacing="0" cellpadding="1" width="100%" bgcolor="#6666CC">
            <tr valign="middle" align="center"> 
              <td width="100%"> 
                <table width="100%" border="0" cellspacing="0" cellpadding="2">
                  <tr valign="middle" align="center" bgcolor="#FFCC33"> 
                    <td width="100%" align="left" height="18"> &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><b>Item:</b></font>&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2">(All 
                      prices in AUD &#150; includes GST and shipping costs where 
                      applicable)</font></td>
                    <td nowrap height="18"> &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><b>Qty:</b></font>&nbsp;</td>
                    <td height="18"> &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><b>Price:</b></font>&nbsp;</td>
                    <td height="18">&nbsp; </td>
                  </tr>
                  <:iterator begin items:> 
                  <tr valign="middle" align="center" bgcolor="#FFFFFF"> 
                    <td width="100%" align="left"> &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><:item 
                      summary:></font></td>
                    <td nowrap bgcolor="#FFFFFF" align="center"> 
                      <input type="text" name="quantity_<:index:>" size="2" value="<:item units:>">
                    </td>
                    <td bgcolor="#FFFFFF" align="right"> <font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><b>$<:money 
                      item retailPrice:></b></font></td>
                    <td nowrap> 
                      <input type="submit" name="delete_<:index:>" value="Remove">
                    </td>
                  </tr>
                  <:iterator end items:> 
                </table>
              </td>
            </tr>
          </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr> 
              <td>&nbsp;</td>
              <td height="20">&nbsp;</td>
              <td height="20" bgcolor="#6666CC">&nbsp;</td>
              <td align="CENTER" height="20" bgcolor="#6666CC" NOWRAP><font size="2" face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF"> 
                <b>GRAND TOTAL</b></font></td>
              <td height="20" bgcolor="#6666CC">&nbsp;</td>
            </tr>
            <tr> 
              <td width="100%" valign="MIDDLE"><a href="/sp/shop.html"><img src="/images/store/browse_more.gif" width="133" height="21" border="0" alt="Browse More"></a></td>
              <td NOWRAP> 
                <table border="0" cellspacing="0" cellpadding="0">
                  <tr> 
                    <td><img src="/images/store/left_end_cap_solid.gif" width="12" height="31"></td>
                    <td bgcolor="#FFFFCC" NOWRAP valign="MIDDLE"> 
                      <input type="submit" name="recalc" value="Recalculate">
                      &nbsp; 
                      <input type="submit" name="checkout" value="Checkout">
                    </td>
                    <td><img src="/images/store/right_end_cap_solid.gif" width="12" height="31"></td>
                  </tr>
                </table>
              </td>
              <td><img src="/images/store/left_bottom_corner_line.gif" width="26" height="31"></td>
              <td align="center" bgcolor="#FFFFFF" height="100%" NOWRAP> <font size="3" face="Verdana, Arial, Helvetica, sans-serif"> 
                <b>$<:money total:></b></font></td>
              <td><img src="/images/store/right_bottom_corner_line.gif" width="26" height="31"></td>
            </tr>
            <tr> 
              <td width="100%"></td>
              <td></td>
              <td></td>
              <td bgcolor="#6666CC"><img src="/images/trans_pixel.gif" width="1" height="1"></td>
              <td></td>
            </tr>
          </table>

      </form>
    </td>
  </tr>
</table>
</body>
</html>

