<:wrap base.tmpl:> <:title section:><hr><:embed start:>

<:admin:>
<form name="ff" method="POST" action="/cgi-bin/shop.pl"> 
<table width="100%" border="0" cellspacing="0" cellpadding="0"> <tr><td align="center" bgcolor="#6666CC" width="100%"><b><font size="2" face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF">Shop 
Items Catalogue</font></b> </td></tr> 
</table><table border="0" cellspacing="0" cellpadding="1" width="100%" bgcolor="#6666CC"> 
<tr valign="middle" align="center"> <td width="100%"> 
                    <table width="100%" border="0" cellspacing="0" cellpadding="2">
                      <tr valign="middle" align="center" bgcolor="#FFCC33"> 
                        <td width="100%" align="left" height="18">&nbsp;<b><font size="-2"><font face="Verdana, Arial, Helvetica, sans-serif">Item:</font></font></b>&nbsp; 
                          <font face="Verdana, Arial, Helvetica, sans-serif" size="-2">(All 
                          prices in AUD &#150; includes GST and shipping costs 
                          where applicable)</font></td>
                        <td height="18" NOWRAP>&nbsp;<font size="-2" face="Verdana, Arial, Helvetica, sans-serif"><b>Price:&nbsp;</b></font></td>
                      </tr>
<:iterator begin products:>
                      <tr valign="middle" align="center" bgcolor="#FFFFFF"> 
                        <td width="100%" align="left" height="25">&nbsp;<a href="<:url product:>"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><:product summary:></font></a><:moveUp:><:moveDown:></td>
                        <td bgcolor="#FFFFFF" align="right" height="25"><font size="-2"><b><font face="Verdana, Arial, Helvetica, sans-serif">$<:money product retailPrice:>&nbsp;</font></b></font></td>
                      </tr>
<:iterator end products:>
                    </table>
                  </td></tr> </table><div align="RIGHT"><table border="0" cellspacing="0" cellpadding="0"><tr><td><img src="/images/store/left_bottom_corner_line.gif" width="26" height="31"></td><td align="center" bgcolor="#FFFFFF" height="100%" NOWRAP valign="MIDDLE"><input type="submit" name="button" value="View my shopping cart"> 
</td><td><img src="/images/store/right_bottom_corner_line.gif" width="26" height="31"></td></tr><tr><td></td><td bgcolor="#6666CC"><img src="/images/trans_pixel.gif" width="1" height="1"></td><td></td></tr></table></div></form>
<:embed end:>
