<:wrap base.tmpl:> <:embed start:><:admin:> <:if Embedded:><:or Embedded:> 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td width="80%" height="24">&nbsp;&nbsp;<font face="Arial, Helvetica, sans-serif" size="4" color="#FF7F00"><b><:title:></b></font></td>
    <td height="24">&nbsp;</td>
  </tr>
  <tr> 
    <td colspan="2" height="1" bgcolor="#999999"><img src="/images/trans_pixel.gif" width="24" height="1" border="0"></td>
  </tr>
  <tr> 
    <td colspan="2"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="100"><img src="/images/trans_pixel.gif" width="100" height="10" border="0"></td>
          <td bgcolor="#999999" width="100%">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2">/ 
            <a href="<:ifAdmin:>/cgi-bin/admin/admin.pl?id=1<:or:>/<:eif:>"><font color="#FFFFFF">Home</font></a> 
            / <:iterator begin crumbs:> <a href="<:url crumbs:>"><font color="#FFFFFF"><:crumbs 
            title:></font></a> / <:iterator end crumbs:></font></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<:eif Embedded:> <:ifArticle body:> 
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><:body:></font></p>
<:or:><:eif:>
<form name="ff" method="POST" action="/cgi-bin/shop.pl">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td align="center" bgcolor="#CCCCCC" width="100%" height="18"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
        <b><:title section:> - Catalogue Items</b></font></td>
    </tr>
  </table>
  <table border="0" cellspacing="1" cellpadding="0" width="100%" bgcolor="#666666">
    <tr valign="middle" align="center"> 
      <td width="100%"> 
        <table width="100%" border="0" cellspacing="1" cellpadding="2" bgcolor="#EEEEEE">
          <tr valign="middle" align="center" bgcolor="#666666"> 
            <td width="100%" align="left" height="18"> &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2" color="#FFFFFF"><b>Item:</b></font>&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2" color="#FFFFFF">(All 
              prices in AUD &#150; includes GST and shipping costs where applicable)</font></td>
            <td height="18"> &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2" color="#FFFFFF"><b>Price:</b></font>&nbsp;</td>
<:ifCfg shop order_from_catalog:>
	  <td><font face="Verdana, Arial, Helvetica, sans-serif" size="-2" color="#FFFFFF"><b>Qty:</b></font></td>
<:or:><:eif:>
          </tr>
<:if Dynamic:>
          <:iterator begin dynallprods:> 
          <tr valign="middle" align="center" bgcolor="#FFFFFF"> 
            <td width="100%" align="left"> &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><a href="<:url dynallprod:>"><:ifDynallprod description:><:dynallprod 
              description:><:or:><:dynallprod title:><:eif:></a></font> <:dynmoveallprod:></td>
<:if Dynallprod retailPrice:>
            <td align="right"> <font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><b>$<:money price dynallprod:></b></font></td>
<:ifAnd [cfg shop order_from_catalog] [ifEq [ifDynAnyProductOptions dynallprod] "0"]:>
<td nowrap="nowrap"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><input type="text" name="qty<:dynallprod id:>" size="4" /><input type="image" src="/images/store/quick_add.gif" alt="+" name="a_addsingle<:dynallprod id:>" /></font></td>
<:or:><:eif:>
<:or Dynallprod:>
            <td align="center"> <font face="Verdana, Arial, Helvetica, sans-serif" size="-2" color="#999999"><b>TBA</b></font></td>
<:eif Dynallprod:>
          </tr>

          <:iterator end dynallprods:> 
<:or Dynamic:>
          <:iterator begin allprods:> 
          <tr valign="middle" align="center" bgcolor="#FFFFFF"> 
            <td width="100%" align="left"> &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><a href="<:url allprod:>"><:ifAllprod description:><:allprod 
              description:><:or:><:allprod title:><:eif:></a></font> <:moveallprod:></td>
<:if Allprod retailPrice:>
            <td align="right"> <font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><b>$<:money allprod retailPrice:></b></font></td>
<:ifAnd [cfg shop order_from_catalog] [ifEq [ifAnyProductOptions allprod] "0"]:>
<td nowrap="nowrap"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><input type="text" name="qty<:allprod id:>" size="4" /><input type="image" src="/images/store/quick_add.gif" alt="+" name="a_addsingle<:allprod id:>" /></font></td>
<:or:><:eif:>
<:or Allprod:>
            <td align="center"> <font face="Verdana, Arial, Helvetica, sans-serif" size="-2" color="#999999"><b>TBA</b></font></td>
<:eif Allprod:>
          </tr>

          <:iterator end allprods:> 
<:eif Dynamic:>
<:ifCfg shop order_from_catalog:>
<tr>
  <td colspan="3" align="right" bgcolor="#FFFFFF"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><input type="submit" name="a_addmultiple" value="Add" /></font></td>
</tr>
<:or:><:eif:>
        </table>
      </td>
    </tr>
  </table>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td width="100%">&nbsp;</td>
      <td align="right"> 
        <table border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td><img src="/images/store/left_bottom_corner_line.gif" width="26" height="31"></td>
            <td align="center" bgcolor="#FFFFFF" height="100%" NOWRAP valign="MIDDLE"> 
              <input type="submit" name="button" value="View my shopping cart">
            </td>
            <td><img src="/images/store/right_bottom_corner_line.gif" width="26" height="31"></td>
          </tr>
          <tr> 
            <td></td>
            <td bgcolor="#666666"><img src="/images/trans_pixel.gif" width="1" height="1"></td>
            <td></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>
<:embed end:>