<html>
<head>
<META HTTP-EQUIV="Refresh" CONTENT="0; URL=https://shop.venuetech.com.au/cgi-bin/merchant/payment_gateway.pl?a_show&f_purchaseId=<:order id:>&f_purchaseNumber=<:order randomId:>&f_amount=<:money order total:>&f_gateway=YYYYY&f_caller=203.25.81.87">
</head>
<body>Transferring you to our payment gateway...</body></html>
