<:wrap base.tmpl:> 
<script language="JavaScript">
<!--
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_validateForm() { //v4.0
  var i,p,q,nm,test,num,min,max,errors='',args=MM_validateForm.arguments;
  for (i=0; i<(args.length-2); i+=3) { test=args[i+2]; val=MM_findObj(args[i]);
    if (val) { nm=val.name; if ((val=val.value)!="") {
      if (test.indexOf('isEmail')!=-1) { p=val.indexOf('@');
        if (p<1 || p==(val.length-1)) errors+='- '+nm+' must contain an e-mail address.\n';
      } else if (test!='R') {
        if (isNaN(val)) errors+='- '+nm+' must contain a number.\n';
        if (test.indexOf('inRange') != -1) { p=test.indexOf(':');
          min=test.substring(8,p); max=test.substring(p+1);
          if (val<min || max<val) errors+='- '+nm+' must contain a number between '+min+' and '+max+'.\n';
    } } } else if (test.charAt(0) == 'R') errors += '- '+nm+' is required.\n'; }
  } if (errors) alert('The following error(s) occurred:\n'+errors);
  document.MM_returnValue = (errors == '');
}

function BSE_validateForm {
  var typeEl = MM_findObj('paymentType');
  var type = typeEl.value;
  if (type == 0) {
    MM_validateForm('delivFirstName','','R','delivLastName','','R','delivStreet','','R','delivSuburb','','R','delivPostCode','','R','delivState','','R','delivCountry','','R','emailAddress','','RisEmail','cardHolder','','R','cardNumber','','R','cardExpiry','','R');
  }
  else {
    MM_validateForm('delivFirstName','','R','delivLastName','','R','delivStreet','','R','delivSuburb','','R','delivPostCode','','R','delivState','','R','delivCountry','','R','emailAddress','','RisEmail');
  }
}

//-->
</script>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="80%" height="24">&nbsp;&nbsp;<font face="Arial, Helvetica, sans-serif" size="4" color="#FF7F00"><b><:title:></b></font></td>
    <td height="24">&nbsp;</td>
  </tr>
  <tr> 
    <td bgcolor="#999999" colspan="2" height="1"><img src="/images/trans_pixel.gif" width="24" height="1" border="0"></td>
  </tr>
  <tr> 
    <td colspan="2"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="100"><img src="/images/trans_pixel.gif" width="100" height="10" border="0"></td>
          <td bgcolor="#999999" width="100%">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2">/ 
            <a href="<:ifAdmin:>/cgi-bin/admin/admin.pl?id=1<:or:>/<:eif:>"><font color="#FFFFFF">Home</font></a> 
            / <a href="/shop/index.html"><font color="#FFFFFF"><:article title:></font></a> 
            /</font></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<p> <b><font face="Verdana, Arial, Helvetica, sans-serif" size="3"> Thank you 
  for shopping at <:siteName:></font></b></p>
<font class="article_body_text" face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
<p> The <:siteName:> store is run on a secure encrypted server, your details are 
  safe with us.<br>
</p>
</font> 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td align="center" bgcolor="#CCCCCC" width="100%" height="18"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
      <b>Shopping Cart Items</b></font></td>
  </tr>
</table>
<table border="0" cellspacing="0" cellpadding="1" width="100%" bgcolor="#666666">
  <tr valign="middle" align="center"> 
    <td width="100%"> 
      <table width="100%" border="0" cellspacing="1" cellpadding="2" bgcolor="#EEEEEE">
        <tr valign="middle" align="center" bgcolor="#666666"> 
          <td width="100%" align="left" height="18"> &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2" color="#FFFFFF"><b>Item:</b></font>&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2" color="#FFFFFF">(All 
            prices in AUD &#150; includes GST and shipping costs where applicable)</font></td>
          <td nowrap height="18"> &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2" color="#FFFFFF"><b>Qty:</b></font>&nbsp;</td>
          <td height="18"> &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2" color="#FFFFFF"><b>Price:</b></font>&nbsp;</td>
        </tr>
        <:iterator begin items:> 
        <tr valign="middle" align="center" bgcolor="#FFFFFF"> 
          <td width="100%" align="left"> &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><a href="<:item link:>"><:item 
            description:>  <:options:></a><:ifItem session_id:>(session at <:location description:> <:date "%H:%M %d/%m/%Y" session when_at:>)<:or:><:eif:></font></td>
          <td nowrap align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><:item 
            units:></font></td>
          <td align="right"> <font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><b>$<: 
            money item price :></b></font></td>
        </tr>
        <:iterator end items:> 
        <:if Shipping_cost:>
        <tr valign="middle" align="center" bgcolor="#FFFFFF"> 
          <td colspan=2 width="100%" align="left">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Shipping charges (for <:shipping_method:><:if Delivery_in:>, delivery in <:delivery_in:> days<:or Delivery_in:><:eif Delivery_in:>)</font></td>
          <td align="right"> <font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><b>$<:money shipping_cost:></b></font></td>
        </tr>
        <:or Shipping_cost:><:eif Shipping_cost:>
        <:if Eq [shipping_name] contact:>
        <tr valign="middle" align="center" bgcolor="#FFFFFF"> 
          <td colspan=2 width="100%" align="left">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Shipping charges to be determined later</font></td>
          <td align="right"> <font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><b>$X.XX</b></font></td>
        </tr>
        <:or Eq:><:eif Eq:>
      </table>
    </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">   
  <tr> 
    <td>&nbsp;</td>
    <td height="20">&nbsp;</td>
    <td height="20" bgcolor="#666666">&nbsp;</td>
    <td align="CENTER" height="20" bgcolor="#666666" NOWRAP><font size="2" face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF"> 
      <b>GRAND TOTAL</b></font></td>
    <td height="20" bgcolor="#666666">&nbsp;</td>
  </tr>
  <tr> 
    <td width="50%" valign="MIDDLE"><a href="/shop/index.html"><img src="/images/store/browse_more.gif" width="133" height="21" border="0" alt="Browse More"></a></td>
    <td NOWRAP width="50%"> 
      <table border="0" cellspacing="0" cellpadding="0">
        <tr></tr>
      </table>
    </td>
    <td><img src="/images/store/left_bottom_corner_line.gif" width="26" height="31"></td>
    <td align="center" bgcolor="#FFFFFF" height="100%" NOWRAP> <font size="3" face="Verdana, Arial, Helvetica, sans-serif"> 
      <b>$<:money total:></b></font></td>
    <td><img src="/images/store/right_bottom_corner_line.gif" width="26" height="31"></td>
  </tr>
  <tr> 
    <td width="50%"></td>
    <td width="50%"></td>
    <td></td>
    <td bgcolor="#666666"><img src="/images/trans_pixel.gif" width="1" height="1"></td>
    <td></td>
  </tr>
</table>
<:if User:>
<p>&nbsp;</p>
<:or User:>
    <br>
    <table bgcolor="#EEEEEE" border="0" cellspacing="0" cellpadding="10" width="100%">
    <tr>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2">If you wish to track the status of your order you must either <a href="/cgi-bin/user.pl?show_register=1&r=/cgi-bin/shop.pl?checkout=1"><b>Register</b></a> or <a href="/cgi-bin/user.pl?show_logon=1&r=/cgi-bin/shop.pl?checkout=1"><b>Logon</b></a> before you continue with this purchase.</font></td>
    </tr>
    </table>
    <br>
<:eif User:>
<form action="<:dyntarget shop:>" method="POST" onSubmit="BSE_validateForm();return document.MM_returnValue">
  <font face="Verdana, Arial, Helvetica, sans-serif" size="3"> <b>Billing Details:</b></font> 
  <hr noshade size="1">
  <table border="0" cellspacing="0" cellpadding="0">
    <:if Message:> 
    <tr> 
      <td colspan=2> 
        <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><:message:></font></p>
      </td>
    </tr>
    <:or Message:><:eif Message:> 
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> First 
        Name:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="billFirstName" size=34 value="<:old billFirstName:>"><:error_img billFirstName:>
        *</font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Last Name:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="billLastName" size=34 value="<:old billLastName:>"><:error_img billLastName:>
        *</font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Organization:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="billOrganization" size=34 value="<:old billOrganization:>"><:error_img billOrganization:>
        *</font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Address:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="billStreet" size=34 value="<:old billStreet:>"><:error_img billStreet:>
        *</font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> </font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="billStreet2" size=34 value="<:old billStreet2:>"><:error_img billStreet2:>
        </font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> City:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="billSuburb" size=34 value="<:old billSuburb:>"><:error_img billSuburb:>
        *</font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Postcode:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="billPostCode" size=10 value="<:old billPostCode:>"><:error_img billPostCode:>
        *</font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> State:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="billState" size=10 value="<:old billState:>"><:error_img billState:>
        *</font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Country:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="billCountry" size=20 value="<:old billCountry:>"><:error_img billCountry:>
        *</font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Email:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="billEmail" size=20 value="<:old billEmail:>"><:error_img billEmail:>
        *</font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Telephone:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="billTelephone" size=20 value="<:old billTelephone:>"><:error_img billTelephone:>
        *</font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Mobile:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="billMobile" size=20 value="<:old billMobile:>"><:error_img billMobile:>
        </font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Facsimile:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="billFacsimile" size=20 value="<:old billFacsimile:>" /><:error_img billFacsimile:>
        *</font></td>
    </tr>
    <tr> 
      <td valign="top"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Special<br />Instructions:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <textarea name="instructions" rows="5" cols="40" wrap="virtual"><:old instructions:></textarea></font><:error_img instructions:></td>
    </tr>
<:if Shipping:>
    <tr>
      <td valign="top"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Shipping<br /> method:</font></td>
      <td><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><:shipping_select:></font><:error_img shipping_name:> *
</td>
    </tr>
<:or Shipping:><:eif Shipping:>
    <tr> 
      <td valign="top"><font face="Verdana, Arial, Helvetica, sans-serif" size="2">Purchase<br />Order:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="text" name="purchase_order" value="<:old purchase_order:>" /></font><:error_img purchase_order:></td>
    </tr>
    <tr> 
      <td colspan="2"> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        * Required information for order to be shipped</font></td>
    </tr>
  </table>
  <p>&nbsp; </p>
 <:if NeedDelivery:>
  <font face="Verdana, Arial, Helvetica, sans-serif" size="3"><input type="checkbox" name="need_delivery" checked="checked" onClick="this.form.checkupdate.click()" /> <b>Shipping Details:</b></font> 
   
  <hr size="1" noshade>
  <table border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> First 
        Name:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="delivFirstName" size=34 value="<:old delivFirstName:>"><:error_img delivFirstName:>
        *</font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Last Name:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="delivLastName" size=34 value="<:old delivLastName:>"><:error_img delivLastName:>
        *</font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Organization:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="delivOrganization" size=34 value="<:old delivOrganization:>" /><:error_img delivOrganization:>
        *</font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Address:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="delivStreet" size=34 value="<:old delivStreet:>" /><:error_img delivStreet:>
        *</font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> </font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="delivStreet2" size=34 value="<:old delivStreet2:>" /><:error_img delivStreet2:>
        </font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> City:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="delivSuburb" size=34 value="<:old delivSuburb:>" /><:error_img delivSuburb:>
        *</font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Postcode:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="delivPostCode" size=10 value="<:old delivPostCode:>" /><:error_img delivPostCode:>
        *</font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> State:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="delivState" size=10 value="<:old delivState:>" /><:error_img delivState:>
        *</font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Country:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="delivCountry" size=20 value="<:old delivCountry:>" /><:error_img delivCountry:>
        *</font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Telephone:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="telephone" size=20 value="<:old telephone:>" /><:error_img telephone:>
        *</font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Mobile:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="delivMobile" size=20 value="<:old delivMobile:>" /><:error_img delivMobile:>
        </font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Facsimile:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="facsimile" size=20 value="<:old facsimile:>" /><:error_img facsimile:>
        </font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> E-mail:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="emailAddress" size=34 value="<:old emailAddress:>"><:error_img emailAddress:>
        *</font></td>
    </tr>
  </table>
  <p>&nbsp; </p>
 <:or NeedDelivery:>
   <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> <input type="checkbox" name="need_delivery" onClick="this.form.checkupdate.click()" /> Delivery details different to billing</font></p>
 <:eif NeedDelivery:>
<:include custom/checkout.include optional:>
  <p>
    <input type="submit" value="Update" name="checkupdate" />
    <input type="submit" value="Purchase Now" name="a_order">
    <input type="reset" value="Reset Form" name="reset">
  </p>
  </form>
