<:wrap base.tmpl:> 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="80%" height="24">&nbsp;&nbsp;<font face="Arial, Helvetica, sans-serif" size="4" color="#FF7F00"><b><:title:></b></font></td>
    <td height="24">&nbsp;</td>
  </tr>
  <tr> 
    <td bgcolor="#999999" colspan="2" height="1"><img src="/images/trans_pixel.gif" width="24" height="1" border="0"></td>
  </tr>
  <tr> 
    <td colspan="2"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="100"><img src="/images/trans_pixel.gif" width="100" height="10" border="0"></td>
          <td bgcolor="#999999" width="100%">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2">/ 
            <a href="<:ifAdmin:>/cgi-bin/admin/admin.pl?id=1<:or:>/<:eif:>"><font color="#FFFFFF">Home</font></a> 
            / <a href="/shop/index.html"><font color="#FFFFFF"><:article title:></font></a> 
            /</font></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<:if Order id:>
<h2>Payment for order <:arithmetic sprintf("%06d", [order id] ) :></h2>
<:or Order:>
<p> <b><font face="Verdana, Arial, Helvetica, sans-serif" size="3"> Thank you 
  for shopping at <:siteName:></font></b></p>
<:eif Order:>
<font class="article_body_text" face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
<p> The <:siteName:> store is run on a secure encrypted server, your details are 
  safe with us.</p></font> 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td align="center" bgcolor="#CCCCCC" width="100%" height="18"> <font size="2" face="Verdana, Arial, Helvetica, sans-serif"> 
      <b>Shopping Cart Items</b></font></td>
  </tr>
</table>
<table border="0" cellspacing="0" cellpadding="1" width="100%" bgcolor="#666666">
  <tr valign="middle" align="center"> 
    <td width="100%"> 
      <table width="100%" border="0" cellspacing="1" cellpadding="2" bgcolor="#EEEEEE">
        <tr valign="middle" align="center" bgcolor="#666666"> 
          <td width="100%" align="left" height="18"> &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2" color="#FFFFFF"><b>Item:</b></font>&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2" color="#FFFFFF">(All 
            prices in AUD &#150; includes GST and shipping costs where applicable)</font></td>
          <td nowrap height="18"> &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2" color="#FFFFFF"><b>Qty:</b></font>&nbsp;</td>
          <td height="18"> &nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2" color="#FFFFFF"><b>Price:</b></font>&nbsp;</td>
        </tr>
        <:iterator begin items:> 
        <tr valign="middle" align="center" bgcolor="#FFFFFF"> 
          <td width="100%" align="left"> &nbsp;<a href="<:item link:>"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><:item 
            description:>  <:options:></font></a></td>
          <td nowrap align="center"><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><:item 
            units:></font></td>
          <td align="right"> <font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><b>$<: 
            money item price :></b></font></td>
        </tr>
        <:iterator end items:> 
        <:if shipping_cost:>
        <tr valign="middle" align="center" bgcolor="#FFFFFF"> 
          <td colspan=2 width="100%" align="left">&nbsp;<font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Shipping charges (for <:shipping_method:><:if delivery_in:>, delivery in <:delivery_in:> days<:or delivery_in:><:eif delivery_in:>)</font></td>
          <td align="right"> <font face="Verdana, Arial, Helvetica, sans-serif" size="-2"><b>$<:money shipping_cost:></b></font></td>
        </tr>
        <:or shipping_cost:><:eif shipping_cost:>
      </table>
    </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">   
  <tr> 
    <td>&nbsp;</td>
    <td height="20">&nbsp;</td>
    <td height="20" bgcolor="#666666">&nbsp;</td>
    <td align="CENTER" height="20" bgcolor="#666666" NOWRAP><font size="2" face="Verdana, Arial, Helvetica, sans-serif" color="#FFFFFF"> 
      <b>GRAND TOTAL</b></font></td>
    <td height="20" bgcolor="#666666">&nbsp;</td>
  </tr>
  <tr> 
    <td width="50%" valign="MIDDLE"><a href="/shop/index.html"><img src="/images/store/browse_more.gif" width="133" height="21" border="0" alt="Browse More"></a></td>
    <td NOWRAP width="50%"> 
      <table border="0" cellspacing="0" cellpadding="0">
        <tr></tr>
      </table>
    </td>
    <td><img src="/images/store/left_bottom_corner_line.gif" width="26" height="31"></td>
    <td align="center" bgcolor="#FFFFFF" height="100%" NOWRAP> <font size="3" face="Verdana, Arial, Helvetica, sans-serif"> 
      <b>$<:money total:></b></font></td>
    <td><img src="/images/store/right_bottom_corner_line.gif" width="26" height="31"></td>
  </tr>
  <tr> 
    <td width="50%"></td>
    <td width="50%"></td>
    <td></td>
    <td bgcolor="#666666"><img src="/images/trans_pixel.gif" width="1" height="1"></td>
    <td></td>
  </tr>
</table>
<form action="<:dyntarget shop:>" method="post">
<:ifOrder id:><input type="hidden" name="order_id" value="<:order id:>" /><:or:><:eif:>
  <font face="Verdana, Arial, Helvetica, sans-serif" size="3"> <b>Payment Details:</b></font> 
  <hr size="1" noshade>
<:ifMsg:><p><b><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><:msg:></font></b></p><:or:><:eif:>
  <:if Payments CC :>
  <:if MultPaymentTypes:><p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><input type="radio" name="paymentType" value="<:paymentTypeId CC:>" <:checkedPayment CC:>> Credit Card</font></p><:or MultPaymentTypes:><input type=hidden name=paymentType value="<:paymentTypeId CC:>" <:checkedPayment CC:>><:eif MultPaymentTypes:>
  <table border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Name on 
        Card: </font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="cardHolder" size=30 value="<:old cardHolder:>"><:error_img cardHolder:>
        (As per card) *</font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Card Number:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="cardNumber" size=16 maxlength="16" value="<:old cardNumber:>"><:error_img cardNumber:>*
	  CVV: <input type="text" name="cardVerify" size="4" maxlength="4" value="<:old cardVerify:>" /><:error_img cardVerify:>  (no spaces)</font></td>
    </tr>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Expiry 
        Date:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
        <input type="Text" name="cardExpiry" size=5 maxlength="5" value="<:old cardExpiry:>"><:error_img cardExpiry:>
        (eg: 09/01) *</font></td>
    </tr>
<:if Cfg shop show_card_type:>
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Card Type:</font></td>
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> 
	<select name="cardType">
	  <option value="MC">Mastercard</option>
	  <option value="VI">Visa</option>
	  <option value="BC">Bankcard</option>
	</select>
        <:error_img cardType:>
        (eg: 09/01) *</font></td>
    </tr>
<:or Cfg:><:eif Cfg:>
  </table>
  <:or Payments:><:eif Payments:>
  <:if Payments Cheque:>
  <:if MultPaymentTypes:><p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> <input type="radio" name="paymentType" value="<:paymentTypeId Cheque:>" <:checkedPayment Cheque:>/>
    Cheque</font></p><:or MultPaymentTypes:><input type="hidden" name="paymentType" value="<:paymentTypeId Cheque:>"><:eif MultPaymentTypes:>
  <p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Please send your cheque to:</font></p>
  <ul> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> <:cfg shop address1:><br />
     <:cfg shop address2:><br />
     <:cfg shop address3:></font></ul>
  <:or Payments:><:eif Payments:>
  <:if Payments CallMe:>
   <:if MultPaymentTypes:><p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><input type="radio" name="paymentType" value="<:paymentTypeId CallMe:>" <:checkedPayment CallMe:>/> Contact me for billing details</font></p>
   <:or MultPaymentTypes:>
     <input type="hidden" name="paymentType" value="<:paymentTypeId CallMe:>">
     <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2">We will call you to arrange for payment.</font></p>
   <:eif MultPaymentTypes:>
  <:or Payments:>

  <:eif Payments:>
  <:if Payments PayPal:>
<:if MultPaymentTypes:><p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"> <input type=radio name=paymentType value="<:paymentTypeId PayPal:>" <:checkedPayment PayPal:>/>
<img src="https://www.paypal.com/en_AU/i/logo/PayPal_mark_37x23.gif" align="absmiddle" style="margin-right:7px;"><span style="font-size:11px; font-family: Arial, Verdana;">The safer, easier way to pay.</span></font></p><:or MultPaymentTypes:><input type=hidden name=paymentType value=1><:eif MultPaymentTypes:>

  <:or Payments:><:eif Payments:>
  <:include custom/payment_type.include optional:>
  <p>&nbsp; </p>
  <font face="Verdana, Arial, Helvetica, sans-serif" size="3"> <b>Tax Invoice 
  / Receipt &amp; Delivery Costs:</b></font> 
  <hr size="1" noshade>
  <table border="0" cellspacing="0" cellpadding="0" width="375">
    <tr> 
      <td> <font face="Verdana, Arial, Helvetica, sans-serif" size="2">We will 
        include a tax invoice / receipt with your order, clearly showing the GST 
        and delivery components of the purchase price.</font></td>
    </tr>
  </table>
  <p>
    <input type="submit" value="Update" name="checkupdate" />
    <input type="submit" value="Purchase Now" name="payment">
    <input type="reset" value="Reset Form" name="reset">
  </p>
  </form>
