<:wrap base.tmpl:>
<font face="Verdana, Arial, Helvetica, sans-serif" size="4"><b><:title:></b></font>
<hr noshade size="2">
<:iterator begin children:>
<:embed child:>
<:iterator separator children:>
<:iterator end children:>
