A new order has arrived:

<:include mailcommon.tmpl:>
<:.if order.paymentType == 0 -:>
Paid by credit card:
<:-  .if order.ccOnline :>
  Processed online.
  Receipt No.  : <:= order.ccReceipt:>
<:-  .else :>
  Card No.     : <:= cardNumber:>
  Expires      : <:= cardExpiry:>
  Name on Card : <:= order.ccName:>
  Card Type    : <:= order.ccType :>
<:  .end if -:>
<:-.elsif order.paymentType == 1 -:>
Will be paid by cheque
<:-.elsif order.paymentType == 2 -:>
Please call the customer to arrange for payment
<:- .elsif order.paymentType == 4 -:>
Paid by PayPal:
  Transaction id: <:order paypal_tran_id:>
<:.else -:>
<:include custom/payment_type_email.include:>
<:-.end if :>

To be shipped by: <:= order.shipping_method :>
<:.if order.instructions :>
<:with begin wrap:>Special Instruction: <:= order.instructions:><:with end wrap:>
<:-.end if -:>

<:-.set files = [ order.files ] -:>
<:-.if files.size :>
File                                               Available
-------------------------------------------------- ---------
<:.for file in files -:>
<:= file.displayName.format("%-50s") |raw:> <:= order.file_available(file) ? "Yes" : "No" :>
<:.end for -:>
<:.end if :>
