You have created an order with <:siteName:>:

To stay up to date on the status of your order, see:

  <:= cfg.user_url("user", "oda", "id", order.randomId) |raw:>

<:include mailcommon.tmpl:>

<:.if order.paymentType == 0 -:>
Paid by credit card:
<:-  .if order.ccOnline :>
  Processed online.
  Receipt No.  : <:= order.ccReceipt:>
<:  .end if -:>
<:-.elsif order.paymentType == 1 -:>
Will be paid by cheque
<:-.elsif order.paymentType == 2 -:>
Please call the customer to arrange for payment
<:- .elsif order.paymentType == 4 -:>
Paid by PayPal:
  Transaction id: <:order paypal_tran_id:>
<:.else -:>
<:include custom/payment_type_email.include:>
<:-.end if :>
To be shipped by: <:= order.shipping_method :>
<:.if order.instructions -:>
<:with begin wrap:>Special Instruction: <:= order.instructions:><:with end wrap:>
<:.end if -:>
