You have created an order with <:siteName:>:

Order: <:order id |%06d:>

Delivery: <:order delivFirstName :> <:order delivLastName :>
          <:order delivStreet:>
          <:order delivSuburb:> <:order delivPostCode:> <:order delivState:>
          <:order delivCountry:>

Phone   : <:order telephone:>
Fax     : <:order facsimile:>
Email   : <:order emailAddress:>

Product                                   Units  Price   Extended
-----------------------------------------------------------------
<:iterator begin items:><:product title |42:><:item units|%2d:><:item price |m10:><:extended price|m11:><:if Options:>
   <:options:><:or Options:><:eif Options:>
<:iterator separator items:><:iterator end items 
:>-----------------------------------------------------------------
                                                Total: <:order total |m10:>
						  GST: <:order gst   |m10:>

<:ifEq [order paymentType] "0" :>Paid by credit card.<:or:><:eif
:><:ifEq [order paymentType] "1" :>Will be paid by cheque<:or
:><:eif:><:ifEq [order paymentType] "2"
:>We will call you to arrange for payment<:or:><:eif:>
