<:wrap base.tmpl:> 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="80%" height="24">&nbsp;&nbsp;<font face="Arial, Helvetica, sans-serif" size="4" color="#FF7F00"><b><:title:></b></font></td>
    <td height="24">&nbsp;</td>
  </tr>
  <tr> 
    <td bgcolor="#999999" colspan="2" height="1"><img src="/images/trans_pixel.gif" width="24" height="1" border="0"></td>
  </tr>
</table>
<form name="search" method="GET" action="/cgi-bin/search.pl">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td width="70"> <font face="Verdana, Arial, Helvetica, sans-serif" size="-2"> 
        <b>Keywords: </b></font></td>
      <td width="10">&nbsp;&nbsp; </td>
      <td width="100%"> 
        <input type="text" name="q" size="45" value="<:terms:>">
        &nbsp; 
        <input type="submit" accesskey="s" value="Search" name="submit">
      </td>
    </tr>
    <tr> 
      <td width="70" height="5"><img src="/images/trans_pixel.gif" width="1" height="5"></td>
      <td width="10" height="5"><img src="/images/trans_pixel.gif" width="1" height="5"></td>
      <td width="100%" height="5"><img src="/images/trans_pixel.gif" width="1" height="5"></td>
    </tr>
    <tr> 
      <td width="70"> <font face="Verdana, Arial, Helvetica, sans-serif" size="-2"> 
        <b>Search: </b></font></td>
      <td width="10">&nbsp; </td>
      <td width="100%"> <:list:> &nbsp; <font face="Verdana, Arial, Helvetica, sans-serif" size="-2"> 
        <b>Date:&nbsp;&nbsp;</b></font> 
        <select name="d">
          <option value="ar" <:dateSelected ar:>>All Current</option>
          <option value="r1" <:dateSelected r1:>>Released Today</option>
          <option value="r7" <:dateSelected r7:>>Released within last 7 days</option>
          <option value="e7" <:dateSelected e7:>>Archived within last 7 days</option>
          <option value="e30" <:dateSelected e30:>>Archived within last 30 days</option>
          <option value="ae" <:dateSelected ae:>>Archives</option>
        </select>
      </td>
    </tr>
  </table>
</form>
<:if Search:> <: if Results:>
<p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> <:count:> <:if 
  Multiple:>documents<:or Multiple:>document<:eif Multiple:> matched your search 
  requirements:</font></p>
<: iterator begin results:> 
<dl> 
  <dt> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> <b> <:resultSeq:> 
    . </b></font> <a href="<:articleurl:>"><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><b><:result 
    title:></b></font></a> 
  <dd> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> <:excerpt:></font> 
    <br>
    <font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#808080"> 
    Last modified on: <:date result lastModified:></font> <:if Keywords:> <br>
    <font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#808080"> 
    Keywords: <:keywords:></font><:or Keywords:><:eif Keywords:> 
</dl>
<: iterator separator results:> <: iterator end results:> 
<hr noshade size="1" width="100%">
<font face="Verdana, Arial, Helvetica, sans-serif" size="2"> Result Pages: | <:iterator 
begin pages:> <:if CurrentPage:> <b><:page:></b> | <:or CurrentPage:> <a href="<:pageurl:>"><b><:page:></b></a> 
| <:eif CurrentPage:> <:iterator separator pages:> <:iterator end pages:></font> 
<:or Results:> 
<p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> No documents 
  were found that matched your search requirements.</font></p>
<: eif Results:> <:or Search:> 
<p> <font face="Verdana, Arial, Helvetica, sans-serif" size="2"> All lower case 
  will search case insensitively, if an upper case character is present in a word 
  then that word will be searched case sensitively. Results are returned if any 
  one of the words is found in the document. You can group words using single 
  or double quotes to find things like "search engine". </font></p>
<:eif Search:> 
