<html>
<head>
<title>APP Store</title>
<meta name="ROBOTS" content="ALL">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Expires" content="Thu, 01 Jan 1970 00:00:00 GMT">
<link rel="stylesheet" href="/css/style-main.css">

</head>

<body bgcolor="#FFFFFF" text="#000000" link="#333399" vlink="#333399" alink="#CC0033" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr valign="top"> 
    <td width="150"><!-- #BeginLibraryItem "/Library/search.lbi" --><table width="100%" border="0" cellspacing="0" cellpadding="5" name="search">
              <tr align="center"> 
                <td> 
                  <form name="search" method="GET" action="/cgi-bin/search.pl">
                    <input type="hidden" name="s" value="">
                    <input type="hidden" name="d" value="ar">
                    <input type="hidden" name="m" value="0">
                    <br>
                    <nobr> 
                    <input type="text" name="q" size="14">
                    <input type="submit" value="Go" name="submit">
                    <br>
                    <font face="Verdana, Arial, Helvetica, sans-serif" size="-2"> 
                    Try our <a href="/cgi-bin/search.pl">advanced search</a></font></nobr> 
                  </form></td></tr>
            </table><!-- #EndLibraryItem --> <!-- #BeginLibraryItem "/Library/nav.lbi" --><table width="150" border="0" cellspacing="0" cellpadding="0" name="nav">
        <tr> 
          <td> <:iterator begin level1:> <:if Level2:> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td> 
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr bgcolor="#CCCCFF"> 
                      <td height="20" width="100%" nowrap><font class="nav_head" face="Verdana, Arial, Helvetica, sans-serif" size="-2"><b>&nbsp;<a href="<:url level1:>"><:level1 
                        title:></a></b></font></td></tr>
                  </table></td></tr>
              <tr> 
                <td> 
                  <table width="100%" border="0" cellspacing="0" cellpadding="5">
                    <tr> 
                      <td> <font class="nav_link" face="Verdana, Arial, Helvetica, sans-serif" size="-2"><:iterator 
                        begin level2:><a href="<:url level2:>"><:level2 title:></a> 
                        <:iterator separator level2:><br>
                        <img src="/images/trans_pixel.gif" width="2" height="4" border="0"><br>
                        <:iterator end level2:> </font></td></tr>
                  </table></td></tr>
            </table><:or Level2:> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td> 
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr bgcolor="#CCCCFF"> 
                      <td height="20" width="100%" nowrap><font class="nav_head" face="Verdana, Arial, Helvetica, sans-serif" size="-2"><b>&nbsp;<a href="<:url level1:>"><:level1 
                        title:></a></b></font></td></tr>
                  </table></td></tr>
            </table><br>
            <:eif Level2:><:iterator separator level1:><:iterator end level1:> 
          </td></tr>
      </table><!-- #EndLibraryItem --></td>
    <td width="100%">APP Store 
      <hr noshade width="100%" size="1">
      <p><font face="Arial, Helvetica, sans-serif" size="3" color="#660033"><span class="article_body_heads"><b><a name="security"></a>Security</b></span></font></p>
      <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><span class="article_body_text"><a href="http://www.thawte.com"><img src="/images/stamp.gif" width="150" height="101" align="RIGHT" border="0"></a>We 
        want to ensure you shop with confidence. That&#146;s why transactions 
        at our website take place in a safe and secure environment. All the information 
        you provide us with is ecrypted using SSL (Secure Sockets Layer) technology.</span></font></p>
      <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><span class="article_body_text">Simply, 
        this means no one else is able to see or read the information you send 
        on-line. You can tell your browser is operating in a secure environment 
        when you see the padlock icon in the bottom corner of your browser window. 
        We decode your information and process your payment with the bank, just 
        as it would be done if you were providing your credit card details in 
        person or by telephone. For further details, visit, <a href="http://www.thawte.com">http://www.thawte.com</a>.</span></font></p>
      <p><font face="Arial, Helvetica, sans-serif" size="3" color="#660033"><b class="article_body_heads"><a name="ordering"></a>Ordering</b> 
        </font></p>
      <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><span class="article_body_text"><b>Step 
        1</b> &#150; Browse our catalogue: The store lists books, resources and 
        event tickets. Click on an item for more information. Click &#145;Add 
        to cart&#146; if you&#146;d like to buy this item. If it&#146;s the only 
        item you want buy, click &#145;Checkout&#146;. If you wish to keep browsing 
        click&nbsp;&#145;browse&nbsp;more items&#146;. The shipping cost shown 
        for each item is included in the item cost. You can remove items from 
        your shopping cart or cancel your order at any time. </span></font></p>
      <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><span class="article_body_text"><b>Step 
        2</b> &#150; Your shopping cart: Click on &#145;View cart&#146; at any 
        time to see what&#146;s in your cart. To change the order quantity of 
        any item, simply change the number in the quantity column and click &#145;Recalculate&#146; 
        to update the Grand Total. Click &#145;Remove&#146; if you change your 
        mind and want to remove an item from your cart. If you&#146;re ready to 
        place your order, click &#145;Checkout&#146;. </span></font></p>
      <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><span class="article_body_text"><b>Step 
        3</b> &#150; Checkout: Fill in your name, shipping address and credit 
        card information. Click &#145;Purchase Now&#146; to finalise your order. 
        Information sent to us is encrypted using SSL (Secure Sockets Layer) technology, 
        so no prying eyes can see your details.</span></font></p>
      <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><span class="article_body_text">If 
        you don&#146;t feel comfortable making an on-line payment you can post 
        a cheque made payable to &#145;bodyscoop.com&#146; to: body Scoop Store, 
        38 West Street, Petersham NSW 2049.</span></font></p>
      <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><span class="article_body_text">We&#146;ll 
        process your order and ship your purchase within 24 hours (out of stock 
        items may take longer, but we&#146;ll let you know in the store). You 
        can check the status of your order at any time by contacting us at <a href="mailto:thestore@bodyscoop.com.au">thestore@bodyscoop.com.au</a> 
        </span></font></p>
      <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><span class="article_body_text"><b>Step 
        4</b> &#150; Receipt After you&#146;ve made your payment we&#146;ll give 
        you a receipt number. You can print this as your body Scoop receipt. We&#146;ll 
        also email it to you. Please quote this number if making any inquiries. 
        </span></font></p>
      <p><font face="Arial, Helvetica, sans-serif" size="3" color="#660033"><span class="article_body_heads"><b><a name="returns"></a>Returns</b></span></font></p>
      <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><span class="article_body_text">You 
        can return items in their original within 30 days &#150; no questions 
        asked. All we need is your receipt. </span></font></p>
      <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><span class="article_body_text">If 
        goods are damaged when you receive them we&#146;ll send an undamaged replacement 
        at no charge. You¹ll need to return the damaged item so we can check it. 
        </span></font></p>
      <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><span class="article_body_text">Refunds 
        for credit card purchases will be credited directly to the card number 
        supplied. All other refunds will be made by cheque. </span></font></p>
      <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><span class="article_body_text">If 
        you wish to cancel an order, please do so quickly as we always try to 
        dispatch items within 24 hours. You can call us on 61 2 9590 4464 or email 
        us at <a href="mailto:thestore@bodyscoop.com.au">thestore@bodyscoop.com.au</a> 
        You can&#146;t cancel an order after it has been dispatched, but you can 
        return it. </span></font></p>
      <p><font face="Verdana, Arial, Helvetica, sans-serif" size="2"><span class="article_body_text">Make 
        sure you let us know how to improve our customer service, if you have 
        any ideas. </span></font></p>
    </td>
  </tr>
</table>
</body>
</html>

