<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >  
<html><head><title><:cfg site name:> - <:param title:></title>
<link rel="stylesheet" href="/css/style-main.css" />
</head>
<body>
<:wrap here:>
</body></html>
